

.onglets::last-child
{
	margin-right:0px;
}

.onglet
{
  display:inline-block;
  margin-right:3px;
  padding:8px 6%;
  cursor:pointer;
	text-align: center;
	background-color: rgba(245, 245, 245, 0.5);
	width: auto;
	//white-space: nowrap;
}
.onglet_0
{
  
}
.onglet_1
{
	color: #007cb7;
	background-color: #f5f5f5;
}
.contenu_onglet
{
    background-color: #f5f5f5;
    margin-top:-1px;
    padding:2% 15px;
    display:none;
}
ul
{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px
}
h1
{
    margin:0px;
    padding:0px;
}
#dashboardTableCours .coursRow
{
	margin: 20px 0;
	padding: 0;
	height: 175px;
	position: relative;
	
}



.coltumbnail {
    width: 210px;
    height: 150px;
		position: absolute;
		top: 25px;
		background-color: #007cb7;
}

.thumbnailimage {
  width: 100%;
  height: 144px;
  display: block;
}


.fdhumbnail
{
	width: 100%;
	height: 100%;
	padding: 20px;
	opacity: 0;
	background-color: rgba(0, 124, 183, 0.7);
	transition: opacity 0.5s;
}

.borderWhite {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 6px solid #fff;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	color: #fff;
	font-size: 1em;
	font-family: 'Oswald', 'Helvetica';
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: rgba(0, 124, 183, 0.7);
	display: table;
}
.borderWhite p{
	vertical-align: middle;
  display: table-cell;
  line-height: normal;
}


#dashboardTableCours .coltumbnail:hover .fdhumbnail
{
	opacity: 1;
} 
.coursProgressBar
{
	position: absolute;
	width: 100%;
	height: 25px;
  left: 0px;
	padding-left: 210px;
}

.progress {
  overflow: visible;
  height: 5px;
  margin: 25px 0 0 0;
	background: none;
  background-color: #c5c5c5;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #007cb7;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
	//cursor: pointer;
}
.progressvaluebloc
{
	text-align: center;
	font-family: 'Oswald', 'Helvetica';
	letter-spacing: 1px;
	color: #007cb7;;
	font-size: 0.8em;
	font-weight: 800;
	line-height: 0.8em;
	height: 25px;
}

.progressvaluebloc .arrow3
{
	margin-bottom: 5px;
	border: 2px solid #007cb7;
	border-radius: 4px;
	padding: 3px 2px;
  width: 45px;
	margin-left: -15px;
}

.progressvaluebloc .arrow3Left
{
	margin-left: 0px;
}

.arrow3:before {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    border-right: 4px solid transparent;
    border-top: 5px solid #007cb7;
    border-left: 4px solid transparent;
    content: '';
}

.arrow3Right:before {
		margin-left: 30px;
}

.arrow3left:before {
		margin-left: -10px;
}

.progressvalue {
  visibility: hidden;
}

.progressvaluevisible {
    visibility: visible;
}

.coursTxt
{
	width: 100%;
	position: absolute;
	top: 25px;
	padding: 0px 10px 3px 220px;
  background-color: #fff;
  height: 150px;
}

.titlecourse{
	display: block;
	color: rgba(181, 181, 181, 1);
	font-family: 'Oswald', Arial, Helvetica, Verdana;
	font-size: 1.3em;
	line-height: 1.8em;
  padding-top: 10px;
	text-transform: uppercase;
	white-space: nowrap;
  overflow: hidden;
	-webkit-box-orient: vertical;
	-o-text-overflow: ellipsis; 
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.moodecdashboard_description_line {
  font-size: 0.8em;
	line-height: 1.2em;
  font-style: italic;
  color: grey;
}

.summary {
	padding: 0;
	height: 72px;

}

.alert {
	margin-top: 20px;
	text-align: center;
}



@media only screen and (max-width: 1280px)
{
	.onglet
	{
		padding:8px 3%;
	}
}






@media only screen and (max-width: 620px)
{
	.onglet
	{
		padding:8px 1.5%;
		letter-spacing: 1px;
    text-transform: lowercase;
		max-width: 110px;
    line-height: 20px;
	}
	
	#dashboardTableCours .coursRow
	{

		height: 370px;
		border: 1px solid #b5b5b5;
		background-color: #fff;
	}

	
	.coltumbnail {
    width: 100%;
    height: 200px;
		top: 0;
		cursor: pointer;
	}
	
	.thumbnailimage 
	{

		height: 194px;
	}
	
	.fdhumbnail {

	}
	
	.borderWhite
	{
	
	}
	.coursProgressBar
	{
		bottom: 0px;
		padding: 0px;
		height: 30px;
	}
	
	.arrow3:before 
	{
    bottom: 5px;
	}
	
	.coursTxt
	{
		width: 100%;
		padding: 5px 20px;
		top: 200px;
		height: 155px;
	}
	
	.summary 
	{
		height: auto;
		overflow: initial;
	}

}
