#page-mod-moodeccertificate-list_certificates #region-main, 
#page-mod-moodeccertificate-verify_certificate  #region-main
{
	background-color:transparent;
	width: 90%;
	margin: 0 auto;
	float: initial;
}
#page-mod-moodeccertificate-verify_certificate  #region-main
{
	width: 98%;
}

#table_certificate td:hover {
    cursor: pointer;
}
.rowHidden{
	display:none;
}


.formGroup {
    display:table-row;
}
#page.certificate
{
	 width:90%;
	 margin: 0 auto;
}



#frmCertificate, #list_certificate{
  margin: 30px auto;
	padding: 2%;
	width: 100%;
	background-color: rgba(235, 235, 235, 0.8);
	border: 1px solid #d5d5d5;
}

#frmCertificate h1, 
#list_certificate h1
{
    color: #007cb7;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 400;
		padding: 0 0 10px 8px;
}

#list_certificate #nocertificate{
	width: 80%;
    margin: 50px auto;
    text-align: center;
    font-family: 'Oswald', 'Helvetica';
    color: #b5b5b5;
    font-size: 2em;
    line-height: 3em;

}

#frmCertificate #frm{
	padding: 2%;
	display: table;
	width: 100%;
	border-spacing: 15px;
	background-color: rgba(250, 250, 250, 0.7);
	margin-bottom: 15px;
}

#list_certificate #list
{
	width: 100%;
	margin-bottom: 15px;
}


#list_certificate  .objCertificate
{
	background: rgba(250, 250, 250, 0.7) url([[pix:moodeccertificate|icon]]) no-repeat 5px 10px;
	background-size: 60px auto;
	padding: 5px 5px 5px 70px;
	width: 48%;
	height: 150px;
	margin: 1%;
	display: inline-block;
  vertical-align: top;
	border: 1px solid #ccc;
	position: relative;
}

#list_certificate  .objCertificate h3
{
	line-height: 20px;
}

#list_certificate  .objCertificate span
{
	font-size: 14px;
	font-style: italic;
	color: #666;
}

#list_certificate  .objCertificate .singlebutton
{
	position: absolute;
	bottom: 0;
	left: calc(50% - 60px);
}
#list_certificate  .objCertificate .singlebutton input[type="submit"]
{
	background: #007cb7 url([[pix:t/downloadWhite]])no-repeat 6px center;
	background-size: 18px 18px;
	padding: 4px 6px 4px 35px;
}

#list_certificate  .objCertificate .singlebutton input[type="submit"]:hover
{
	background-color: #005792;
}

#frmCertificate input, #frmCertificate label,#infoCertificate span{
    display:table-cell;
    vertical-align: top;
		width: 50%;
		min-width: 200px;
}
#frmCertificate label {
	line-height: 30px;
	min-width: 100px;
	font-weight: 600;
  cursor: auto;
	text-align: right;
}
 #frmCertificate input,#infoCertificate span{
    width: 100%;
		margin: 0;
}

#frmCertificate #info {
	font-family: 'Oswald', 'Helvetica';
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	display: none;
	background-color: rgba(250, 250, 250, 0.7);
}

#frmCertificate #info div
{
	margin: 20px auto 5px;
	display: inline-block;
	padding: 45px 4px 4px 4px
}

#frmCertificate #info .error {
  color:red;
	background: url([[pix:theme|cross2]])no-repeat center top;
	background-size: 50px;
}

#frmCertificate #info .success {
  color : green;
	background: url([[pix:theme|tick2]])no-repeat center top;
	background-size: 50px;
}





#frmCertificate .btnAction {
	display: block;
	width: 150px;
	margin: 0 auto;
}

#infoCertificate {
    display: none;
    padding:15px;
		width: 100%;
		background-color: rgba(250, 250, 250, 0.7);
		border: 0;
    border-bottom-width: 1px;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
    -moz-border-image: -moz-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
    -o-border-image: -o-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
    border-image: linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
    border-image-slice: 1;
}

#infoCertificate span, #infoCertificate label{
    cursor: auto;
    line-height:30px;
		width: 50%;
		min-width: 200px;
		padding: 0 5px;
}

#infoCertificate label{
	color: #007cb7;
	font-family: 'Oswald', 'Helvetica';
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	
}

#list_certificate ul {
  list-style-type: none;
  width: 100%;
}

#frm_list_certificate {
	padding: 2%;
    width: 100%;
	margin: 30px auto;
    width: 90%;
    background-color: rgba(235, 235, 235, 0.8);
    border: 1px solid #d5d5d5;
}



#list_certificate li img {
  float: left;
  margin: 0 15px 0 0;
}

#list_certificate li p {
  font: 200 12px/1.5 ;
}

#list_certificate  li {
  padding: 10px;
  overflow: auto;
}

#list_certificate .singlebutton div {
	margin-left:0px;
}

#inner {
    width: 50%;
    margin: 0 auto;
}



@media screen and (max-width: 1024px) {
	#list_certificate  .objCertificate
	{
		width: 98%;
		margin: 1%;
		display: block;
	}
}

@media screen and (max-width: 600px)
{
	#frmCertificate label,
	#frmCertificate span
	{
		display: block;
		width: 100%;
    text-align: center;
		text-align: left;
	}
	
	#frmCertificate .formGroup
	{
		display: block;
		margin-bottom: 10px;
	}
}
