@font-face {
    font-family: 'hooray';
    src: url('[[setting:fontwww]]hooray.eot');
    src: url('[[setting:fontwww]]hooray.eot?#iefix') format('eot'),
         url('[[setting:fontwww]]hooray.woff') format('woff'),
         url('[[setting:fontwww]]hooray.ttf') format('truetype'),
         url('[[setting:fontwww]]hooray.svg#webfontjKg17VrE') format('svg');
}
@font-face{
	font-family: 'conduitHES';
	src:url([[setting:fontwww]]ConduitITCBold.eot);
	src:url([[setting:fontwww]]ConduitITCBold.eot?#iefix) format('embedded-opentype'),
			url([[setting:fontwww]]ConduitITCBold.woff) format('woff'),
			url([[setting:fontwww]]ConduitITCBold.ttf) format('truetype'),
			url([[setting:fontwww]]ConduitITCBold.svg) format('svg');
	font-weight:400;
	font-style:normal
}

/************************ change css bootstrapbase ***********************************/


 input.form-submit,input#id_submitbutton,input#id_submitbutton2,.path-admin .buttons input[type="submit"],td.submit input
 {color:#fff;
 text-shadow:0 -1px 0 rgba(0,0,0,0.25);
 background-color:#005aa8;*background-color:#293D59;
 background-image:-moz-linear-gradient(top,#007cb7,#293D59);
 background-image:-webkit-gradient(linear,0 0,0 100%,from(#007cb7),to(#293D59));
 background-image:-webkit-linear-gradient(top,#007cb7,#293D59);
 background-image:-o-linear-gradient(top,#007cb7,#293D59);
 background-image:linear-gradient(to bottom,#007cb7,#293D59);
 background-repeat:repeat-x;
 border-color:#293D59 #293D59 #001e5c;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0070a8',endColorstr='#ff0038a8',GradientType=0);
 filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
 }



input.form-submit:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, input.form-submit:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, td.submit input:focus, input.form-submit:active, input#id_submitbutton:active, input#id_submitbutton2:active, .path-admin .buttons input[type="submit"]:active, td.submit input:active, input.form-submit.active, input#id_submitbutton.active, input#id_submitbutton2.active, .path-admin .buttons input.active[type="submit"], td.submit input.active, input.form-submit.disabled, input#id_submitbutton.disabled, input#id_submitbutton2.disabled, .path-admin .buttons input.disabled[type="submit"], td.submit input.disabled, input.form-submit[disabled], input#id_submitbutton[disabled], input#id_submitbutton2[disabled], .path-admin .buttons input[type="submit"][disabled], td.submit input[disabled]
{
  color: #ffffff;
  background-color: #293D59;
}


.fp-pathbar .fp-path-folder {
	opacity: 0.5;
}


table#form td.submit, .form-buttons, .path-admin .buttons, #fitem_id_submitbutton, .fp-content-center form+div, div.backup-section+form, #fgroup_id_buttonar {
  border: 1px solid #e5e5e5;
}



a{
	color: #007cb7;
	//text-decoration: underline;
}

.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
  width: 1330px;
}


.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
  width: 1000px; 
}





dt, dd {
  line-height: 24px;
	margin-top: 4px;
	
}

select {
  width: auto;
	margin-right: 2%;
	max-width: 500px;
}

select#id_assesstimestart_day, 
select#id_assesstimestart_month, 
select#id_assesstimestart_year, 
select#id_assesstimestart_hour, 
select#id_assesstimestart_minute, 
select#id_assesstimefinish_day, 
select#id_assesstimefinish_month, 
select#id_assesstimefinish_year, 
select#id_assesstimefinish_hour, 
select#id_assesstimefinish_minute
{
	  width: auto;
}

input[type="radio"], input[type="checkbox"] {
  margin-left: 7px;
}

.boxwidthnormal {
  width: 100%; 
}

.user-enroller-panel, .yui3-overlay , .enrolpanel {
  z-index: 300;
}

.enrolpanel, 
.user-enroller-panel, 
.moodle-dialogue-base .moodle-dialogue-wrap {
	background: none;
	background-color: #fff;
  border: 5px solid #007cb7;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
	-webkit-box-shadow: 0px 0px 100px 0px #213C51;
  -moz-box-shadow: 0px 0px 100px 0px #213C51;
  box-shadow: 0px 0px 100px 0px #213C51;
}
.enrolpanel .container {
  background-color: #fff;
  top: 0px;
	border:  none;
}

.enrolpanel .container div.header,  .enrolpanel .container div.content {
  display: block;
  min-width: 100%;
  width: 100%;
  border: none;
}
.enrolpanel .container .header h2 {
  font-size: 100%;
}
.user-enroller-panel .uep-header .close, 
.enrolpanel .container .header .close {
  top: 5px;
  right: 5px;
	opacity: 0.4;
}

.user-enroller-panel .uep-header .close:hover, 
.enrolpanel .container .header .close:hover {
	opacity: 1;
}
.enrolpanel .container .content input {
  font-size: 12px;
}



.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
  font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
	font-weight: 300;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px;
  background: none;
}

.moodle-dialogue-base .closebutton {
	opacity: 0.4;
}

.moodle-dialogue-base .closebutton:hover {
	opacity: 1;
}

.user-enroller-panel .uep-wrap {
  margin: 0;
  border: none;
}










.user-enroller-panel .uep-search input.uep-search-btn {
  width: 30%;
}







.section .activity .contentwithoutlink, .section .activity .activityinstance {
  min-height: 1em;
  margin-top: 5px;
	
}

.message .contactselector {
	width: 30%;
}

.message .singleselect {
  display: block;
	width: 96%;
  margin: 0 auto;
}




.message .messagearea {
	width: 65%;
	margin-left: 2%;
	padding-left: 2%;
}
.message .contactselector form {
  max-width: 98%;
  margin: 0 auto;
}

.message .contactselector form  select {
	max-width: 98%;
}

a.skip-block, a.skip {
  top: 0;
  left: -1000em;
}

#dock {
  z-index: 11000;
}

.breadcrumb>li {
  text-shadow: none;
}

textarea[cols], input[size] {
  width: 100%;
}


.block .minicalendar td.weekend {
  color: #ccc;
}


.block_progress .singlebutton div {
  margi: 0px; 
	margin-bottom: 4px;
}

div.yui3-widget-stacked{
	//z-index: 20000!important;
}

.yui3-widget-content-expanded
{
	    min-height: 590px;
}

@media only screen and (max-width: 767px)
{
.notfrontpage #pageheader-top-left, .notfrontpage #pageheader-top-right, .notfrontpage #pageheader-middle-left, .notfrontpage #pageheader-middle-middle {
  display: block !important;
}
}

@media (min-width: 1200px)
{
	.form-item .form-setting, .form-item .form-description, .mform .fitem .felement, #page-mod-forum-search .c1, .mform .fdescription.required, .userprofile dl.list dd, .form-horizontal .controls {
		margin-left: 200px; 
	}
	.form-item .form-label, .mform .fitem div.fitemtitle, .userprofile dl.list dt, .form-horizontal .control-label {
		width: 180px;
	}
	
}

@media (max-width: 1199px) and (min-width: 980px)
{
	.form-item .form-label, .mform .fitem div.fitemtitle, .userprofile dl.list dt, .form-horizontal .control-label {
		width: 180px;
	}
	
	.form-item .form-setting, .form-item .form-description, .mform .fitem .felement, #page-mod-forum-search .c1, .mform .fdescription.required, .userprofile dl.list dd, .form-horizontal .controls {
		margin-left: 200px;
	}
}

/********************************************************************* Common ***********************************************************************/


body{
  margin: 0px;
  padding: 0px !important;
  line-height: normal !important;
	background: #ffffff url([[pix:theme|bgMoodle]]) no-repeat top left;
	background-size: 100% auto;
	background-attachment: fixed;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
  line-height: 20px;
  color: #333333;
}

* {//-moz-box-sizing: border-box; //box-sizing: border-box;}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
{
  display: block;
}

th {
    text-align: left;
}
hr{
    height: 1px !important;
    color: #cccccc !important;
    background-color: #cccccc !important;
    border: 0 !important;
}
.block{
  border-top-width: 0;
	margin: 0 ;
  padding: 25px;
  border: 0 ; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 20px;
}

#intro.generalbox{
    margin-top:0;
}

h1,h2,h3,h4,h5,h6, .fheader, thead, td.header, .textOsw, #pageheader .usermenu a{
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
	text-transform: uppercase; 
	letter-spacing: 1px;
}

h1{
	font-size: 1.4em;
	font-weight: 300;
}
h2{
	font-size: 1.2em;
	font-weight: 300;
}
h3{
	font-size: 1.15em;
	font-weight: 300;
}
h4{
	font-size: 1.1em;
	font-weight: 200;
}
h5{
	font-size: 1.05em;
	font-weight: 200;
}
h6{
	font-size: 1em;
	font-weight: 100;
}

img
{
  vertical-align: middle;
  border: none;
}


a:hover{
    text-decoration: underline !important;
}
a:link, a:hover, a:visited, a:active, span.flagged-tag a
{
  color: #0164a7;
}

.row-fluid
{
  width: 100%;
	margin: 0 auto;
	
}


.dir-ltr, .mdl-left, .dir-rtl .mdl-right
{
  text-align: left;
}

.block_navigation .block_tree .type_activity > p.tree_item.branch.hasicon.active_tree_node, .block_navigation .block_tree .tree_item
{
  padding-left: 0px;
  margin-top: 3px;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
  text-align: left;
}

.block_navigation .block_tree .tree_item.branch
{
  background-image: url([[pix:t/expanded]]);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.jsenabled .block_navigation .block_tree .tree_item.branch
{
  cursor: pointer;
}

.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch
{
  background-image:  url([[pix:t/collapsed]]);
}
/************************** Header **************************/
.block .header, .block h2.header{
    padding: 0;
    margin: 0;
}

.block .header .title{
 padding: 0;
}
.block .header .block_action{
 padding: 0;
 margin-top: 8px;
}
h2.headingblock{
    margin: 0;
    border: 0;
}
/** .header class exists in head and content **/

/* no color on startpage */
#page-front-right .header{
    background-color: transparent !important;
}
.header a{
    /*color: #FFFFFF !important;*/
}
th.header a{
    border-bottom: 1px dotted #FFFFFF;
}
#show_header{
    display: none;
    font-size: 13px;
}
#pageheader{
	margin-right: auto !important;
  margin-left: auto !important;
  border: 0 !important;
  width: 100% !important;
	background-color: #fff;
}
#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    margin-right: auto !important;
    margin-left: auto !important;
    border: 0 !important;
    width: 1660px;
    max-width: 1660px;
		
		color: #7a7a7a;
}

#pageheader a
{
	color: #b8b8b8;
}
#pageheader .usermenu a
{
	color: #333;
	
}

#pageHeaderMenu{
	margin-right: auto !important;
  margin-left: auto !important;
  border: 0 !important;
  width: 100% !important;
	height: 56px;
	max-height: 56px;
	background-color: #000;
}
#pageHeaderMenuContenu {
  position: relative;
  width: 100%;
  max-width: 100%;
}
#pageheader-menu-left{
    float: left;
		width: 80%;
    min-height: 50px;
		max-height: 50px;
    margin-left: 20px;
		
}

#pageheader-menu-left a#pull {  
  display: none;  
	COLOR: #ffffff;
	font-weight:600;
	text-transform: uppercase; 
	font-size: 1.6em;
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	line-height: 56px;
	padding-left: 8%;
} 

#pageheader-menu-left ul#menu{
	position: relative;
	text-align: left;	
	width: 100%;
	padding: 0;
	margin: 0;
}

#pageheader-menu-left ul#menu li{
	display: inline-block;
	float: left;
	height: 56px;
	line-height: 56px;
	//min-height: 60px;
	padding-left: 8px;
	padding-right: 8px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#pageheader-menu-left div{
	display: inline-block;
	padding: 0;
	margin: 0;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 12px;
	height: 44px;
	margin-left: -5px;
	
}

#pageheader-menu-left a{
	color: #fff;
	text-transform: uppercase; 
	font-size: 1.6em;
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
	//font-weight: 600;
	margin-left: 8px;
	margin-right: 8px;
	letter-spacing: 1px;
}

#pageheader-menu-left #menu2{
	background-color: #424141;
}

#pageheader-menu-left #menu3{
	background: #595858 url([[pix:theme|bgMenu3]]) no-repeat bottom right;
}

#pageheader-menu-left a img{
	margin-top: 16px;

}
#pageheader-menu-right{
    min-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
		padding-top: 8px;
		vertical-align: middle !important;
		text-align: right;
		position: absolute;
		right: 0px;
		top: 0px;
}		

#logo{
	display: block;
	
	width: 53.5px;
	height: 45px;
	background: #000000 url([[pix:theme|logo_abre_webWhite]]) no-repeat center right;
	background-size: 53.5px auto;
}


#pageheader-menu-right #logoHeader{
	width: 205px;
	height: 45px;
}

#pageheader-menu-right #logoHeaderAbre{
	width: 53.5px;
	height: 45px;
}

#pageHeaderMenuContenu{
	max-width: 1660px; 
}

#pageheader-top-left{
    float: left;
    width: 49%;
		min-width: 230px; 
    margin-left: 1%;
    font-size: 14px;
		font-weight: 500;
		
    padding-top: 6px;
    padding-bottom: 10px;
}
#pageheader-top-right{
    float: right;
		width: 49%;
    margin-right: 1%;
    font-size: 14px;
		font-weight: 500;
		//padding-top: 4px;
		text-align: right;
		//padding-bottom: 3px;
}
#pageheader-top-left{
}

#pageheader-top-right a{
  line-height: 35px; 
	vertical-align: middle;
}

.jsenabled .usermenu .moodle-actionmenu.show {
    background-color: transparent;
}

#pageheader-top-right .loginName, #pageheader-top-right .usertext{
	color: #000;
	text-transform: uppercase; 
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	margin-right: 5px;
}



.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars
{
	width: 24px!important;
	height: 24px!important;
}
.userloggedinas .usermenu .userbutton .avatars .avatar.current
{
	width: 24px!important;
	height: 24px!important;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars img 
{
	width: 24px!important;
	height: 24px!important;
}
.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars .avatar.current img 
{
	width: 24px!important;
	height: 24px!important;
}

#pageheader-middle-left{
    float: left;
    min-height: 68px;
    margin-left: 20px;
}
#pageheader-middle-right{
    min-height: 68px;
    background-color: #0164a7;
    margin-left: 218px;
    margin-right: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


#pageheader-middle-right h1{
    margin: 0;
    padding: 8px 8px 8px 6px;
    color: #FFFFFF;
    font-size: 150%;
}
#pageheader-middle-right h1.page-front{
    padding-left: 17px;
}


header{
  margin: 0px 0 4px 0 !important;
}

#headerlangmenu{
	display: inline-block;
}

#headerlangmenu .nav{
	margin: 0;
  padding: 0;
	margin-bottom: -3px;
  margin-right: 10px;
	line-height: 20px;
	font-weight: bold;
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase; 
}


#headerlangmenu .nav>li>a{
	padding: 0;
	text-shadow: none;
	color: #007cb7;
	line-height: 15px;
}

#headerlangmenu .nav .dropdown-menu{
	min-width: 100px;
	color: #aca39a;
}
#headerlangmenu .nav .dropdown-menu > li:hover, 
#headerlangmenu .nav .dropdown-menu > li:focus, 
#headerlangmenu .nav .dropdown-submenu:hover, 
#headerlangmenu .nav .dropdown-submenu:focus 
{
  background-color: #aca39a;
}


#headerlangmenu .nav .dropdown-menu > li > a:hover, #headerlangmenu .nav .dropdown-menu > li > a:focus, #headerlangmenu .nav .dropdown-submenu:hover > a, 
#headerlangmenu .nav .dropdown-submenu:focus > a
{
  color: #ffffff;
  background-color: #aca39a;
}

#TOOLREF, #TOOLREF ul{
    margin: 0;
    padding: 0;
		text-transform: uppercase; 
}
#TOOLREF li{
    padding:0;
    margin:0;
    border:0;
    border-right: 1px solid #4C4C4C;
    padding: 0px 10px 0px 10px;
    height: 12px;
    list-style-type: none;
    float: left;
    line-height: 13px;
		font-weight: bold;
		font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
		letter-spacing: 1px;
}
#TOOLREF li:last-child{
	border-right: none;
}
#TOOLREF li a{
    display: block;
    border:0;
		font-weight: normal;
		font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
		letter-spacing: 1px;
}
#TOOLREF li.lastItem {
    border-right: none;
}

#headersearchbox{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 60%;
	min-width: 180px;	
  height: 19px;
}



#headersearchbox form * , form#coursesearch *{-moz-box-sizing: border-box; box-sizing: border-box;}


#headercoursesearch{
	position: relative;
	margin: 2px 0 0 0;
	padding: 0;
	padding-left: 5px;
	width: 100%;
}

 form#coursesearch{
	width: 80%;
	height: 50px;
	margin: 20px auto;
	padding: 0 0 0 5px;
	text-align: left;
	position: relative;
 }

#headersearchbox form label, form#coursesearch label{
	width: 100%;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	position: absolute;
	left: 0;
	top: 4px;
}



#headersearchbox form input[type="text"], form#coursesearch input[type="text"]{
	width: 100%;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	left: 0;
	top: 0;
	height: 27px;
  min-height: 27px;
  line-height: 25px;
}


#headersearchbox form input[type="submit"], form#coursesearch input[type="submit"]{
	
	margin: 0;
	padding: 0;
	margin-right: -3px;
  margin-top: -1px;
	position: absolute;
	right: 0;
	top: 0;
}





#page{
	min-height: 700px; 
}

#page-content-header{
	position: relative;
	background: url([[pix:theme|bgContenuHeader]]) no-repeat 10px 0px;
	background-size: 1470px 150px;
	//background-position: 0 0; 
	display: block;
	height: 152px;
	min-height: 152px;
	width: 100%;
	//padding-top: 50px;
	//margin-top: 50px;
	z-index: 1;
}

#page-content{
	position: relative;
	display: block;
	margin-top: -92px;
	z-index: 0;
	width: 1660px;
}

.pagelayout-redirect #page-content{
	margin-top: 20px;
	width: 100%;
}



#page-content section#region-main{
	padding:25px;
	padding-top: 83px;
	background-color: #fff;
	width: 1000px;
	margin: 0;

}
#page-content .span9, .two-column #page-content  section#region-main{
	width: 1330px;
}
#page-content section.maintenance{
	padding-top: 100px;

}

#page-content section#region-main.span12{
	width: 1660px;
}


section h2.sectionname
{
	font-size: 1.6em;
}

section#region-main .page-context-header
{
	margin-top: -20px;
}

section#region-main .page-header-headings 
{
	position: initial;
	margin: 0;
}
	
	section#region-main .page-header-headings h1
{
	font-size: 1.8em;
	color: #0077B4;
	font-weight: 500;
	margin: 0;
	line-height: 2em;
}

.section .activity .editing_move {
  position: static; 
}

section ul.section li.activity.modtype_label.label
{
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 15px;
}

section ul.section li.activity>div {
	padding: 0;
}

.section .label .mod-indent-outer {
	padding: 0;
	width: 100%;
}
.editing .section .activity .contentwithoutlink, .section .activity .contentwithoutlink{
	padding: 0;
}

.addbloglink {
  margin-bottom: 10px;
}

div.mdl-left{
	padding-left: 15px;
	margin-top: 10px;
	border-top: 1px solid #666666;
}

div.mdl-left a.comment-link span{
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
	line-height: 1.8em;
}


div.mdl-left ul  li span.user{
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
	font-size: 1em;
	padding-left: 5px;
}

div.mdl-left .comment-area{
	padding: 0;
	margin: 0;
	max-width: 90%;
	width: 90%;
}

div.mdl-left .comment-area textarea{
	min-width: 100%;
	max-height: 100%;
	width: 100%;
	resize: vertical;
}


.userprofilebox div.profilepicture{
	max-width: 100px;
	max-height: 100px;
	
}


.userprofilebox div.profilepicture img
{
	border: 1px solid #999;
}

.userprofile dl.list dd {

	border-bottom: 1px solid #e5e5e5;
	padding-left: 270px;
  margin-left: 0px;
}

.course-content{
	color: #6f6f6f;
}

.course-content .current{
	color: #555;
}


.course-content ul li.section.main h3.sectionname {
  text-transform: uppercase; 
	font-size: 1.4em;
	line-height: 2em;
	color: #6bc8b8;
	border-bottom: 1px solid #d5d5d5;
}


.course-content ul li.section.main {
  background-color: #f6f6f6;
	border: 1px solid #e5e5e5;
	margin-top: 5px;
	margin-bottom: 20px;
	padding-bottom: 4px; 
}

.course-content ul li.section.current {
  background-color: #e0e0e0;
	border: 1px solid #007cb7;
}




.course-content ul li.section.current h3.sectionname {

	color: #007cb7;
	border-bottom: 1px solid #32a1d6;
}


section ul.section li.activity {
	background-color: #f6f6f6;
	border: none;
  border-bottom: 1px solid #eee;
}

section ul li.section.current li.activity {
	
  background-color: #e0e0e0;
	border-bottom: 1px solid #b3c7d0;
}

section ul.section li.activity img.activityicon{
	height: 18px;
	width: 18px;
}


section ul.section li.activity .contentafterlink{
	font-style: italic;
}




#page-content {
  background-color:rgba(255,255,255,0.7);
}




#block-region-side-pre.span3, #block-region-side-pre.span4{
	padding-top: 63px;
	width: 330px !important;
	margin: 0;
	background: url([[pix:theme|bgSideLeftTop]]) no-repeat top left;
	background-size:  100% 150px;
}

#block-region-side-pre.span4
{
	color: #111111;
}

#block-region-side-pre a{
	color: #0077B4;
	white-space: normal;
	word-break: break-all;

}


.span9-front #block-region-side-pre a{
	color: #d5d5d5;
}


.span9-front #block-region-side-pre{
 background: url([[pix:theme|bgSideLeftTopFront]]) no-repeat top left;
 background-size:  100% 150px;
}

.span9-front #block-region-side-pre hr{
	height: 1px;
	color: #666666;
}

#block-region-side-pre .block{
	margin: 0 ;
  padding: 25px;
  border: 0 ; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	margin-top: 20px;
}

#block-region-side-pre .block .block_tree .depth_1>p,  .block_tree_box p.root_node
{
	font-size: 1.1em;
	text-transform: uppercase; 
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 24px;
}

#block-region-side-pre .block .block_tree .depth_2>p
{
	font-size: 1.1em;
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	line-height: 22px;
	font-weight: lighter;

}

#block-region-side-pre .block .block_tree .depth_3>p
{
	font-size: 1em;
	font-weight: normal;
}

.span9-front .block_tree_box ul li ul p{
	line-height: 22px;
}




#block-region-side-pre .block .block_tree img{
	margin-top: 5px;
}

.block_navigation .block_tree .tree_item.branch {
  background-position: left center;
}

.span9-front #block-region-side-pre .block{
	background-color: #383838;
	color: #e5e5e5;
	width: 280px;
}

.block .footer {
  padding: 0;
  margin-bottom: 4px;
  margin-top: 10px;
	font-size: 0.9em;
	line-height: 1.4em;
	color: #9d9d9d;
}

.block .footer a {
	color: #9d9d9d;
}

#block-region-side-pre .block   input{
	font-size: 1em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}


#block-region-side-pre .block  input[type="text"]{
	background-color: #ffffff;
	border: none;
	border: 1px solid #cccccc;
	color: #222;
	width: 100%;
	padding: 4px 6px;
	line-height: 28px;
	height: 28px;
	padding-right: 30px;
}


.span9-front #block-region-side-pre .block  input[type="text"]{
	background-color: #e5e5e5;
	border: 1px solid #666666;

}

.block_settings #adminsearchquery {
  max-width: 100%; 
  
}





#block-region-side-pre .block input[type="button"], 
#block-region-side-pre .block input[type="submit"], 
#block-region-side-pre .block input[type="reset"], 
#personsearch  input[type="submit"], 
#issued-badge-table input#id_submitsearch, 
#coursesearch input[type="submit"] , 
#headercoursesearch  input[type="submit"] 
{
	width: 100%;
	background: none;
	color: #333333;
	line-height: 28px;
	border: none;
	text-shadow: none;
	outline: none;
	box-shadow: none;
	white-space: pre-line;
}

#block-region-side-pre .block_progress   input[type="submit"]
{
	line-height: 24px;
	margin: 5px;
	text-decoration: underline;
}


#block-region-side-pre .block .adminsearchform input[type="submit"]
{
	//margin: 5px;
}
	
.span9-front #block-region-side-pre .block input[type="button"], 
.span9-front #block-region-side-pre .block input[type="submit"], 
.span9-front #block-region-side-pre .block input[type="reset"]{
	color: #e5e5e5;
}

#block-region-side-pre .block .adminsearchform input[type="submit"], 
#personsearch  input[type="submit"],
#issued-badge-table input#id_submitsearch,
#coursesearch input[type="submit"] , 
#headercoursesearch  input[type="submit"],
#page-navbar .breadcrumb-button .forumsearch input[type="submit"]
{
	
	text-indent:-9999px;
	width: 28px;
	height: 28px;
	margin-left: -28px;
	padding-left: 0px;
	background: url([[pix:theme|searchBlack]]) no-repeat center left;
	opacity:0.5;
}



#block-region-side-pre .block .adminsearchform input[type="submit"]:hover, 
#personsearch  input[type="submit"]:hover , 
#issued-badge-table input#id_submitsearch:hover , 
#coursesearch input[type="submit"]:hover , 
#headercoursesearch  input[type="submit"]:hover
{
	 opacity:1;
}




.span9-front #block-region-side-pre button:hover, 
.span9-front #block-region-side-pre input.form-submit:hover, 
.span9-front #block-region-side-pre input[type="button"]:hover, 
.span9-front #block-region-side-pre input[type="submit"]:hover, 
.span9-front #block-region-side-pre input[type="reset"]:hover, 
.span9-front #block-region-side-pre button:focus, 
.span9-front #block-region-side-pre input.form-submit:focus, 
.span9-front #block-region-side-pre input[type="button"]:focus, 
.span9-front #block-region-side-pre input[type="submit"]:focus, 
.span9-front #block-region-side-pre input[type="reset"]:focus, 
.span9-front #block-region-side-pre button:active, 
.span9-front #block-region-side-pre input.form-submit:active, 
.span9-front #block-region-side-pre input[type="button"]:active, 
.span9-front #block-region-side-pre input[type="submit"]:active, 
.span9-front #block-region-side-pre input[type="reset"]:active, 
.span9-front #block-region-side-pre button.active, 
.span9-front #block-region-side-pre input.form-submit.active, 
.span9-front #block-region-side-pre input.active[type="button"], 
.span9-front #block-region-side-pre input.active[type="submit"], 
.span9-front #block-region-side-pre input.active[type="reset"], 
.span9-front #block-region-side-pre button.disabled, 
.span9-front #block-region-side-pre input.form-submit.disabled, 
.span9-front #block-region-side-pre input.disabled[type="button"], 
.span9-front #block-region-side-pre input.disabled[type="submit"], 
.span9-front #block-region-side-pre input.disabled[type="reset"], 
.span9-front #block-region-side-pre button[disabled], 
.span9-front #block-region-side-pre input.form-submit[disabled], 
.span9-front #block-region-side-pre input[type="button"][disabled], 
.span9-front #block-region-side-pre input[type="submit"][disabled], 
.span9-front #block-region-side-pre input[type="reset"][disabled]
{
  color: #e5e5e5;
  outline: none;
}






#page-content section#region-main div.generalbox, 
#page-content section#region-main div#core-cache-store-summaries, 
#page-content section#region-main div#core-cache-definition-summaries
{
	overflow: auto;
	margin-bottom: 20px;
}


#page-content section#region-main .block{
	background-color: #f6f6f6;
}




img.profilepicture, img.userpicture {
  //border-radius: 250px;
  margin-right: 5px;
	max-width: 50px;
	height: auto;
}


.message .messagearea .messagehistory {
	border: none;
	padding-top: 10px;
}
	
.message .messagearea .messagehistory .message_user_pictures {
	padding-bottom: 10px;
}


#personsearch  table{
	width: 96%;
	margin: 0 auto;
	
}
#personsearch  table input[type="text"]{
	width: 60%;
	padding-right: 28px;
  margin-left: 5%;
}

#personsearch #advancedcontactssearchspan table input[type="text"]{
	width: 100%;
	padding-right: 28px;
  margin-left: 0;
	
}

#personsearch #advancedcontactssearchspan  input[type="submit"] {
	margin-left: 0px;
}

#combinedcontactssearchspan
{
	border: none;
}

#issued-badge-table input#id_search,
#coursesearch input#coursesearchbox , 
#headercoursesearch  input#headershortsearchbox 
{
	padding-right: 28px;
}

table#permissions.rolecap
{
	margin-top: 15px;
	
}


table#permissions.rolecap tr.rolecapheading
{
  font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  line-height: 1.6em;
}

thead tr
{
	background-color: #007cb7;
	font-size: 1em;
}



thead tr a:link, thead tr a:hover, thead tr a:visited, thead tr a:active
{
	color: #f1f1f1;
}
 
 tr.header
 {
	background-color: #ABAEB2;
	font-size: 1em;
  color: #fff;
 }

table#permissions.rolecap tr.rolecapheading td
{
	background-color: #ABAEB2;
	font-size: 1em;
  color: #fff;
}


table#permissions tbody tr:hover > td,
table#permissions tbody tr:hover > th
{
  //background-color: #eee;
}


.user-enroller-panel .uep-search-results .users tbody tr:hover > td, 
.user-enroller-panel .uep-search-results .cohorts tbody tr:hover > td, 
table.grading-report tbody tr:hover > td, .forumheaderlist tbody tr:hover > td, 
.generaltable tbody tr:hover > td, table.flexible tbody tr:hover > td, 
.category_subcategories tbody tr:hover > td, table#modules tbody tr:hover > td, 
table#permissions tbody tr:hover > td, 
.user-enroller-panel .uep-search-results .users tbody tr:hover > th, 
.user-enroller-panel .uep-search-results .cohorts tbody tr:hover > th, 
table.grading-report tbody tr:hover > th, 
.forumheaderlist tbody tr:hover > th, 
.generaltable tbody tr:hover > th, 
table.flexible tbody tr:hover > th, 
.category_subcategories tbody tr:hover > th, 
table#modules tbody tr:hover > th, 
table#permissions tbody tr:hover > th
{
  background-color: #eee;;
}


table#permissions tbody tr.rolecapheading:hover > td
{
  background-color: #ABAEB2;
}


thead tr th, th, td
{
	padding: 8px 8px;
}

tr.rolecap
{
	border-bottom: 1px solid #e5e5e5;
}


section table tr td{
	background-color: #fff;
}
section div.foldertree table tr td{
	background-color: transparent;
}



#fgroup_id_usersgrp div.fitemtitle {
  display: block;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
}

#fgroup_id_usersgrp fieldset.fgroup select
{
	width: 28%;
	
}

#fgroup_id_usersgrp fieldset.fgroup select#id_ausers{
	margin-right: 4%;
}


#fgroup_id_usersgrp fieldset.fgroup lable
{
	width: 18%;
	margin: 0px 1%;
} 

section#region-main div.settingsform fieldset
{
	max-width: 98%;
	margin: 0 auto;
}


section#region-main div.settingsform fieldset  .form-label
{
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  line-height: 1em;
}

.form-item{
	width: 100%;
}

.form-item .form-label, .mform .fitem div.fitemtitle, .userprofile dl.list dt, .form-horizontal .control-label {
		margin-top: 4px;
		margin-bottom: 6px;
	}
.mform .fitem div.fitemtitle, .userprofile dl.list dt{
		//margin-left: 200px;
	}

.form-item .form-setting .defaultsnext {
  display: block;
	max-width: 94%;
  width: 94%;
}

.form-item .form-setting .form-password .unmask, .form-item .form-setting .form-defaultinfo {
  display: block;
}

#page-admin-setting-atto_equation_settings .form-defaultinfo {
  width: 100%;
	white-space: normal;
  word-break: break-all;
}

.form-item .form-setting  .form-defaultinfo, 
.form-item   .form-description
{
	//width: 100%;
	white-space: normal;
  //word-break: break-all;
	text-align: justify;
}




.form-item .form-setting .form-text select, 
.form-item .form-setting .form-text input[size], 
.form-item .form-setting .form-textarea textarea[cols]{
  width: 100%;
}

.form-item  .form-label .form-shortname {
  word-wrap: break-word;
}

.nav-tabs>.active>a {
  font-weight: 600;
  font-size: 1.1em;
}


#capability-overview-form.mform .fitem .felement {
		margin: 0 auto;
}
	
.form-item .form-description, .mform .fdescription {
		margin-top: 15px;
	}
	
.groupmanagementtable #buttonscell p.arrow_button input {
  width: 110px;
	padding: 4px;
  height: auto;
  white-space: normal;
	margin-bottom: 8px;
}


#category-listing .category-bulk-actions .pair-key, 
#course-listing .course-bulk-actions .pair-key 
{
	 background-color: #ABAEB2;
	color: #fff;
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  padding: 0 5px;
	margin: 5px 0;
}


#region-main table#plugins-control-panel tbody td.settings a, 
#region-main table#plugins-control-panel tbody td.uninstall a, 
#region-main table#modules tbody td.c4 a, 
#region-main table#modules tbody td.c5 a
{
	line-height: 0; 
  font-size: 0;
  color: transparent; 
	display: block;
	width: 24px;
	max-width: 24px;
	height: 24px;
	opacity:0.5;
	margin-top: 5px;
}

#region-main table#plugins-control-panel tbody td.settings a, 
#region-main table#modules tbody td.c4 a
{
	background: url([[pix:theme|setting]]) no-repeat center left;
}




#region-main table#plugins-control-panel tbody td.uninstall a, 
#region-main table#modules tbody td.c5 a
{
	background: url([[pix:theme|unistall]]) no-repeat center left;
}

#region-main table#plugins-control-panel tbody td.settings a:hover, 
#region-main table#plugins-control-panel tbody td.uninstall a:hover, 
#region-main table#modules tbody td.c4 a:hover, 
#region-main table#modules tbody td.c5 a:hover
{
	opacity:1;
}
	
table td select
{
	min-width: 100px;
}

#authmenu table td select
{
	min-width: 120px;
}

#authmenu table td 
{
	min-width: 100px;
  white-space: normal;
  word-break: break-all;
}

#region-main form#authmenu  table tr * {-moz-box-sizing: border-box; box-sizing: border-box;}




a.previous span.arrow, a.next span.arrow
{
	display: block;
	width: 24px;
	height: 24px;
	color: transparent;
  font-size: 0;
	opacity:0.5; 
}
a.previous span.arrow
{
	background: url([[pix:theme|arrowLeftCal]]) no-repeat top right; 
}
a.next span.arrow
{
	background: url([[pix:theme|arrowRightCal]]) no-repeat top right; 
}

a.previous span.arrow:hover, a.next span.arrow:hover
{
	opacity:1; 
}




.yyyyyyy{
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}


/************************** Frontpage **************************/
/* mypage #block-region-content .block */
#box_block_float .block{
    float: left;
    border-top-width: 1px;
    padding: 0;
    margin: 0 19px 19px 0 !important;
    height: 256px;
    width: 256px;
}


#box_block_float .title, #box_block_float h2{
  font-weight: bold;
  text-transform:none;
}

#box_block_float p{
  padding: 0 6px 0 6px
}

#box_block_float .block-hider-hide, #box_block_float .moveto{
  display: none;
}

 .title{
  padding-top: 10px;
  display: block;
  color: #0164A7 !important;
}
.block .header .title
{
	padding-left: 5px;
	padding-right: 5px;
}

#box_block_float span.title{
  padding-top: 12px;
  display: block;
}
#navbarMenu{
	color: #888888;
}

#navbarMenu #page-navbar{
	
}

#navbarMenu a{
	color: #555;
}
#navbarMenu a:hover{
	color: #333;
}


#page-navbar{
	background: none;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 10px;
	margin: 0px;
}

#page-navbar .breadcrumb-nav, 
#page-navbar .breadcrumb-button{
	background: none;
	margin: 0;
	padding: 0;
	line-height: 26px;
}


#page-navbar .breadcrumb-button .forumsearch{
	 margin: 0;
}

#page-navbar .breadcrumb-button .forumsearch fieldset
{
	  position: relative;
}

#page-navbar .breadcrumb-button .forumsearch label{
	 margin: 0px;
	 line-height: 26px;
}

#page-navbar .breadcrumb-button .forumsearch label[for="searchforums"] {
	position: initial;
	float: left;
}

#page-navbar .breadcrumb-button .forumsearch input[type="text"] {
  height: 24px;
  min-height: 24px;
  line-height: 22px;
	padding: 0px 25px 0px 5px ;
	width: 150px;
	margin: 0;
	top: 0;
	right: 0;
}

#page-navbar .breadcrumb-button .forumsearch input[type="submit"] {
  margin: 0;
  padding: 0;
  margin-right: 0px;
  margin-top: 0px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: 24px;
  width: 24px;
	

}

#page-navbar .breadcrumb-nav .breadcrumb li{

	padding-right: 18px;
	background: url([[pix:theme|arrowRightM]]) no-repeat center right ;
	line-height: 24px;
}


#page-navbar .breadcrumb-nav .breadcrumb li:last-child{
		padding-right: 0px;
		background: none;
}


.navbar{
  margin: 0.7em 5px 0.6em 5px;
  overflow-x: visible;
  overflow-y: visible;
}
.navbar, .navbar .breadcrumb{
    background: none;
    border: 0 !important;
		padding: 0px;
		margin: 0px;
}
.breadcrumb-button-text{
	float: right;
	display: inline;
  margin-top: 8px;
	padding-top: 2px;
	padding-right: 0px;
	line-height: 14px;
	font-weight: bold;
}
#page-navbar .breadcrumb-button .singlebutton input[type="submit"]{
	border: none;
	box-shadow:none;
	background:none;
	padding: 0px 10px 0px 28px;
	margin-bottom: 0px;
	//background: url([[pix:theme|arrowRightM]]) no-repeat center left ;
	background: url([[pix:theme|setting]]) no-repeat center left;
	background-size:  20px 20px ;
	color: #555;
}

.breadcrumb-button input[type="submit"]:hover{
	color: #333;
	text-decoration: underline;
}

.breadcrumb-button .singlebutton div, .breadcrumb-button form, .breadcrumb-button .singlebutton
{
  margin: 0px;
}


.container-fluid{
	//padding-top: 50px;
	//margin-top: 50px;
	//background: url([[pix:theme|bgContenuTop]]) no-repeat top left;
	
}
.block .header h2{
	padding-left: 0px;
	padding-top: 3px;
	padding-bottom: 10px;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 30px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: 1.5px solid #666;
	margin-bottom: 10px;
}


.span9-front #block-region-side-pre .block .header h2{
	color: #fff;
}



#side-right{
	background-color: #f1f1f1;
	float: left;
	width: 330px;
	padding-top: 83px;
	//height: 100%;
	min-height: 700px;
	position: relative;
}

#side-right .span3, #side-right .span4{
	display: block;
	float: none;
	width: 100%;
	padding: 25px;
	padding-top: 5px;
	color: #a1a1a1;
	margin-bottom: 280px;
}


#side-right .span3 a{
	color: #999;
	text-decoration: underline;
	line-height: 1.2em;
	padding-top: 5px;
}

.span3, .span4{
	background-color: #f1f1f1;
}

.span3 .block, .span4 .block{
	background-color: #f1f1f1;
	border: none;
	padding: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#side-right .side-right-logo{
	text-align: right;
	padding-top: 30px;
	border-top: 1px solid #bbb;
	margin: 25px;
	position: absolute;
}

#side-right .side-right-logo-hes{
	bottom: 110px;
}
#side-right .side-right-logo-cl{
	bottom: 0;
}
#side-right .side-right-logo-hes img{
	width: 217px;
	height: 111px;
}
#side-right .side-right-logo-cl img{
	width: 256px;
	height: 71px;
}
#side-right .side-right-logo a
{
	display: block;
	width: 280px;
}




/************************** Footer **************************/
#page-footer{
  border: 0;
}

footer {
	width: 100%;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: #1c1c1c;
	
}

#footerContenu{
	margin-right: auto !important;
  margin-left: auto !important;
  border: 0 !important;
	color: #9d9d9d;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 10px;
}

#footerContenu h4{
	margin-bottom: 15px;
	color: #f8f8f8;
	text-transform: uppercase;
	margin-right: 10px;
}

#footerContenu ul{
	list-style-type: none;
	margin: 0;
}

#footerContenu li{
	margin-top: 6px;
}

#footerContenu li.des{
	margin: 0px;
	color: #666;
	font-style: italic;
}

#footerContenu a{
	color: #9d9d9d;
}

#footerContenu a:hover{
	color: #d2d2d2;
}


#footerLeft{
	display:inline-block;
	float: left;

	
}

#footerRight{
	display: inline-block;
	float: right;
	text-align: right;
	max-width: 180px;
	padding-right: 20px;
}

#footerLeft .col{
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	border-right: 1px solid #555;
}

#footerContenu #footerLeft div.colLast{
	border: none;
}


#footerRight a.btnRS{
	display: inline-block;
	width: 36px;
	height:36px;
	margin: 6px;
	float: right;
	moz-opacity:0.7;
	webkit-opacity:0.7;
	opacity:0.7;
	
}

#footerRight a.btnRS:hover
{
	moz-opacity:1;
	webkit-opacity:1;
	opacity:1;
	
}

#btnFacebook {
	background: url([[pix:theme|iconsfba]]) no-repeat top left;
	background-size: 100%;
}

#btnTwitter {
	background: url([[pix:theme|iconstwa]]) no-repeat top left;
	background-size: 100%;
}

#btnYoutube {
	background: url([[pix:theme|iconsyta]]) no-repeat top left;
	background-size: 100%;
}

#btnSwitch {
	background: url([[pix:theme|iconsswitcha]]) no-repeat top left;
	background-size: 100%;
}

#btnInstagram {
	background: url([[pix:theme|iconsiga]]) no-repeat top left;
	background-size: 100%;
}

#btnGoogleplus {
	background: url([[pix:theme|iconsgpa]]) no-repeat top left;
	background-size: 100%;
}


/************************** AAI Login (only for Swiss Universities relevant) **************************/




#wayf_div
{
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#pageheader-top-right-front .logininfo, #pageheader-top-right-front .usermenu{
    float: left;
    display:block;
    border: 1px solid black !important;
    
}
#wayf_logo_div, #wayf_intro_label{
    //display: none;
		color: #333 !important;
}

#wayf_div,#user_idp {
    margin: 0 !important;
		
    border: 1px #000 solid !important;
    background-color: #e5e5e5 !important;
}
#user_idp{
    
    height: 24px !important;
    font-size: 1em;
		font-weight: 500;
    margin: 15px 0px 5px 0px !important;
    vertical-align: top !important;
    border: 1px solid #555 !important;
}

select#user_idp:hover,  select#user_idp:active,  select#user_idp:visited {
    border-color: #ccc !important;
}
#wayf_remember_checkbox_div td
{
		padding: 2px;
}

label#wayf_remember_checkbox_label {
    color: #444!important;
    line-height: 15px;
		margin: 4px;
}


section #wayf_div  table tr td{
	background-color: transparent;
}

/*** only IE7 ***/

#wayf_submit_button{
    
    margin: 0 0 0 4px !important;
    height: 24px !important;
    vertical-align: top !important;
		font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline;
		color: #333 !important;
}
#wayf_div input[type="submit"]{
  padding: 2px 6px 2px 6px !important;
  width: 100% !important;
}

/************************** My Home Page **************************/
#page-my-index #region-main .block {
    border-top-width: 1px;
    margin-bottom: 19px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow: auto;
    padding: 0;
}
#page-my-index .block_rss_client .list li{
   /* font-size: 1em;*/
}
#page-my-index .list_block a:visited, #page-my-index .block_rss_client a:visited {
    color: #4488b6;
}

#page-my-index h2{
    /*font-size: 1em !important;*/
}
.block_course_overview .content{
    margin:0;
}
.block_course_overview .coursebox{
    padding:10px;
    margin-bottom: 4px;
}


/*** My Home Page - Content ***/
.moodle-actionmenu[data-enhanced].show .menu.align-tr-br {
  top: 100% !important;
}
.collapsibleregioncaption{
 white-space:normal;
}

/************************** Common **************************/
.cleaner{
    vertical-align: top;
    clear: both;
    height: 0.1px;
    font-size: 0.1px;
    margin: 0;
    border: 0px none;
    padding: 0;
    overflow: hidden;
}
.inv{
	position: absolute;
	left: -1000px;
	top: -1000px;
	width: 0px;
	height: 0px;
	overflow: hidden;
	margin-bottom: -0.2em;
	display: inline;
}

/* border for <table class="border"> */
table.border td {
    border: 1px solid #aaaaaa;
    margin: 0;
    padding: 3px;
}
table.border{
    border-collapse: collapse;
}


/************************** 2.7 content adjustments (overwrite bootstrapbase) **************************/
/* smaller font size on course overview */

#page-my-index h2 a{
  //font-size: 22px !important;
}
#dock .dockeditem_container {
  //margin-top: 138px;
}
/* test /mod/assign/view.php?id=428280&action=grading */
#page-mod-assign-view .no-overflow {
  //overflow: visible !important;
}

/* test /mod/workshop/view.php?id=399335 */
#page-mod-workshop-view .row-fluid {
 //width: 1400px !important; /* 100% */
}
@media (max-width: 767px){
  #page-mod-workshop-view .row-fluid {
    //width: 1100px !important; /* 100% */
  }
}
@media (max-width: 979px) and (min-width: 768px){
  #page-mod-workshop-view .row-fluid {
    //width: 1400px !important; /* 100% */
  }
}
@media (min-width: 1200px){
  #page-mod-workshop-view .row-fluid {
    //width: 1400px !important; /* 100% */
  }
}


/************************** Specal Calendar highlighting week numbers **************************/
#calendar_kw {
  text-align: center;
}
#calendar_kw table{
  padding:0;
  border:0;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  font-size: 12px;
}
#calendar_kw table thead th.weekday{ 
  font-size: 11px; 
  text-align: center;
  border: solid #eee 2px;
  border-bottom-width:0px;
  background-color: #ccc;
}
#calendar_kw table tbody td{
  padding:1px;
  width: 19px;
  height: 22px;
  text-align: center;
  font-family: "Arial Black", Arial;
  font-weight: bold;
  line-height: 0.9em;
  text-align: center;
  border: solid #eee 2px;
  border-top-width:0px;
  background-color: #fff;
}
#calendar_kw table tfoot td {
  border: none;
}
#calendar_kw td.calendar_week, #calendar_kw td.calendar_month {
  font-family: "arial";
  font-weight: normal;
  padding:2px;
  margin: 0;
  text-align: center;
  font-size: 12px;
  border-top-width: 0px;
  border: solid #eee 2px;
  background-color: #eee;
}
#calendar_kw td.calendar_week{
  font-family: "Arial Black", Arial;
  padding: 4px;
  font-weight: bold;
  font-size: 13px;
}
#calendar_kw table tbody tr td{
  color: #c5c5c5;
}
#calendar_kw table tbody td.today{
  color:blue;
}
#calendar_kw table tbody tr{
  /*display:none;*/
}
#calendar_kw tr.active td{
  /*display:table-row;*/
  color: #000;
}
#calendar_kw tr td.weekend{
  color:#ffabab;
}
#calendar_kw tr.active td.weekend{
  color:red;
}
#calendar_kw tr td.next_month{
  color:#ddd;
}
#calendar_kw tr.active td.next_month{
  color:#ddd;
}
#calendar_kw td.prev{
  font-family: "arial";
  text-align: left;
}
#calendar_kw td.next{
  font-family: "arial";
  text-align: right;
}
/*********************************** Category Custom **********************************/


a.catCustom, a.catCustom span{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


a.catCustom{
	display: inline-block;
	float: left;
	
	border: 1px solid #dddddd;
	
	height: 67px;
	padding: 0;
	font-family: 'Oswald','conduitHES',Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 1.1em; 
	line-height: 67px;
	text-transform:uppercase;
	padding-left: 13px;
	background-size:  100% 100% ;
	width:40%;
	
	margin: 5px 5% 5px 5%;
}

a.catCustom span
{
	background: url([[pix:theme|arrowRightM]]) no-repeat center left ;
	
	padding-left: 18px;
	
}


a#cat1{
	background:url([[pix:theme|bgCat1]]) no-repeat bottom right;
	
}

a#cat2{
	background:url([[pix:theme|bgCat2]]) no-repeat bottom right;
}


a#cat3{
	background:url([[pix:theme|bgCat3]]) no-repeat bottom right;
}

a#cat4{
	background:url([[pix:theme|bgCat4]]) no-repeat bottom right;
}


a#cat5{
	background:url([[pix:theme|bgCat5]]) no-repeat bottom right;
}

a#cat6{
	background:url([[pix:theme|bgCat6]]) no-repeat bottom right;
}

a#cat1:hover, a#cat2:hover, a#cat3:hover, a#cat4:hover, a#cat5:hover, a#cat6:hover{
	color: #999;
}



/************************** Colors for all Departements **************************/
/* Left */
a:link, a:hover, a:visited, a:active, span.flagged-tag a{
    color: #0164A7;
}
.box span.flagged-tag{
    color: #0164A7 !important;
}
/* Tags */
.tag-heading span.flagged-tag, .tag-heading span.flagged-tag a {
    color: #FFFFFF;
}
span.flagged-tag {
    /* not withe because block right */
    color: #0164A7;
}



/************************** 1 Column (before fluid.css) **************************/

@media only screen and (max-width:767px) {
#pageheader {
    float:none;
    width: 100%;
}
#page-content {
    float:none;
    min-width:0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#page-content #region-main-box {
    float:none;
    left:0;
    position: relative;
    width: 100%;
}
#page-content #region-post-box {
    float:none;
    left:0;
    margin-left:0 !important;
    width: 100%;
}
#page-content #region-main-wrap {
    float:none;
    width: 100%;
    right:auto;
}
#page-content #region-main {
    margin-left:0 !important;
    margin-right: 0 !important;
    overflow: hidden;
}
#page-content #region-pre {
    float:none;
    left:0;
    margin-left:0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#page-content #region-post {
    float:none;
    left: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.navbutton {
    text-align: left;
    float: left;

}
#helppopupbox{
    width: 250px !important;
}

/*** only for frontpage and header ***/
.notfrontpage #pageheader-top-left,
.notfrontpage #pageheader-top-right,
.notfrontpage #pageheader-middle-left,
.notfrontpage #pageheader-middle-middle
{
    display: block !important;
}

#show_header{
    display: block;
}

#page-front, #page-front-wrapper, #page-front-left, #page-front-right, #pageheader-top-left, #pageheader-middle-left{
    float:none !important;
    left: 0 !important;
    //overflow: hidden !important;
    margin:0 !important;
}

#pageheader-middle-right{
    margin-top: 12px;
    margin-left: 0px;
}
.notfrontpage #pageheader-middle-right{
    margin-top: 10px;
    min-height: 20px;
}
.notfrontpage #pageheader-middle-right h1{
    padding:0 0 0 15px;
    font-size: 120%;
}
#pageheader-top-right {
    float: left !important;
}

#pageheader-top-left{
    margin-left: -4px !important;
}

#pageheader-top-right, #pageheader-middle-left, #pageheader-middle-right{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.notfrontpage #pageheader-middle-left{
  margin-bottom: 14px !important;
}

}

@media (min-width: 1200px){
.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
  width: 1000px; 
}
}


@media screen and (min-width: 1681px) and (max-width: 1720px) {
	#page-content-header{
		background-position: 5% 0px;
	}
	.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
		margin: 0 auto;
	}
	
	
}

@media screen and (min-width: 1681px) and (max-width: 1700px) {
	#page-content-header{
		background-position-x: 3%;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1680px) {
  .container-fluid {
		padding-right: 10px;
		padding-left: 10px;
		margin: 0 auto;
		max-width: 1440px;
	}
	
	#page-content-header{
		height: 160px;
		min-height: 160px;
		background-position: 10px 12px;
		background-size: 1381px 141px;

	}
	
	#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    max-width: 1420px;
		max-width: 1420px;
	}
	
	.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
		width: 1110px;
	}
	#page-content{
		width: 1420px;
	}

	

	#page-content section#region-main{
		width: 1110px;
	}
	#page-content .span9, .two-column #page-content  section#region-main{
		width: 1110px;
	}
	.three-column #page-content section#region-main{
		width: 800px !important;
	}

	#page-content section#region-main.span12{
		width: 1420px;
	}
	
	#block-region-side-pre.span3, #block-region-side-pre.span4{
		width: 310px !important;
	}
	
	
	.span9-front #block-region-side-pre .block{
		width: 280px;
	}
	
	#side-right{
		width: 310px;
	}
	#side-right .side-right-logo a
	{
		width: 280px;
	}
	
	#block-region-side-pre .block {
		padding: 15px;
	}
	
	#side-right .side-right-logo{
	margin: 15px;
}

	#side-right .span3, #side-right .span4 {
		  padding: 15px;
	}
	
	a.catCustom {
		width: 44%;
		margin: 5px 3% 5px 3%;
	}

}


@media screen and (min-width: 1441px) and (max-width: 1470px) {
	.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
		margin: 0 auto;
	}
	
	#page-content-header{
		background-position: 10% 12px;

	}
	
}


@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .container-fluid {
		padding-right: 10px;
		padding-left: 10px;
		margin: 0 auto;
		max-width: 1360px;
	}

	#page-content-header{

		height: 160px;
		min-height: 160px;
		background-position: 10px 15px;
		background-size: 1310px 135px;
	}
	
	#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    max-width: 1340px;
		max-width: 1340px;
	}
	
	.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
		width: 1045px;
	}
	#page-content{
		width: 1340px;
	}

	

	#page-content section#region-main{
		width: 750px;
	}
	#page-content .span9, .two-column #page-content  section#region-main{
		width: 1045px;
	}
	
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 750px;
	}

	#page-content section#region-main.span12{
		width: 1340px;
	}
	
	#block-region-side-pre.span3, #block-region-side-pre.span4{
		width: 295px !important;
	}
	.span9-front #block-region-side-pre .block{
		width: 275px;
	}
	
	#side-right{
		width: 295px;
	}
	#side-right .side-right-logo a
	{
		width: 275px;
	}
	
	#block-region-side-pre .block {
		padding: 10px;
	}
	
	#side-right .side-right-logo{
		margin: 10px;
	}
	
	#side-right .span3, #side-right .span4 {
		  padding: 10px;
	}
	
	a.catCustom {
		width: 48%;
		margin: 4px 1% 5px 1%;
	}
	
	section ul.section li.activity.modtype_label.label {
		padding-left: 10px;
		padding-right: 10px;
	}
}


@media screen and (min-width: 1281px) and (max-width: 1380px) {
  .container-fluid {
		max-width: 1280px;
	}

	#page-content-header{

		background-position: 8px 17px;
    background-size: 1247px auto;
	}
	
	#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    max-width: 1260px;
		max-width: 1260px;
	}
	
	.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
		width: 980px;
	}
	#page-content{
		width: 1260px;
	}


	#page-content section#region-main{
		width: 700px;
	}
	#page-content .span9, .two-column #page-content  section#region-main{
		width: 980px;
	}
	
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 700px;
	}

	#page-content section#region-main.span12{
		width: 1260px;
	}
	
	#block-region-side-pre.span3, #block-region-side-pre.span4{
		width: 280px !important;
	}
	.span9-front #block-region-side-pre .block{
		width: 260px;
	}
	#block-region-side-pre .block {
		padding: 10px;
	}
	#side-right{
		width: 280px;
	}
	#side-right .side-right-logo a
	{
		width: 260px;
	}
}

@media screen and (min-width: 1281px) and (max-width: 1320px) {
	.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
		margin: 0 auto;
	}
	#page-content-header{
		//background-position: 20% 47px;
	}
	
	
}

@media screen and (max-width: 1280px) {
	section#region-main table.generaltable tbody td.c1 img
	{
		width: 100%;
	}

}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .container-fluid {
		padding-right: 5px;
		padding-left: 5px;
		margin: 0 auto;
		max-width: 1200px;
	}

	#page-content-header{

		height: 170px;
		min-height: 170px;
		background: url([[pix:theme|bgContenuHeaderML]]) no-repeat;
		background-size: 1065px auto;
		background-position: -2px 21px;
	}
	
	#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    width: 1200px;
		max-width: 1200px;
	}
	
	.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
		width: 943px;
	}
	#page-content{
		width: 1200px;
	}


	#page-content section#region-main{
		width: 686px;
	}

	#page-content .span9, .two-column #page-content  section#region-main{
		width: 943px;
	}	
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 686px;
	}
	
	#page-content section#region-main.span12{
		width: 1200px;
	}
	
	#block-region-side-pre.span3, #block-region-side-pre.span4{
		width: 257px !important;
	}
	.span9-front #block-region-side-pre .block{
		width: 247px;
	}
	
	#side-right{
		width: 257px;
	}
	#side-right .side-right-logo a
	{
		width: 247px;
	}
	
	#block-region-side-pre .block {
		padding: 5px;
	}
	
	#side-right .side-right-logo{
		margin: 5px;
	}
	
	#side-right .span3, #side-right .span4 {
		  padding: 5px;
	}
	#side-right .side-right-logo-hes img {
		width: 180px;
		height: 92px;
	}

	#side-right .side-right-logo-cl img {
		width: 200px;
		height: 55.4px;
	}
	
	a.catCustom {
		width: 90%;
		margin: 5px 5% 5px 5%;
	}
	
	section ul.section li.activity.modtype_label.label {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.message .contactselector {
		width: 31%;
	}

	.message .messagearea {
		width: 64%;
	}
}

@media screen and (min-width: 1076px) and (max-width: 1223px) {
  .container-fluid {
		max-width: 1150px;
	}

	#page-content-header{

		background-size: 1020px auto;
		background-position: -2px 24px;
	}
	
	#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    width: 1150px;
		max-width: 1150px;
	}
	
	.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
		width: 903px;
	}
	#page-content{
		width: 1150px;
	}

	#page-content section#region-main{
		width: 656px;
	}

	#page-content .span9, .two-column #page-content  section#region-main{
		width: 903px;
	}
	
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 656px;
	}
	
	#page-content section#region-main.span12{
		width: 1150px;
	}
	
	#block-region-side-pre.span3, #block-region-side-pre.span4{
		width: 247px !important;
	}
	.span9-front #block-region-side-pre .block{
		width: 237px;
	}
	
	#side-right{
		width: 247px;
	}
	#side-right .side-right-logo a
	{
		width: 237px;
	}

}

@media screen and (min-width: 1123px) and (max-width: 1175px) {
  .container-fluid {
		max-width: 1100px;
	}

	#page-content-header{

		height: 160px;
		min-height: 160px;
		background: url([[pix:theme|bgContenuHeaderML]]) no-repeat;
		background-size: 981px auto;
		background-position: 0px 16px;
	}
	
	#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    width: 1100px;
		max-width: 1100px;
	}
	
	.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
		width: 863px;
	}
	#page-content{
		width: 1100px;
	}

	#page-content section#region-main{
		width: 626px;
	}

	#page-content .span9, .two-column #page-content  section#region-main{
		width: 863px;
	}
	
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 626px;
	}
	
	#page-content section#region-main.span12{
		width: 1100px;
	}
	
	#block-region-side-pre.span3, #block-region-side-pre.span4{
		width: 237px !important;
	}
	.span9-front #block-region-side-pre .block{
		width: 227px;
	}
	
	#side-right{
		width: 237px;
	}
	#side-right .side-right-logo a
	{
		width: 227px;
	}

}


@media screen and (min-width: 1025px) and (max-width: 1122px) {
  .container-fluid {
		padding-right: 5px;
		padding-left: 5px;
		margin: 0 auto;
		max-width: 1024px;
	}

	#page-content-header{

		height: 170px;
		min-height: 170px;
		background: url([[pix:theme|bgContenuHeaderML]]) no-repeat;
		background-size: 1007px auto;
		background-position: 3px 24px;
	}
	
	#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    width: 1014px;
		max-width: 1014px;
	}
	
	.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
		width: 797px;
	}
	#page-content{
		width: 1014px;
	}

	#page-content section#region-main{
		width: 580px;
	}

	#page-content .span9, .two-column #page-content  section#region-main{
		width: 797px;
	}
	
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 580px;
	}
	
	#page-content section#region-main.span12{
		width: 1014px;
	}
	
	#block-region-side-pre.span3, #block-region-side-pre.span4{
		width: 217px !important;
	}
	.span9-front #block-region-side-pre .block{
		width: 207px;
	}
	
	#side-right{
		width: 217px;
	}
	#side-right .side-right-logo a
	{
		width: 207px;
	}
	
	#block-region-side-pre .block {
		padding: 5px;
	}
	
	#side-right .side-right-logo{
		margin: 5px;
	}
	
	#side-right .span3, #side-right .span4 {
		  padding: 5px;
	}
	#side-right .side-right-logo-hes img {
		width: 180px;
		height: 92px;
	}

	#side-right .side-right-logo-cl img {
		width: 200px;
		height: 55.4px;
	}
	
	a.catCustom {
		width: 90%;
		margin: 5px 5% 5px 5%;
	}
	
	section ul.section li.activity.modtype_label.label {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.message .contactselector {
		width: 31%;
	}

	.message .messagearea {
		width: 64%;
	}



}

@media screen and (min-width: 1025px) and (max-width: 1050px) {
	.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
		margin: 0 auto;
	}
	#page-content-header{
		
		  background-position-x: 20%;
	}
	
	#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    width: 1007px;
		max-width: 1007px;
	}
	
	.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
		width: 790px;
	}
	#page-content{
		width: 1007px;
	}

	#page-content section#region-main{
		width: 573px;
	}

	#page-content .span9, .two-column #page-content  section#region-main{
		width: 790px;
	}
	
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 573px;
	}

	#page-content section#region-main.span12{
		width: 1017px;
	}
	
	
	.block .header h2 {
		padding-bottom: 6px;
		font-size: 1.1em;
		line-height: 24px;
	}
	
	.course-content ul li.section.main h3.sectionname {
		font-size: 1.2em;
		line-height: 1.8em;
	}
	
	#block-region-side-pre .block .block_tree .depth_1>p, .block_tree_box p.root_node {
		font-size: 1.05em;
		line-height: 22px;
	}

	
}



@media screen and (min-width: 801px) and (max-width: 1024px) {
  .container-fluid {
		padding-right: 5px;
		padding-left: 5px;
		margin: 0 auto;
		max-width: 800px;
	}

	#page-content-header{

		//height: 170px;
		//min-height: 170px;
		background: url([[pix:theme|bgContenuHeaderM]]) no-repeat;
		background-size: 703px auto;
		background-position: 4px 12px;
	}
	
	#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    width: 790px;
		max-width: 790px;
	}
	
	.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
		width: 790px;
	}
	#page-content{
		width: 790px;
	}
	
	
	#page-content .span9{
		//width: 573px;
		width: 100%;
	}
	
	
	
	#page-content section#region-main div.generalbox
	{
		width: 523px;
	}
	#page-content section#region-main div#user1, 	#page-content section#region-main div#user2
	{
		width:auto!important;
	}
	#page-content section#region-main{
		width: 573px;
	}
	.two-column #page-content  section#region-main{
		width: 573px;
	}
	
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 573px;
	}

	#page-content section#region-main.span12{
		width: 790px;
	}
	
	#block-region-side-pre.span3, #block-region-side-pre.span4{
		width: 217px !important;
	}
	.span9-front #block-region-side-pre .block{
		width: 207px;
	}
	
	#side-right{
		width: 790px;
		padding-top: 15px;
		margin-top: 15px;
		min-height: 260px;
	}
	#side-right .side-right-logo a
	{
		width: 760px;
	}
	
	#block-region-side-pre .block {
		padding: 5px;
	}
	
	#side-right .side-right-logo{
		margin: 15px;
	}
	
	#side-right .span3, #side-right .span4 {
		  padding: 15px;
	}
	
	#side-right .side-right-logo-hes img{
		width: 217px;
		height: 111px;
	}
	#side-right .side-right-logo-cl img{
		width: 256px;
		height: 71px;
	}
	a.catCustom {
		width: 90%;
		margin: 5px 5% 5px 5%;
	}
	
	section ul.section li.activity.modtype_label.label {
		padding-left: 15px;
		padding-right: 15px;
	}
	#personsearch   input[type="text"] {
		width: 200px;
	}
	.message .messagearea .messagehistory .user:first-child {
		margin-left: 3%;
	}

	.message .messagearea .messagehistory .user:last-child {
		margin-right: 3%;
	}
	
	.message .messagearea .messagehistory .user {
		width: 40%;
	}
	
	.form-item .form-setting, .form-item .form-description, .mform .fitem .felement, #page-mod-forum-search .c1, .mform .fdescription.required, .userprofile dl.list dd, .form-horizontal .controls {
		width: 320px;
	}
	
	#region-main td form#uninstallform input[type="submit"], 
	#region-main td form#updateform input[type="submit"], 
	#region-main td form#installform input[type="submit"]
	{
		width: 200px;
		height: auto;
		white-space: normal;
		padding: 4px;
	}
	
}



@media screen and (min-width: 801px) and (max-width: 825px) {
	.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
		margin: 0 auto;
	}
	#page-content-header{
		
		background-position: 10% 12px;
	}
	
	#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    width: 776px;
		max-width: 776px;
	}
	
	.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
		width: 776px;
	}
	#page-content{
		width: 776px;
	}

	#page-content .span9{
		width: 776px;
	}

	.two-column #page-content  section#region-main{
		width: 559px;
	}

	#page-content section#region-main{
		width: 559px;
	}
	
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 559px;
	}

	#page-content section#region-main.span12{
		width: 776px;
	}
	
	#side-right{
		width: 776px;
	}
	
	#side-right .side-right-logo a
	{
		width: 736px;
	}
	
	.block .header h2 {
		padding-bottom: 6px;
		font-size: 1.1em;
		line-height: 24px;
	}
	
	.course-content ul li.section.main h3.sectionname {
		font-size: 1.2em;
		line-height: 1.8em;
	}
	
	#block-region-side-pre .block .block_tree .depth_1>p, .block_tree_box p.root_node {
		font-size: 1.05em;
		line-height: 22px;
	}
	
	
	

}


@media screen and (max-width: 800px) {
  body{
		min-width: 340px;

	}
	
	.container-fluid {

		margin: 0 auto;
		max-width: 100%;
		min-width: 340px;
	}
	section#region-main .page-context-header
	{
		margin-top: 0px;
	}
	#page-content-header{

		width: 96%;
		margin: 0 auto;
		//height: 170px;
		//min-height: 170px;
		background: url([[pix:theme|bgContenuHeaderMS]]) no-repeat;
		background-size: 600px auto;
		background-position: 0px 12px;
	}
	#navbarMenu #page-navbar {
		padding: 0px;
	}
	
	#page-navbar .breadcrumb-nav {
		float: initial;
		width: 100%;
		padding-bottom: 5px;
		border-bottom: 1px solid #CCC;
	}
	
	#page-navbar .breadcrumb-button {
		float: initial;
		width: 100%;
	}
	#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    width: 96%;
		max-width: 96%;
		min-width: 340px;
	}
	
	#navbarMenu{
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.content-only #region-main.span9, .empty-region-side-post #region-bs-main-and-pre.span9, .empty-region-side-pre #region-bs-main-and-post.span9, .empty-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-post #region-bs-main-and-pre.span9, .jsenabled.docked-region-side-post #region-bs-main-and-post.span9 #region-main.span8, .jsenabled.docked-region-side-pre #region-bs-main-and-post.span9 {
		width: 100%;
	}
	
	.empty-region-side-post.used-region-side-pre #region-main.span8, .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
		width: 100%;
	}

	#page-content{
		width: 96%;
	}

	#page-content .span9{
		width: 100%;
	}
	#page-content section#region-main div.generalbox
	{
		width: 523px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	
	#page-content section#region-main div#user1, 	#page-content section#region-main div#user2
	{
		width:auto!important;
	}
	
	#page-content section#region-main{
		width: 100%;
	}
	.two-column #page-content  section#region-main{
		width: 100%;
	}

	#page-content section#region-main.span12{
		width: 100%;
		float: none;
	}
	
	#block-region-side-pre.span3, #block-region-side-pre.span4{
		width: 100% !important;
		padding-top : 0px;
		margin: 0 auto;
		//margin-top : 20px;
		background: none;
	}
	.span9-front #block-region-side-pre .block{
		width: 94%;
	}
	
	#side-right{
		width: 100%;
		padding-top: 15px;
		margin: 0 auto;
		margin-top: 15px;
		min-height: 270px;
		//float: none;
		
	}
	#side-right .side-right-logo a
	{
		width: 96%;
	}
	
	#block-region-side-pre .block {
		padding-left: 3%;
		padding-right: 3%;
	}
	
	#side-right .side-right-logo{
		margin-left: 3%;
		margin-right: 3%;
		width: 96%;
	}
	
	#side-right .span3, #side-right .span4 {
		 padding-left: 3%;
		padding-right: 3%;
	}
	
	#side-right .side-right-logo-hes img{
		width: 217px;
		height: 111px;
	}
	#side-right .side-right-logo-cl img{
		width: 256px;
		height: 71px;
	}
	a.catCustom {
		width: 90%;
		margin: 5px 5% 5px 5%;
	}
	
	section ul.section li.activity.modtype_label.label {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	#pageHeaderMenuContenu{
		position: relative;
		width: 100%;
		max-width: 100%;
	}
	
	
	#pageHeaderMenu {
		height: auto;
		max-height: none;
	}
	
	#logo{
		width: 205px;
		height: 45px;
		//background: #000000 url([[pix:theme|logoHeaderWhite]]) no-repeat center right;
		//background-size: 205px 45px;
	}


	#pageheader-menu-right{
		  margin-right: 3%;
			
	}


	
	
	#pageheader-menu-left{
		
    margin: 0;
		width: 100%;
		height: auto;
		max-height: none;

	}

	#pageheader-menu-left a#pull {  
		display: block;  
		position: relative;

	} 
	
	
	#pageheader-menu-left a#pull:before {  
    content:""; 
		background: url([[pix:theme|navIcon]]) no-repeat 0px 0px;
		background-size: 20px 20px;
    width: 20px;  
    height: 20px;  
    display: inline-block;  
    position: absolute;  
    left: 3%;  
    top: 18px;  
  } 

	#pageheader-menu-left ul#menu{
		display: none;  
    height: auto;  
		margin-top: 10px;
		
	}

	#pageheader-menu-left ul#menu li{
		display: block;
		float: none;
		margin: 0px;
		padding-left: 8%;
		width: 100%;
		line-height: 36px;
		font-weight:500;
		height: 36px;
		min-height: 36px;
		//background-color:rgba(80,80,80,0.4);
		
	}

	#pageheader-menu-left ul#menu li:hover{
		background-color:#0164a7;
	}
	
	#pageheader-menu-left ul#menu li a{
		display: block;
		width: 100%;
	}
	#pageheader-menu-left a{
		margin: 0px;
	}
	
	#pageheader-menu-left #menu1 {
		background-color: #212121;
	}

	#pageheader-menu-left #menu2, #pageheader-menu-left #menu3{
		//background:none;
	}


	#footerLeft .col {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	#footerRight {
		padding-right: 10px;
	}
	
	#footerRight a.btnRS{
		margin: 3px;
	}
	
	#pageheader-top-right{
		max-width: 48%;
		float: right !important;
		text-align: right;
		padding-right: 1%;
	}

	#pageheader-top-left {
		max-width: 48%;
		float: left !important;
	}
	
	
	.message .contactselector {
		width: 35%;
	}

	.message .messagearea {
		width: 60%;
	}
	.breadcrumb>li a
	{
		text-shadow: none;
	}
	
	
	
	.form-item .form-label, .mform .fitem div.fitemtitle, .userprofile dl.list dt, .form-horizontal .control-label {
		margin-left: 0;
	}
	
	.form-item .form-setting, .form-item .form-description, .mform .fitem .felement, #page-mod-forum-search .c1, .mform .fdescription.required, .userprofile dl.list dd, .form-horizontal .controls {
		margin-left: 0;
	}
	.form-item .form-label, .mform .fitem div.fitemtitle
	{
		float: none;
		width: auto;
		padding-top: 0;
		text-align: left;
	}
	
	#region-main td form#uninstallform input[type="submit"], 
	#region-main td form#updateform input[type="submit"], 
	#region-main td form#installform input[type="submit"]
	{
		width: 200px;
		height: auto;
		white-space: normal;
		padding: 4px;
	}
}


@media screen and (max-width: 600px) {
	body{
		  background-size: 1024px auto;
	}
	img.profilepicture, img.userpicture {
		max-width: 30px;
	}
	#page-content-header{

		width: 96%;
		margin: 0 auto;
		//height: 170px;
		//min-height: 170px;
		background: url([[pix:theme|bgContenuHeaderS]]) no-repeat;
		background-size: 470px auto;
		background-position: -2px 15px;
	}
	
	#pageheader-top-left{
    margin-left: 2px !important;
	}
	
	#pageheader-top-right {
    max-width: 130px;
		padding: 0;
		font-size: 12px;
    font-weight: 300;
	}
	
	#pageheader-top-right .loginName, , #pageheader-top-right .usertext {
		display: block;
		margin: 0;
		white-space: normal;
		word-break: break-all;
	}
	
	#pageheader-top-right .usertext
	{
		max-width: 90px;
	}
	#pageheader-top-right .avatars
	{
		margin: 0;
	}
	#pageheader-top-right a {
		line-height: normal;
	}
	.jsenabled .usermenu .moodle-actionmenu .toggle-display.textmenu {
    padding: 0px;
	}
	
	
	#pageheader-menu-left a#pull:before {
    left: 20px;
	}
	#pageheader-menu-left a#pull {
    padding-left: 50px;
	}
	
	#footerRight {
    max-width: 100px;
    padding-right: 5px;
	}
	
	#footerContenu h4 {
    margin-right: 5px;
		font-size: 1.05em;
	}
	#footerContenu ul {
    font-size: 12px;
	}
	.message .contactselector {
		max-width: 160px;
	}

	.message .messagearea {
		//width: 64%;
	}
}

@media screen and (max-width: 400px) {
	#pageheader-top-right
	{
		max-width: 100px;
	}
	#pageheader-top-right .usertext
	{
		display: none;
	}
}