.headertitle {
    color:blue;
}

.iframevideo {
    width: 340px; !important;
    height: 180px; !important;
}

.summary {
    word-break:break-word;
    text-align: justify;
}

.rowiframe {
    margin-left : 0px;
}

.moocinfo {
    margin-left: 15px;
    background-color: #FAFAFA;
}

.moocinfoback {
    background-color: #FAFAFA;
}

.moocelement {
    margin-top : 15px;
    margin-left: 30px;
}

.moocinfo img {
    border-radius: 50px;
    height: 90px;
    width: 90px;
}

.teacherbox {
    text-align: center;
    margin-top: 60px;
}

.teachername {
    color: #007cb7;
    font-weight: 200;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.icon {
    border-radius: 0px;
    margin-right: 3px;
}

.moocimg {
    border-radius: 0px;
    width: 100%;
    margin-left:30px;
    margin-top:15px;
    max-height: 180px;
    max-width: 320px;
}