body.pagelayout-mydashboard
{
	
}


#region-main .block_moodecdashboard  
{
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#region-main .block_moodecdashboard  .header
{
	display: none;
}

.block_moodecdashboard .onglet_1 {
    border: none;
    background-color: #f5f5f5;
}

.block_moodecdashboard .contenu_onglet {
    background-color: #f5f5f5;
}