#page {
    padding: 0;
}

#region-post 
{
		margin-top: 20px;
}

#region-post .block_settings.block .header h2
{

	margin-top: 25px;
	margin-bottom: 15px;
	border: 0;
	border-bottom-width: 1px;
	border-style: solid;
	-webkit-border-image: -webkit-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
	-moz-border-image: -moz-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
	-o-border-image: -o-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
	border-image: linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
	border-image-slice: 1;
}

#banner {
    background: url(../ressources/carre.png) no-repeat center bottom;
    background-size: 100% auto;
    padding-bottom: 230px;
}

#logoMooc
{
	width: 40%;
	margin: 15px auto;
}
	
#logoMooc img
{
	width: 100%;
	height: auto;
}

	
#bannerTitre {
    text-align: center;
    font-family: 'Oswald', 'Helvetica';
    font-weight: 300;
    color: white;
    font-size: 95px;
    letter-spacing: 25px;
    padding-top: 20px;
    text-shadow: 0px 0px 150px #000000;
}

#bannerSoustitre {
    text-align: center;
    color: white;
    font-size: 23px;
    letter-spacing: 3px;
}

#recherche {
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
	display:block;
}

#banner form {
    height: 55px;
}

#searchFormHome {
    position: relative;
}

#inputText {
    position: absolute;
    right: 0;
    top: 0;
    height: 55px;
    width: 100%;
    padding-left: 2%;
    padding-right: 70px;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.5em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#recherche input[type="submit"] {
    height: 55px;
    width: 55px;
    background-size: 45px auto;
    margin: 0;
    padding: 0;
    background-color: #007cb7;
    opacity: 1;
}

.homepage h2 {
    text-align: center;
    font-weight: 500;
    padding: 20px 0;
}

h4 {
    color: #007cb7;
}

/* CONTENU */
#topCours {
    background-color: #f5f5f5;
    width: 100%;
    padding-bottom: 30px;
}

#coursListe {
    /*width: 960px;*/
	width: 480px;
    margin: 10px auto;
    text-align: center;
}

.blocCours {
    width: 220px;
    height: 250px;
    display: inline-block;
    margin: 20px 10px;
    padding: 0px;
    cursor: pointer;
    text-align: left;
    position: relative;
    background-color: #007cb7;
}

.blocCours .imgCours {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 130px;
    background-color: #f5f5f5;
    border: 1px solid #c5c5c5;
    border-bottom: none;
}

.blocCours:hover .fdTop {
    opacity: 0.8;
}

.blocCours:hover .imgCours {
    opacity: 0.6;
}

.blocCours:hover {
    text-decoration: none;
}

.fdTop {
    width: 100%;
    height: 130px;
    padding: 20px;
    opacity: 0;
    background-color: #007cb7;
    transition: opacity 0.5s;
}

.borderWhite {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 6px solid #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 5em;
    font-size: 1em;
    font-family: 'Oswald', 'Helvetica';
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: rgba(0, 124, 183, 0.7);

}

.fdBottom {

    width: 100%;
    height: 120px;
    padding-top: 8px;
    padding-bottom: 3px;
    background-color: #007cb7;
}

.fdBottom > div {
    width: 100%;
    height: 100%;
    padding: 6px;
    background-color: #fff;
}

.detailsMoocs {
    display: block;
    font-size: 0.9em;
    line-height: 1.1em;
    color: #9d9d9c;
}

.titreMooc {
    display: block;
		//display: -webkit-box;
    font-size: 1em;
    color: #007cb7;
    line-height: 1.2em;
    font-family: 'Oswald', 'Helvetica';
    letter-spacing: 1px;
    margin-top: 10px;
    height: 58px;
    overflow: hidden;
		//-webkit-line-clamp: 2;
		//-webkit-box-orient: vertical;
		//-o-text-overflow: ellipsis; 
		//-ms-text-overflow: ellipsis;
		//text-overflow: ellipsis;
}

.etoile {
    max-width: 17px;
    max-height: 17px;
    float: right;
    margin: 4px;
}

#carreBas {
    display: block;
    width: 100%;
    padding-top: 50px;
}

#logos {
    background-color: #f5f5f5;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}

#logos img {
    width: 150px;
    margin: 20px 4%;
}

#closeDialog {
    background: transparent url(../pix/icoClose.svg) no-repeat center;
    background-size: 36px auto;
    display: block;
    width: 28px;
    height: 28px;
    opacity: 1;
    border: 1px solid rgba(100, 100, 100, 0.5);

}

/*****************************  inscription *************************/
#pgwModal {
    background-color: rgba(5, 5, 5, 0.8);
}

.pgwModal .pm-body {
    background-color: #f5f5f5;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pgwModal .pm-content {
    background-color: #f5f5f5;
    width: 94%;
    margin: 0 3%;
}

#descriptionCours {
    width: 60%;
    float: left;
    padding: 2%;
    text-align: justify;
}

#infoCourse {
    float: left;
    padding: 2%;
    width: 60%;
    background-color: #e3e3e3;
}

#inscription {
    width: 35%;
    float: right;
    min-height: 800px;
    padding: 0 0 2% 0;
    margin: 2%;
    text-align: center;
/ / background : url(/theme/mdcl/ressources/line.png) no-repeat left top;
/ / background-size : 2 px 80 %;
    background-color: #e3e3e3;
}

#aInscriptionwrap {
    background: #016eb7 url(/theme/image.php/mdcl/theme/1445963990/arrowbtnRight) no-repeat 0;
    background-size: 40px 100%;
    padding-left: 40px;
}

#aInscription {
    display: block;
    width: 100%;
    height: 2.2em;
    background-color: #007cb7;
    font-family: 'Oswald', 'Helvetica';
    letter-spacing: 1.2px;
    font-size: 1.5em;
    line-height: 2.2em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 4px;
}

#icons {
    width: 96%;
    text-align: left;
    margin: 10px auto;
    line-height: 35px;
}



#inscription #container_professor .imgProf {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 30px auto 20px;
}

#img {
    display: none;
}

#inscription #roleProfessor {
    color: #918f8f;
}

#texteDescription {
    margin-bottom: 50px;
}

.texteMoocBleu {
    color: #666;
    font-size: 1em;
    line-height: 2em;
    margin-top: 15px;
    font-family: 'Oswald', 'Helvetica';
    letter-spacing: 2px;
    text-transform: uppercase;
}

.InfoComm {
    color: #666;
    font-size: 0.9em;
    padding-left: 15px;
}

.InfoComm ul, .InfoComm ol {
    list-style: inside;
}

/* POP-UP COURS */
.popupBloc {
    display: none;
}

#mooc {
    padding-left: 2%;
    padding-right: 40px;
    padding-top: 20px;
}

#mooc h1 {
    font-family: 'Oswald', 'Helvetica';
    color: #007cb7;
    font-size: 4vw;
    line-height: 5vw;
    font-weight: 400;
}

#texteDescription span {
    color: black;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 1em;
    line-height: normal;
}

#socialNetwork {
    padding-top: 50px;
}

#youtube {
    float: left;
    padding-right: 15px;
}

/*		

		#refLogo
		{
			width: 10%;
			margin: 50px;
		}
		
		

		
*/

/* CATALOGUE */
#blocCatalogue, #frmContact {
    margin: 30px auto;
    width: 90%;
    background-color: rgba(235, 235, 235, 0.8);
    border: 1px solid #d5d5d5;
}

#filtreCatalogue {
    width: 32%;
    float: left;
    padding: 1%;
    border: 0;
    border-right-width: 1px;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
    -moz-border-image: -moz-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
    -o-border-image: -o-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
    border-image: linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
    border-image-slice: 1;
}

#catalogue {
    width: 68%;
    float: right;
    padding: 1%;
}

#inputTextSearchAdv {
    height: 40px;
    width: 100%;
}

.drawer {
    margin: 10px 0;
}

.accordion-header {
    background: #007cb7;
    padding: 0 3%;
    cursor: pointer;
    height: 2em;
    transition: .25s;
}

.accordion-item-active .accordion-header {
    background: #389ece;
    margin-bottom: 2px;
    transition: .25s;
}

.accordion-header h1 {
    font-size: 1em;
    font-family: 'Oswald', 'Helvetica';
    line-height: 2em;
    color: #fff;
    display: inline-block;
    padding-left: 5px;
}

.accordion-header-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
    margin-bottom: 4px;
}

.accordion-header-icon.accordion-header-icon-active {
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent #fff;
    margin: 0 2px 2px;
}

.accordion-content {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    display: none;
    padding: 6px;
    color: #212121;
    background: #FFF;
    font-size: 15px;
    line-height: 1.45em;
    list-style: none;
}

.accordion-item {
    border-bottom: 1px solid #E0E0E0;
}

.accordion-item-active .accordion-header-icon {
    color: #fff;
}

.accordion-item-active .accordion-header h1 {
    color: #fff;
}

ul#categoryFilter {

}

.filtreline {
/ / height : 20 px;
    margin: 5px 0;
}

.filtreline input {
    float: left;
    display: block;
    margin: 4px;
}

.textFilter {
    float: left;
    max-width: 80%;
}

.countFilter {
    float: right;
    font-size: 12px;
    font-style: italic;
    color: #b5b5b5;
}

.blocCoursEmpty {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    font-family: 'Oswald', 'Helvetica';
    color: #b5b5b5;
    font-size: 2em;
    line-height: 3em;
}

#catalogue #coursListe {
    width: 96%;
    margin: 10px auto;
    text-align: left;
}

#catalogue #coursListe .blocCours {
    width: 23%;
    height: auto;
    display: inline-block;
    margin: 20px 1%;
    padding: 0;
    cursor: pointer;
    vertical-align: top;
}

@media screen and (max-width: 1024px) {
    /* COURS */
    .blocCours {
    / / width : 280 px;
    }

    #topCours .tohide {
        display: none;
    }

    #coursListe {
        width: 720px;
    }

    /* INSCRIPTION */
    #inscription, #infoCourse {
        width: 49%;
        margin: 0.5%;
        min-height: initial;
    }

    #descriptionSummary {
        padding-top: 250px;
    }

    #boutonInscription {
        width: 220px;
    }

    #youtube {
        width: 100%;
    }

    #descriptionCours {
        width: 100%;
    }

    #infoCourse h3 {
        padding-top: 40px;
    }

    #filtre2 {
        display: none;
    }

    #catalogue #coursListe .blocCours {
        width: 31%;
        margin: 15px 1.15%;
    }
}

@media screen and (max-width: 840px) {
    #coursListe {
        width: 480px;
    }

    #inscription {
        width: 100%;

    }

    #infoCourse {
        width: 100%;
        margin-top: 20px
    }

    #logos img {
        width: 110px;
    }

    /* CATALOGUE */
    #blocCatalogue {
        width: 98%;
				padding: 0 2%;
    }

    #catalogue {
        width: 100%;
        margin-top: 0px;
        padding-top: 50px;
    }

    #descriptionCours {
        display: block;
    }

    #filtreCatalogue {

        border: 0;
        border-bottom-width: 1px;
        border-style: solid;
        -webkit-border-image: -webkit-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
        -moz-border-image: -moz-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
        -o-border-image: -o-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
        border-image: linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
        border-image-slice: 1;
    }

    .filtreBloc {
        float: left;
        width: 32%;
        margin: 0 0.66%;
    }

    /*
            #filtre1
            {
                display:none;
            }




            #boutonInscription
            {
                width: 200px;
            }

            #youtube
            {
                width: 100%;
            }

            #descriptionCours
            {
                width: 100%;
            }

            #infoCourse h3
            {
                padding-top:40px;
            }

            .btnClose
            {
                width: 55px;
            }





            #main
            {
                padding-top: 42px;
            }

            div.topEmpty
            {
                height: 70px;
            }

            .lsidebar
            {
                width:100%;
                margin-top: 0!important;
            }
            .rsidebar
            {
                width: 100%;
                margin-top: 0!important;
            }

            #content
            {
                width:100%;
                margin-bottom: 20px;
            }

            #content div.entry div img
            {
                width:90% !important;
                height:auto !important;
            }



            .boxcomments
            {
                width: 94%;
            }

            #commentform textarea {
                width: 100%;
            }

            .navigation
            {
                width: 100%;
            }




            #filtre2
            {
                display:inline;
            }

    */
    #filtreCatalogue {
        width: 100%;
    }

    @media only screen and (max-width: 620px) {
        
				#coursListe {
					max-width: 400px;
				}
				
				/* COURS */
        .blocCours {
            width: 80%;
            display: block;
            margin: 0 auto;
            margin-bottom: 50px;
        }

        /* BANNER */
        #bannerTitre {
            font-size: 60px;
            letter-spacing: 20px;
            padding-top: 70px;
        }

        #bannerSoustitre {
            font-size: 16px;
            letter-spacing: 2px;
        }

        #inputText {
            height: 40px;
            font-size: 1.2em;
            line-height: 1.2em;
            padding-right: 50px;
        }

        #recherche input[type="submit"] {
            height: 40px;
            width: 40px;
            background-size: 35px auto;
        }

        /* CATALOGUE */
        #blocCatalogue {
           // width: 96%;
        }

        #catalogue {
            width: 100%;
            margin-top: 0px;
            padding-top: 50px;
        }

        #descriptionCours {
            display: block;
        }

        #descriptionSummary {
            padding-top: 250px;
        }

        .filtreBloc {
            float: left;
            width: 49%;
            margin: 0 0.5%;
        }

        #blocCategoryFilter {
            width: auto;
            margin: 0 0 20px;
            float: initial;
        }

        #catalogue #coursListe .blocCours {
            width: 47%;
            margin: 20px 1.5%;
        }

        /* popup */
        #inscription {
            width: 100%;

        }

        #infoCourse {
            width: 100%;
            margin-top: 20px
        }

        /* INSCRIPTION */
        #youtube {
            width: 100%;
        }

        #descriptionCours {
            width: 100%;
        }

        /* PARTENAIRES */
        #logos img {
            width: 100px;
            padding-right: 30px;
        }

    }

}

/* CONTACT */
/*
.formGroup {
    display:table-row;
}

#frmContact {
    padding:2%;
    display:table;
    width:60%;
    border-spacing:7px;
}

#frmContact input, #frmContact label {
    display:table-cell;
}

#frmContact input{
    width: 100%;
}

#frmContact textarea{
    width: 100%;
    min-height:180px;
    resize: none;
}

#frmContact #captcha {
 width: 120px;
}

#frmContact #info, #frmContact #info .error {
    color:red;
}

#frmContact #info .success {
    color : green;
}

#frmContact #info {
    font-family: 'Oswald', 'Helvetica';
    font-size: 1.5em;
}


*/



.formGroup {
    display:table-row;
}
#page.contact, #page.certificate
{
	 width:90%;
	 margin: 0 auto;
}

#frmContact, #frmCertificate {
    padding:2%;
    width:100%;
}
#frmContact h1, #frmCertificate h1 {
    color: #007cb7;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 400;
		padding: 0 0 10px 8px;
}

#frmContact #frm, #frmCertificate, #frmCertificate #frm, #frmCertificate #infoCertificate{
    padding:2%;
    display:table;
    width:100%;
    border-spacing:15px;
		background-color: rgba(250, 250, 250, 0.7);
		margin-bottom: 15px;
}

#frmContact input, #frmContact label, #frmCertificate input, #frmCertificate label,#infoCertificate span{
    display:table-cell;
    vertical-align: top;
}
#frmContact label, #frmCertificate label {
	line-height: 30px;
	min-width: 100px;
	font-weight: 600;
    cursor: auto;
}
#frmContact input, #frmCertificate input,#infoCertificate span{
    width: 100%;
		margin: 0;
}

#frmContact textarea{
    width: 100%;
    min-height:180px;
    resize: none;
}

#frmContact #captcha {
 width: 120px;
}

#frmContact #captcha_code
{
	border: 1px solid #b5b5b5;
}

#frmContact #info, #frmContact #info .error, #frmCertificate #info, #frmCertificate #info .error {
    color:red;
}

#frmContact #info .success, #frmCertificate #info .success {
    color : green;
}

#frmCertificate #info {
    text-align:center;
    margin:10px;
}

#frmContact #info, #frmCertificate #info {
    font-family: 'Oswald', 'Helvetica';
    font-size: 1.2em;
}

#frmContact .btnRefresh {
	background: url("/theme/mdcl/ressources/refresh.svg") no-repeat center ;
  background-size: 24px auto;
	opacity: 0.7;
  width: 30px;
  height: 30px;
	border: none; 
	-webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none; 
}

#frmContact .btnRefresh:hover
{
	opacity: 1;
}

#frmContact .btnAction, #frmCertificate .btnAction {
	display: block;
	width: 150px;
	margin: 0 auto;
}

#infoCertificate,#frmCertificate #infoCertificate {
    display: none;
    margin-top:15px;
}

#infoCertificate span, #infoCertificate label{
    min-width: 180px;
    cursor: auto;
    line-height:normal;
}

#inner {
    width: 50%;
    margin: 0 auto;
}

/*
* clock
*/
.background_clock{
    width: 70%;
    margin: 0 auto;
    background: rgba(255,255,255,0.4);
    padding: 30px;
    margin-top:30px;
  display:none;
}

.label_clock{

    margin: 0 auto;
    width:100%;
}

.langclock {
    width:20%;
    display:inline-block;
    color: #025A84;
    font-weight: bold;
    font-size: 22px;
    text-align:center;
    margin-bottom:10px;
}

.dividerclock{
    width:3%;
    display:inline-block;
}

.firstdivider {
    width:5.5%;
}

.title_clock {
        text-align:center;
}

.title_clock h2 {
    color:#025A84 !important;
    font-size:26px;
    text-shadow: 0px 0px 40px rgba(255,255,255,0.9);
    font-weight:900;
    padding-bottom:30px;
    padding-top:0px;
}
    
.clock {
    margin : 0 auto !important;
}

.flip-clock-divider.seconds .flip-clock-label ,
.flip-clock-divider.minutes .flip-clock-label,.flip-clock-divider.days .flip-clock-label, .flip-clock-divider.hours .flip-clock-label {
    display:none;
}

.flip-clock-divider.days {
    width:5.5% !important;
}
.flip-clock-wrapper ul li a div div.inn, .flip-clock-dot {
    background-color:#025A84 !important;
}

.flip-clock-divider {
    width:3% !important;
}

.flip-clock-wrapper ul{
    width:9% !important;
    margin:0.5% !important;
		background-color: #025A84 !important;
}

.flip-clock-dot {
    left:25%;
}



#tagInscris *
{
	box-sizing: initial;
}
#tagInscris
{
	position: relative;
	width: 200px;
  height: 200px;
	margin: 100px auto -240px;
	box-sizing: initial;
}
#tagInscrisTxt
{
	background-color: rgba(212, 212, 212, 0.52);
  color: rgb(181, 0, 0);
	width: 200px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Oswald', 'Helvetica';
	font-weight: 600;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 35px;
	letter-spacing: 2px;
	padding-top: 16px;
	position: relative;
	text-shadow: 0px 4px 28px rgba(255,255,255,1);
  border-radius: 2px 2px 0 0;
}
#tagInscrisTxt p
{
	font-size: 16px;
	line-height: 20px;
	font-weight: 100;
	text-transform: lowercase;
	letter-spacing: 1px;
}

#tagInscrisTriangle
{
	width: 200px;
  height: 200px;
  position: absolute;
  top: -56px;
  left: 0;
  clip: rect(auto, 240px, auto, 127px);
  transform: rotate(90deg);
}

#tagInscrisTriangle:after
{
	content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: transparent linear-gradient(135deg, rgba(212,212,212,0.9), rgba(212,212,212,0) 30px, rgba(212,212,212,0.95));
  transform: rotate(-45deg);
}

@media screen and (max-width: 800px) { 

	.background_clock {
    width: 80%;
		padding: 30px 10px;
	}
	
	.flip-clock-wrapper ul li a div div.inn{
		font-size:40px !important;
		border-radius: 3px!important;
		text-shadow: 0 0px 1px #000!important;
	}

	.flip-clock-dot {
    height:6px !important;
    width:6px !important;
	}

	.langclock {
			font-size: 14px;
	}

	.title_clock h2 {
			font-size:20px;
	}

	.flip-clock-wrapper ul {
			height:70px !important;
			border-radius: 3px!important;
			background-color: #025A84 !important;
	}

	.flip-clock-wrapper ul li{
	line-height:70px !important;
	}

	.flip-clock-dot.top {
			top:20px!important;
	}
	.flip-clock-dot.bottom {
			bottom: 50px!important;
	}

	.flip-clock-wrapper ul li a div.up:after {
		 top: 97% !important;
	}
	
	.flip-clock-wrapper ul li a div.down {
			border-bottom-left-radius: 3px!important;
			border-bottom-right-radius: 3px!important;
	}
	
	.flip-clock-wrapper .flip {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)!important;
	}
}

@media screen and (max-width: 600px) { 
	
	.background_clock {
    width: 85%;
		padding: 30px 0;
	}
	
	.flip-clock-wrapper ul li a div div.inn{
		font-size:26px !important;
		
	}
	
	.flip-clock-divider
	{
		height: 45px!important;
	}
	
	.flip-clock-dot {
		height:5px !important;
		width:5px !important;
	}

	.langclock {
		font-size: 16px;
    visibility:hidden;
		padding-left: 8%;
		text-transform: uppercase;
	}
	
	.langclock:first-letter 
	{
		visibility:visible;
	}

	.title_clock h2 {
		font-size:20px;
	}

	.flip-clock-wrapper ul {
		height:45px !important;
		
	}

	.flip-clock-wrapper ul li{
		line-height:45px !important;
	}

	.flip-clock-dot.top {
		top:14px!important;
		left: 3px;
	}
	.flip-clock-dot.bottom {
			bottom: 10px!important;
			left: 3px;
	}

	.flip-clock-wrapper ul li a div.up:after {
		 top: 95% !important;
	}
}