@font-face{
	font-family: 'oswald';
	src:url([[setting:fontwww]]oswald.eot);
	src:url([[setting:fontwww]]oswald.eot?#iefix) format('embedded-opentype'),
			url([[setting:fontwww]]oswald.woff2) format('woff2'),
			url([[setting:fontwww]]oswald.woff) format('woff'),
			url([[setting:fontwww]]oswald.ttf) format('truetype'),
			url([[setting:fontwww]]oswald.svg#oswald) format('svg');
	font-weight:400;
	font-style:normal
}




html {
    position: relative;
    min-height: 100%;
		background: #ffffff url([[pix:theme|bgMoodle]]) no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: 0px 0px;
}

body{
	margin: 0px;
	padding: 0px;
	line-height: normal;
	background-color: transparent;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: #333333;
	margin: 0 0 160px;
	min-width: 480px;
}

body * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
{
  display: block;
}

th {
    text-align: left;
}
hr{
    height: 1px;
    margin: 10px 0;
    //color: #cccccc;
   // background-color: #cccccc;
   // border: 0;
}

h1,h2,h3,h4,h5,h6, 
#pageheader-top-right, 
#pageHeaderMenu, 
#headerlangmenu, 
#TOOLREF, 
.fheader, thead, 
td.header, 
.textOsw, 
#pageheader .usermenu a, 
input[type="submit"], 
input.form-submit, 
input[type="button"],
input[type="reset"],
.onglet, 
button, 
.format-topcoll .badgeimage .badgename, 
.collapsible-actions .collapseexpand, 
.heading 
{
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	text-transform: uppercase; 
	letter-spacing: 1px;
}

h1{
	font-size: 1.4em;
	font-weight: 300;
}
h2{
	font-size: 1.2em;
	font-weight: 300;
}
h3{
	font-size: 1.15em;
	font-weight: 300;
}
h4{
	font-size: 1.1em;
	font-weight: 200;
}
h5{
	font-size: 1.05em;
	font-weight: 200;
}
h6{
	font-size: 1em;
	font-weight: 100;
}

a{
	color: #007cb7;
	text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:link, a:hover, a:visited, a:active, span.flagged-tag a
{
  color: #0164a7;
}
a.skip-block, a.skip {
  position: absolute;
  top: -1000em;
  font-size: .85em;
}

label, input, button, select, textarea, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"]{
    font-size: 1em;
    font-weight: normal;
    line-height: 20px;
}



select {
  width: auto;
	margin-right: 2%;
	max-width: 500px;
}

select#id_assesstimestart_day, 
select#id_assesstimestart_month, 
select#id_assesstimestart_year, 
select#id_assesstimestart_hour, 
select#id_assesstimestart_minute, 
select#id_assesstimefinish_day, 
select#id_assesstimefinish_month, 
select#id_assesstimefinish_year, 
select#id_assesstimefinish_hour, 
select#id_assesstimefinish_minute
{
	  width: auto;
}



-webkit-input-placeholder { font-size:1em; }
-moz-placeholder { font-size:1em; } /* firefox 19+ */
-ms-input-placeholder { font-size:1em; } /* ie */
input:-moz-placeholder { font-size:1em; }


#fgroup_id_enableopengroup span.fdate_time_selector, #fgroup_id_enableclosegroup span.fdate_time_selector
{
	width: 90%;
}


table.userenrolment td.col_userdetails  .subfield
{
	margin-left: 50px;
}

table.userenrolment td.col_userdetails  .subfield.subfield_picture
{
	margin: 2px;
}


img
{
  vertical-align: middle;
  border: none;
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 15px;
		list-style: disc inside;
}

ol {
	list-style: decimal inside;
}

ul.subTitleFilter 
{
	margin: 0;
}

li {
  line-height: 20px;
}

dd {
    margin-left: 10px;
}

.singleselect
{
	max-width: 100%;
}

#pageheaderContenu, #pageHeaderMenuContenu, #navbarMenu, #footerContenu{
    margin: 0 auto ;
    width: 100%;
		color: #7a7a7a;
}

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"], 
.uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	//font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

textarea, input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}

button, 
input.form-submit, 
input[type="button"], input[type="submit"], input[type="reset"] {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    //font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
		border: none;
}

nput[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled], 
input[type="text"][disabled], 
input[type="password"][disabled], 
input[type="datetime"][disabled], 
input[type="datetime-local"][disabled], 
input[type="date"][disabled], 
input[type="month"][disabled], 
input[type="time"][disabled], 
input[type="week"][disabled], 
input[type="number"][disabled], 
input[type="email"][disabled], 
input[type="url"][disabled], 
input[type="search"][disabled], 
input[type="tel"][disabled], 
input[type="color"][disabled],
iput.disabled 
{
	opacity: 0.3;
}

input[type="checkbox"]
{
	width: 20px;
    height: 20px;
}

.sepLeft
{
	background: url([[pix:theme|lineSep]]) no-repeat center left;
	background-size: 2px 85%;
}
.sepRight
{
	background: url([[pix:theme|lineSep]]) no-repeat center right;
	background-size: 2px 85%;
}

#clear {
	clear: both;
}


img.superbg {
    display: none;
    z-index:-1000;
}

.alert {
	padding: 8px 14px;
	text-shadow: none;
	background: none;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}


/**********************************************************************************
                                           Header
**********************************************************************************/
header{
  margin-bottom: 4px;
	width: 100%;
}
header.navbar{
  margin-bottom: 40px;

}

#pageheader{
  width: 100%;
	padding: 0 3%;
	background-color: #fff;
}
#pageheader a
{
	//color: #666;
}

#pageheader ul
{
	list-style: none;
}

#pageheaderContenu
{
	height: 2em;
	max-height:2em;
	min-height:2em;
	vertical-align: middle;
}

#pageheader-top-left{
    float:left;
    width: 49%;
		min-width: 250px; 
		font-weight: 500;
    //padding-top: 6px;
   // padding-bottom: 10px;
}
#pageheader-top-right{
    float:right;
		width: 51%;
		font-weight: 400;
		text-align: right;
}



/**********************Lang Menu*********************/
#headerlangmenu{
	float: left;
}


.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
		
}

	
#headerlangmenu .nav{
	margin:0;
	margin-right: 5px;
	line-height: 2em;
	font-weight: bold;
}


.navbar .nav>li>a{
	float: none;
	padding: 0;
	text-shadow: none;
	color: #007cb7;
	line-height: 2em;
	display: block;
}
.navbar .nav .dropdown-toggle .caret {
  margin-top: 16px;
	border-top-color: #007cb7;
  border-bottom-color: #007cb7;
}
.navbar .nav li.dropdown.open>.dropdown-toggle .caret, 
.navbar .nav li.dropdown.active>.dropdown-toggle .caret, 
.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret 
{
  border-top-color: #007cb7;
  border-bottom-color: #007cb7;
}

.nav .caret {
    margin-left: 4px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}


#headerlangmenu .nav .dropdown-menu{
	min-width: 100px;
	color: #666;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#headerlangmenu .nav .dropdown-menu > li:hover, 
#headerlangmenu .nav .dropdown-menu > li:focus, 
#headerlangmenu .nav .dropdown-submenu:hover, 
#headerlangmenu .nav .dropdown-submenu:focus 
{
  background-color: #007cb7;
}

#headerlangmenu .nav .dropdown-menu > li > a:hover, 
#headerlangmenu .nav .dropdown-menu > li > a:focus, 
#headerlangmenu .nav .dropdown-submenu:hover > a, 
#headerlangmenu .nav .dropdown-submenu:focus > a
{
  color: #ffffff;
  background-color: #007cb7;
}

.dropdown-menu>li>a {
  padding: 3px 20px 3px 8px;
	display: block;
	clear: both;
	font-weight: normal;
	line-height: 1.4em;
	color: #666;
	white-space: nowrap;
}


/**********************search box*********************/
#headersearchbox{
	float: left;
	padding-top: 3px;
	width: 60%;
	min-width: 200px;	
  height: 2em;
}

#headercoursesearch{
	position: relative;
	padding-left: 5px;
	width: 100%;
}

 form#coursesearch{
	width: 80%;
	height: 50px;
	margin: 20px auto;
	padding: 0 0 0 5px;
	text-align: left;
	position: relative;
 }

#headersearchbox form label, form#coursesearch label{
	width: 100%;
	padding-left: 5px;
	position: absolute;
	left: 0;
	top: 4px;
}
#headersearchbox form input[type="text"], 
form#coursesearch input[type="text"],
input[type="text"]#id_search,
input[type="text"]#combinedsearch
{
	padding-left: 5px;
	padding-right: 25px;
	height: 27px;
  min-height: 27px;
  line-height: 25px;
}

#headersearchbox form input[type="text"], form#coursesearch input[type="text"]{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	
}

input[type="text"]#id_search
{
	width: 50%;
	margin:10px 0px;
}

input[type="text"]#combinedsearch
{
	width: calc(100% - 100px);
	margin:10px 0px;
}

input[type="submit"]#id_submitsearch,
#combinedcontactssearchspan input[type="submit"]
{
	margin: 10px 20px 10px -30px;
}

#combinedcontactssearchspan table
{
	width: 100%;
}

#page-badges-mybadges fieldset input
{
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}


#headersearchbox form input[type="submit"], 
form#coursesearch input[type="submit"], 
#recherche  input[type="submit"] 
{
	
	margin-right: 0px;
  margin-top: 0px;
	width: 24px;
	position: absolute;
	right: 0;
	top: 0;
}


#block-region-side-pre .block .adminsearchform input[type="submit"], 
#personsearch  input[type="submit"],
#issued-badge-table input#id_submitsearch,
#coursesearch input[type="submit"] , 
#headercoursesearch  input[type="submit"],
#page-navbar .breadcrumb-button .forumsearch input[type="submit"],
#recherche  input[type="submit"] 
{
	text-indent:-9999px;
	width: 28px;
	height: 28px;
	//margin-left: -28px;
	padding-left: 0px;
	background: url([[pix:theme|searchBlack]]) no-repeat center left;
	background-size: 100%;
	opacity:0.5;
}

input[type="submit"]#searchWhite  
{
	background: url([[pix:theme|searchWhite]]) no-repeat center center;
}

#block-region-side-pre .block .adminsearchform input[type="submit"]:hover, 
#personsearch  input[type="submit"]:hover , 
#issued-badge-table input#id_submitsearch:hover , 
#coursesearch input[type="submit"]:hover , 
#headercoursesearch  input[type="submit"]:hover, ,
#recherche  input[type="submit"] 
{
	 opacity:1;
}




/**********************User Menu*********************/

.usermenu .moodle-actionmenu .toggle-display {
    height: 2em;
    line-height: 2em;
}


/***** user menu bootstrap *****/

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret
{
	margin-top:0.8em;
	top: 0px;
}

#pageheader-top-right .moodle-actionmenu[data-enhanced].show .menu a
{
	display:block;
	padding: 2px 10px 2px 30px;
	margin: 2px 0;
	//color:#007cb7;
}
.moodle-actionmenu[data-enhanced].show .menu a:hover
{
	color:#fff;
}
.moodle-actionmenu[data-enhanced].show .menu .uml:hover
{
	background-color:#007cb7;
}



.moodle-actionmenu[data-enhanced].show .menu.align-tl-bl
{
	top: 100%;
	left:0;
	margin-top:4px;
	padding: 8px 0;
}

.moodle-actionmenu[data-enhanced].show .menu.align-tr-br {
    top: 100% !important;
}

/*********** end user menu bootstrap ************/
#pageheader-top-right .usermenu
{
	//float:right;
	color: #666;
}

#pageheader .textmenu .nbrMsg
{
	position: absolute;
	top: 2px;
	min-width: 20px;
	height: 20px;
	right: 16px;
	background-color: rgba(255,0,0, 0.9);
	border-radius: 50%;
	color: #fff;
	text-align: center;
	font-size: 10px;
	font-weight: 100;
	line-height: 17px;
	border: 2px solid rgba(0, 0, 0, 0.7);
	padding-left: 0px;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .3);
}
.usermenu  a
{
	line-height: 2em;
}

#pageheader-top-right  .usermenu .menubar a{
  
	color: #007cb7;
	font-weight: 600;
	position: relative;
}



#pageheader-top-right .userpicture
{
	display: inline-block;
	width: 28px;
	height: 28px;
	vertical-align: bottom;
  margin: 2px 3px 2px 5px;
}
.usermenu  .toggle-display.textmenu .caret
{
	margin-top: 0.8em !important;
}

.usermenu .menu li 
{
	//line-height: 2em;
	//background: transparent url([[pix:theme|glyphicons-halflings-bleu]]) no-repeat center left;
	//background-position:11px 11px;
}

.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover
{
	background: none;
}

.usermenu .menu li.no_um_ico a
{
	background-image: none;
}
.usermenu .menu li.um_ico_dashboard a
{
	background: url([[pix:theme|myhome]]) no-repeat 8px center!important;
	background-size: 22px auto!important;
}

.usermenu .menu li.um_ico_dashboard a:hover
{
	background: url([[pix:theme|myhome]]) no-repeat 8px center;
}

.usermenu .menu li.um_ico_user a
{
	background: url([[pix:t/user]]) no-repeat 8px center!important;
	background-size: 16px auto!important;
}

.usermenu .menu li.um_ico_cog a
{
	background: url([[pix:a/setting]]) no-repeat 8px center!important;
	background-size: 16px auto!important;
}

.usermenu .menu li.um_ico_garde a
{
	background: url([[pix:t/grades]]) no-repeat 8px center!important;
	background-size: 16px auto!important;
}
.usermenu .menu li.um_ico_certificate a
{
	background: url([[pix:t/certificate]]) no-repeat 8px center!important;
	background-size: 16px auto!important;
}

.usermenu .menu li.um_ico_msg a
{
	background: url([[pix:t/email]]) no-repeat 8px center!important;
	background-size: 16px auto!important;
}

.usermenu .menu li.um_ico_cal a
{
	background: url([[pix:i/calendar]]) no-repeat 8px center!important;
	background-size: 16px auto!important; 
}

.usermenu .menu li.um_ico_file a
{
	background: url([[pix:i/files]]) no-repeat 8px center!important;
	background-size: 16px auto!important;
}

.usermenu .menu li.um_ico_forum a
{
	background: url([[pix:t/message]]) no-repeat 8px center!important;
	background-size: 16px auto!important;
}

.usermenu .menu li.um_ico_discus a
{
	background: url([[pix:t/messages]]) no-repeat 8px center!important;
	background-size: 16px auto!important;
}

.usermenu .menu li.um_ico_logout a
{
	background: url([[pix:a/logout]]) no-repeat 8px center!important;
	background-size: 16px auto!important;
}





.usermenu .menu li.uml a
{
	//background-color: #fff;
	font-weight: 100;
	color: #666;
}


.usermenuContent
{
	position: relative;
}


#pageheader-top-right .nav
{
	float:right;
}

#loginpaneldropdown
{

  margin: 4px 0 0;
	background-color: #D1EFFD;
	left: auto;
	left: initial;
	right: 0;
	min-width: 260px;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	
	
}

#loginpaneldropdown, .usermenu  #loginpaneldropdown a{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: none;
	letter-spacing: 0px;
	line-height: normal;
}

#loginpaneldropdown:before, 
#loginpaneldropdown:after {
		right: 10px;
		left: auto;
		left: initial;
		border-bottom-color: rgba(209,239,253,1);
}

#loginpaneldropdown h2{
	padding: 0px 0 10px 0;
	font-weight: 800;
	color: #007cb7;
}

#loginpaneldropdown hr
{
	width: 90%;
	height: 3px;
	margin: 0 auto;
	border: none;
	background-color: #007cb7;
}

#loginpaneldropdown>li
{
	padding: 10px 0;
	
}

#loginpaneldropdown li.loginpanel
{
	border: 0;
	border-bottom-width:1px;
	border-style: solid;
	-webkit-border-image: -webkit-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
	-moz-border-image: -moz-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
	-o-border-image: -o-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
	border-image: linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
	border-image-slice: 1;
}


#loginpaneldropdown li.guestsub
{
	background-color: #fff;
	color: #999;
	display: none;
}



#loginpaneldropdown form#login>div
{
	width: 90%;
	margin: 0 auto;
	text-align: left;
}

#loginpaneldropdown input[type="text"], #loginpaneldropdown input[type="password"]
{
	height: 30px;
	padding: 2px 4px;
	font-size: 1em;
	width: 100%;
}

#loginpaneldropdown input[type="checkbox"]
{
	vertical-align: top;
  margin: 0;
}
#loginpaneldropdown .rememberpass label
{
	  margin-left: 0px;
    display: inline-block;
    font-size: 14px;
    width: calc(100% - 35px);
		padding: 0;
}


#loginpaneldropdown input[type="submit"]
{
	background: #007cb7 url([[pix:theme|arrowbtnRightWhite]]) no-repeat 0 0;
	background-size:  auto 100%;
	padding: 4px 4px 4px 34px;
	width: 90%;
}

#loginpaneldropdown input[type="submit"]#loginGuest
{
	background: #2792c5 url([[pix:theme|arrowbtnRightWhite]]) no-repeat 0 0;
	background-size:  auto 100%;
	opacity: 0.8;
}


#loginpaneldropdown .forgetpass
{
	font-size: 90%;
	font-style: italic;
}

#loginpaneldropdown input[type="submit"]:hover
{
	background: #00608e url([[pix:theme|arrowbtnRightWhite]]) no-repeat 0 0;
	background-size:  auto 100%;
	color: #fff ;
}

/*
#pageheader-top-right .userbutton .usertext,
#pageheader-top-right .userbutton .avatars
{
	color: #000;
	margin-right: 5px;
	display: inline-block;
}

#pageheader-top-right .userbutton .usertext{
	line-height: 2em;
}
#pageheader-top-right .userbutton .usertext .meta{
	display: block;
	//font-size: 0.9em;
}

.usermenu  .avatars,
.usermenu  .avatar.current, 
.usermenu .avatars img , 
.usermenu .avatar.current img 
{
	width: 28px;
	height: 28px;
}
.usermenu  img 
{
	//margin: 0 1px;
}

.usermenu .login {
  line-height: 2em;
	color: #777;
}


#pageheader .usermenu a
{
	//color: #333;
	font-weight: 600;
}
*/


#pageHeaderMenu{
	position: relative;
  width: 100%;
	padding: 0;
	height: 130px;
	background: url([[pix:theme|bgHeaderMenu]]) repeat-x left -5px;

}


#pageHeaderMenu a#pull {  
  display: none;  
	COLOR: #ffffff;
	font-weight:600;
	font-size: 1.6em;
	line-height: 51px;
	padding-left: 8%;
} 

#pageHeaderMenu ul#menu{
	position: relative;
	text-align: left;	
	width: 97%;
	margin-left: 3%;
}

#pageHeaderMenu ul#menu li{
	display: inline-block;
	height: 51px;
	line-height: 54px;
	padding: 0 15px 0 15px;
}

#pageHeaderMenu a{
	color: #fff;
	font-size: 1.6em;
	margin-right: 8px;
	letter-spacing: 1px;
}

#pageHeaderMenu #menu2{
	background-color: #424141;
}

#pageHeaderMenu #menu3{
	background: #595858 url([[pix:theme|bgMenu3]]) no-repeat bottom right;
}

#pageHeaderMenu a img{
	margin-top: 16px;
}


#pageheader-menu-right{
	position: absolute;
	top: 6px;
	right: 3%;
}	

#logo{
	display: block;
	margin-left: 53px;
	width: 230px;
	height: 120px;
	background: url([[pix:theme|logoHES]]) no-repeat center right;
	background-size: 100% auto;
}


#logoMoocHeader
{
	position: absolute;
	height: 45px;
  width: 150px;
	top: -3px;
	left: 0;
	background: url([[pix:theme|logoMoocHeader]]) no-repeat center left;
	background-size: auto 42px;
}


.site_frontpage #logoMoocHeader
{
	display: none;
}

#pageheader-menu-right #logoHeader{
	width: 205px;
	height: 45px;
}

#pageheader-menu-right #logoHeaderAbre{
	width: 53.5px;
	height: 45px;
}




/**********************************************************************************
                                           Footer
**********************************************************************************/

#page-footer{
  border: 0;
}

footer {
	width: 100%;
	padding: 20px 3% 30px 3%;
	background-color: #1c1c1c;
	position: absolute;
    left: 0;
    bottom: 0;
	height: 160px;
	overflow:hidden;
	    font-size: 90%;
}

#footerContenu{
	color: #9d9d9d;
}

#footerContenu h4{
	margin-bottom: 15px;
	color: #f8f8f8;
	text-transform: uppercase;
	margin-right: 10px;
}

#footerContenu ul{
	list-style-type: none;
	margin: 0;
}

#footerContenu li{
	margin-top: 6px;
}

#footerContenu li.des{
	margin: 0px;
	color: #666;
	font-style: italic;
}

#footerContenu a{
	color: #9d9d9d;
}

#footerContenu a:hover{
	color: #d2d2d2;
}


#footerLeft{
	display:inline-block;
	float: left;
	margin-left: 5%;
	
}

#footerRight{
	display: inline-block;
	float: right;
	text-align: right;
	max-width: 180px;
	margin-right: 5%;
}

#footerLeft .col{
	float: left;
	margin-right: 30px;
	padding-right: 30px;
	border-right: 1px solid #555;
}

#footerContenu #footerLeft div.colLast{
	border: none;
	margin-right: 0px;
}


#footerRight a.btnRS{
	display: inline-block;
	width: 30px;
	height:30px;
	margin: 5px;
	float: right;
	moz-opacity:0.6;
	webkit-opacity:0.6;
	opacity:0.6;
	
}

#footerRight a.btnRS:hover
{
	moz-opacity:1;
	webkit-opacity:1;
	opacity:1;
	
}

#btnFacebook {
	background: url([[pix:theme|iconsfba]]) no-repeat top left;
	background-size: 100%;
}

#btnTwitter {
	background: url([[pix:theme|iconstwa]]) no-repeat top left;
	background-size: 100%;
}

#btnYoutube {
	background: url([[pix:theme|iconsyta]]) no-repeat top left;
	background-size: 100%;
}

#btnSwitch {
	background: url([[pix:theme|iconsswitcha]]) no-repeat top left;
	background-size: 100%;
}

#btnInstagram {
	background: url([[pix:theme|iconsiga]]) no-repeat top left;
	background-size: 100%;
}

#btnGoogleplus {
	background: url([[pix:theme|iconsgpa]]) no-repeat top left;
	background-size: 100%;
}



/**********************************************************************************
                                           page
**********************************************************************************/
#dndupload-status {
    font-size: 1.2em;
    line-height: 1.5em;
    width: 60%;
    padding: 20px;
    margin: 50px 20%;
    color: #fff;
    background: #007cb7;
    border: 3px solid #00608e;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 100px 30px #fff;
    -moz-box-shadow: 0px 0px 100px 30px #fff;
    box-shadow: 0px 0px 100px 30px #fff;
}

h1.coursetitle
{
	color: #007cb7;
	font-weight: 900;
}

#page
{
	width: 100%;
	padding: 0 3%;
}


.breadcrumb {

	list-style: none;
}

.breadcrumb>li {
  text-shadow: none;
}

.breadcrumb-nav ul.breadcrumb li a {
    color: #fff;
    text-decoration: none;
    padding-right: 3px;
    overflow: hidden;
		max-width: 300px;
}

.breadcrumb-nav ul.breadcrumb>li.last>a {
	height: 100%;
	display: block;
	white-space: nowrap;
	-o-text-overflow: ellipsis; 
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.breadcrumb-nav ul.breadcrumb li span {
    margin-right: 4px;
		display: inline-block;
		white-space: nowrap;
    overflow: hidden;
}
.breadcrumb-nav ul.breadcrumb li.breadcrumbAnim span , 
.breadcrumb-nav ul.breadcrumb li.breadcrumbAnim span :hover
{
	transition: width .5s;
}

.breadcrumb-nav ul.breadcrumb li a:hover
{
	text-decoration: underline;
}

.breadcrumb-nav ul.breadcrumb {
    display: block;
    padding: 0;
    float: left;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: clip;
    margin: 0px 0px -4px 0px;
    background-color: transparent;
		-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.breadcrumb-nav ul.breadcrumb li {
	padding: 0 0 0 30px;
	display: inline-block;
	float: none;
	line-height: 28px;
	height: 28px;
	border-radius: 0px;
	text-shadow: none;
	margin-bottom: 4px;
	background: rgba(0, 124, 183, 0.7) url([[pix:theme|arrowRightWhiteM]]) no-repeat 4px center;
	background-size: auto 30px ;
	color: #fff;
	letter-spacing: 0.5px;
	overflow: hidden;
	vertical-align: top;
}

.breadcrumb-nav ul.breadcrumb li.first
{
	background: none;
	background-color: rgba(0, 124, 183, 0.7);
	padding-left: 5px;
}

.breadcrumb-nav ul.breadcrumb li.last{
   padding-right: 10px;
}

.breadcrumb-nav ul.breadcrumb li.first a
{
	background: transparent url([[pix:theme|myhomeWhite]]) no-repeat 0px center;
	background-size: auto 22px ;
	padding-left: 25px;
}

.breadcrumb-button {
    float: right;
    margin: 0px 0px 0px 5px; 
}

.breadcrumb-button .singlebutton div {
   margin: 0;
}



.breadcrumb-button .singlebutton input[type="submit"] {
  margin: 0;
	height: 28px;
  padding: 0 10px 0 36px;
	background: rgba(0, 124, 183, 0.7) url([[pix:theme|edit]]) no-repeat 5px center;
	background-size: auto 22px;
}
.breadcrumb-button .singlebutton input[type="submit"]:hover
{
	background-color: rgba(0, 124, 183, 1);
}


#page-admin-tool-installaddon-index #installfromrepobox .singlebutton input[type=submit] {
    padding: 4px 24px 4px 12px;
}




#region-main
{
	background-color: #f5f5f5;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 15px;
	float: left;
  width: 100%;
}

#region-post
{
	clear: both;
}


body#page-my-index.pagelayout-mydashboard #region-main, 
body#page-course-view-topcoll.pagelayout-course  #region-main 
{
    background-color: transparent;
		padding: 0;
		margin: 0;
}

body#page-my-index.pagelayout-mydashboard #region-post
{
	padding: 0 14px;
}
 
body#page-course-view-topcoll.pagelayout-course  #region-main  ul.tab-links
{
	margin: 0;
}

ul.weeks h3.sectionname {
  text-transform: capitalize;
}

.path-site li.activity>div, .path-course-view li.activity>div {
    padding: 5px 16px 0 0;
}

.section .activity .actions {
    //top: auto;
}
.course-content ul.weeks li.section {
  margin: 0;
	padding-top: 10px;
}

.course-content ul li.section.main 
{
  margin-top: 0;
  border: 0;
	border-bottom-width:1px;
	border-style: solid;
	-webkit-border-image: -webkit-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
	-moz-border-image: -moz-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
	-o-border-image: -o-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
	border-image: linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
	border-image-slice: 1;
}



.course-content ul li.section.main.current
{
	margin: 0 -15px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
}




.format-topcoll .course-content ul li.section.hidden .content>div
{
	margin: 0;
}







#region-post .block 
{
  width: 100%;
	display: none;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.block .header h2
{
	font-weight: normal;
	color: #007cb7;
	line-height: 26px;
}

.pagelayout-course #region-post .block{
	width: 49%;
	float: right;
}

#region-post .block.block_settings , #region-post .block.block_admin_bookmarks  {
	
	display: block;
}
.pagelayout-course #region-post .block.block_settings{
	float: left;
}

.pagelayout-course #region-post .block.block_settings.hidden{
	margin-bottom: 300px;
}


#region-post .block.block_moodecprogress, 
#region-post .block.block_quickmail  
{
	display: block;
}

 

.block .header .block_action>* {
  width: 16px;
	height: 16px;
}


#region-post .block_adminblock
{
	display: none;
}

.block.block_settings .adminsearchform>div
{
	text-align: center;
	margin-top: 10px;
}

#tab1 #changenumsections 
{
	display: none;
}
#changenumsections 
{
	text-align: center;
}
#changenumsections a.reduce-sections, 
#changenumsections a.increase-sections
{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 10px 20px 0px 20px;
}
#changenumsections a.reduce-sections>img, 
#changenumsections a.increase-sections>img
{
	opacity: 0.001;
}

#changenumsections a.reduce-sections
{
	background: url([[pix:theme|reduceSection]]) no-repeat 0px 0px;
	background-size: 22px 22px;
}
#changenumsections a.increase-sections
{
	background: url([[pix:theme|increaseSection]]) no-repeat 0px 0px;
	background-size: 22px 22px;
}


img.iconsmall {
    padding: 0em !important;
    margin: 2px 4px !important;
}

.moodle-actionmenu[data-enhanced].show .menu .iconsmall, .moodle-actionmenu[data-enhanced].show .menu .smallicon {
    padding: 0;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 30px;
    line-height: 30px;
    color: #333;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border: 1px solid #b5b5b5;
}

textarea {
    height: auto;
}

button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {

  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
	text-shadow: none;
	background: none;
  background-color: #007cb7;
	height: 30px;
}

input[type="submit"]
{
	margin: 10px 1%;
}

button:hover, input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:focus, input.form-submit:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, button:active, input.form-submit:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, button.active, input.form-submit.active, input[type="button"].active, input[type="submit"].active, input[type="reset"].active, button.disabled, input.form-submit.disabled, input[type="button"].disabled, input[type="submit"].disabled, input[type="reset"].disabled, button[disabled], input.form-submit[disabled], input[type="button"][disabled], input[type="submit"][disabled], input[type="reset"][disabled] {
    color: #fff;
		background: none;
    background-color: #00608e;
}

button.active, input.form-submit.active, input[type="button"].active, input[type="submit"].active, input[type="reset"].active, button:active, input.form-submit:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

button:hover, input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:focus, input.form-submit:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus {
    text-decoration: none;
    
}

.user-enroller-panel .uep-search input.uep-search-btn {
    width: auto;
}

.user-enroller-panel .uep-search-results .user .options {
  margin: 0;
  padding: 4px 0;
}

.row {
    margin: 0;
}
#notice {
  text-align: center;
	margin: 5% auto;
	
}

#notice p{
  text-align: justify;
}

#notice .singlebutton+.singlebutton input, .submit.buttons input[name="cancel"] {
    display: inline-block;
    margin: 10px 5%;
    font-size: 1em;
    line-height: 20px;
    color: #fff;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
    background: none;
		background-color: #007cb7;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 04px;
    border-radius: 0px;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


thead tr {
    background-color: #007cb7;
    font-size: 1em;
		color: #fff;
		
}



th, td {
    padding: 8px;
		border: 1px solid #e5e5e5;
}

th a img
{
	width: 16px;
}

thead tr th {
		border: 1px solid #00608e;
		font-weight: normal!important;
}

thead tr th a:link, thead tr th a:hover, thead tr th a:visited, thead tr th a:active{
	color: #fff;
}

td{
	background-color: #f5f5f5;
}

.editing .section .activity:hover, .editing .section .activity.action-menu-shown {
    background-color: rgba(0, 124, 183, 0.1);;
		
}

.moodle-actionmenu .toggle-display, .moodle-actionmenu .menu-action-text {
    margin-left: 5px;
}

.moodle-actionmenu[data-enhanced].show .menu a:hover, 
.moodle-actionmenu[data-enhanced].show .menu a:focus
{
    text-decoration: none;
		outline: none;
}
.moodle-actionmenu[data-enhanced].show .menu a:hover
{
    background-color: #007cb7;
}

.moodle-actionmenu[data-enhanced].show .menu {
    //border: 2px solid rgba(0,124,183,1);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.1);
}


.moodle-actionmenu[data-enhanced].show .menu a {
    padding: 2px 4px;
}

.moodle-actionmenu[data-enhanced].show .menu a:last-child , 
.moodle-actionmenu[data-enhanced].show .menu a:first-child {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
}


.path-course-view .section .summary {
    padding-left: 40px;
}

legend {
  margin-bottom: 10px;
}
.mform fieldset.collapsible legend a.fheader {
  margin-left: 0px;
}
.mform fieldset.collapsible div.fcontainer {
  margin-left: 20px;
}



#toggle-all .content .sectionbody h4 a {
    
}


.collapsible-actions .collapseexpand {
	padding: 4px 10px 4px 22px;
	width: 35px;
	text-decoration: none;
	text-align: right;
	font-size: 14px;
	background-color: #eee;
	border: #ddd solid 1px;
	background: #eee url([[pix:theme|arrow_R_G]]) 2px center no-repeat;
	background-size: 16px auto;
}
.collapsible-actions .collapseexpand:hover {
		background: #eee url([[pix:theme|arrow_D_B]]) 2px center no-repeat;
		background-size: 16px auto;
}

.collapsible-actions .collapse-all, .dir-rtl .collapsible-actions .collapse-all {
    background: #eee url([[pix:theme|arrow_D_G]]) 2px center no-repeat;
		background-size: 16px auto;
}
.collapsible-actions .collapse-all:hover, .dir-rtl .collapsible-actions .collapse-all:hover {
    background: #eee url([[pix:theme|arrow_R_B]]) 2px center no-repeat;
		background-size: 16px auto;
}





input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .btn {
    color: #fff;
    text-shadow: none;
		background: none;
    background-color: #007cb7;
    border: none;
    filter: none;
		-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
		-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn {
    color: #007cb7;
		font-size: 0.9em;
		text-shadow: none;
    cursor: pointer;
    background-color: #e5e5e5;
    border: 1px solid #ccc;
}

table#form td.submit, .form-buttons, .path-admin .buttons, #fitem_id_submitbutton, .fp-content-center form+div, div.backup-section+form, #fgroup_id_buttonar {
    border-top: 6px solid #007cb7;
}

.mform .fdescription.required {
  font-size: 0.9em;
}

#fitem_id_availabilityconditionsjson label {
    display: inline-block;
}


.activity .activityinstance a img.activityicon {
  position: absolute;
	left: 0px;
	top: -4px;
	width: 20px;
	height: 20px;
}

.activity .activityinstance
{
	position: relative;
	padding-left: 30px;
	text-align: justify;
}







#page-user-profile .node_category li, .path-user .node_category li
{
	list-style: none;
}

#page-user-profile.dir-ltr .node_category .contentnode, .path-user.dir-ltr .node_category .contentnode {
    margin-left: 0px; 
}



.block_moodecprogress .moodecprogressBarHeader  img.smallicon
{
	width: 14px;
	float: none;
	margin-right: 0px;
}

.block_moodecprogress  img.moduleIcon
{
	width: 16px;
}

.block_moodecprogress .moodecprogressEventInfo {
    font-size: 0.8em;
}

.block_moodecprogress .content {
    text-align: left;
}



.block_moodecprogress .moodecprogressBarCell .smallicon {
    width: 100%;
    max-width: 14px;
    height: auto;
    max-height: 14px;
		float: none;
		margin: 0px;
}
.block_moodecprogress .moodecprogressBarCell#first, 
.block_moodecprogress .moodecprogressBarCell#last {
    border-radius: 0;
}

.block_moodecprogress .overviewButton {
    text-align: center;
}

table.generaltable {
    margin-top: 10px;
		margin-bottom: 20px;
}

.no-overflow>.generaltable {
    margin-bottom: 20px;
}
.no-overflow {
    overflow: hidden;
}

img.smallicon
{
	width: 16px;
	height: 16px;
}
img.userpicture {
    width: 35px;
    height: 35px;
}

.message-contacts img.userpicture {
    width: 20px;
    height: 20px;
}

.errormessage
{
	color: #ff0000;
	text-align: center;
	font-size: 1em;
	font-weight: 600;
	margin: 15px;
}


body #region-main .mform:not(.unresponsive) .fitem .felement.fsubmit {
  text-align: center;
}

.groupmanagementtable.boxaligncenter .groups,
.groupmanagementtable.boxaligncenter .members
{
	padding: 5px 2%;
}

.groupmanagementtable.boxaligncenter .groups select#groups,
.groupmanagementtable.boxaligncenter .members select#members
{
	width: 100%;
}
.buttons, 
.fitem_actionbuttons .fgroup
{
	text-align: center;
}

.buttons .singlebutton {
    display: inline-block;
}

h1 img.iconhelp, h1 img.icon, h2 img.iconhelp, h2 img.icon, h3 img.iconhelp, h3 img.icon, h4 img.iconhelp, h4 img.icon, h5 img.iconhelp, h5 img.icon, h6 img.iconhelp, h6 img.icon {
    padding: 0;
}


img.pluginicon
{
	box-sizing: initial;
	width: 20px;
	height: 20px;
	margin-right: 6px;
	
}

.path-mod-workshop  table.userplan thead th.nonactive
{
	background-color: #d5d5d5;
	color: #000;
	border: 1px solid #999;
	padding: 3px 8px;
}

.path-mod-workshop  table.userplan thead th.active
{
	background-color: rgba(0, 124, 183, 1);
	color: #fff;
	border: 1px solid #999;
	padding: 3px 8px;
}
.path-mod-workshop .userplan td.active
{
	background-color: rgba(0, 124, 183, 0.1);
}

.path-mod-workshop  table.userplan thead th.nonactive div.actions
{
	float: right;
}


.path-mod-workshop .userplan tr.phasetasks li {
	background: transparent url([[pix:theme|tick2]]) top left no-repeat;
	background-size: 18px auto;
}
.path-mod-workshop .userplan tr.phasetasks li.fail
{
	background: transparent url([[pix:theme|cross2]]) no-repeat;
	background-size: 18px auto;
}

.path-mod-workshop .userplan tr.phasetasks li.info
{
	background-size: 14px auto;
}
/**********************************************************************************
                                           forum
**********************************************************************************/
iframe#moodecforum{
	width: 100%!important;
	overflow-x: hidden;
}


/*
iframe#moodecforum{
	//width: 100%!important;
}

html.iframehtml
{
	background: none;
}


.qa-nav-main-list
{
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	text-transform: uppercase; 
	letter-spacing: 1px;
}

#qa-login-bar {
	margin: 0;
	height: 30px;
}

#qa-login-bar, 
.qa-main-shadow, 
.qa-main-wrapper, 
.qa-nav-main
{
    background: none;
    box-shadow: none;
		border: none;
}

.qa-nav-main-list
{
	//font-size: 1.2em;
}

.qa-nav-main-item
{
	padding: 0 2px;
}

.qa-nav-main-link {
    background-color: rgba(0, 124, 183, 0.6);
		color: #fff!important;
}

.qa-nav-main-selected
{
	background-color: rgba(0, 124, 183, 1);
}
*/
.format-topcoll .course-content .tab ul.ctopics  .section.main
{
	width: 100%;
}

.format-topcoll .course-content #tab1 ul.ctopics .section.main .side
{
	display: none;
}

.format-topcoll .course-content #tab1 ul.ctopics  .section.main .content
{
	margin: 0px;
}


.format-topcoll .course-content #tab1 ul.ctopics li.section.main
{
	border: none;
}

.format-topcoll .badgeimage 
{
	display: inline-block;
	margin: 30px 20px;
	width: 140px;
	max-width: 140px;
	height: 140px;
  text-align: center;
	vertical-align: top; 
}

.format-topcoll .badgeimage a.activatedbadge,
.format-topcoll .badgeimage a.deactivatedbadge
{
	border-radius: 50%;
	width: 120px;
	height: 120px;
	display: block;
	overflow: hidden;
	background-color: #fff;
	margin: 10px auto;
	
}

.format-topcoll a.activatedbadge
{
	border: #007cb7 solid 20px;
}
.format-topcoll a.deactivatedbadge
{
	border: #aca39a solid 20px;
	opacity: 0.5;
}


.path-badges  #badge-image>img,
img.badge-image
{
	border-radius: 50%;
	border: #007cb7 solid 20px;
	display: block;
	margin: 10px auto 0;
}

.path-badges  ul.badges
{
	margin-top: 20px;
}
.path-badges  .badge-actions
{
	margin-top: 5px;
}

#page-badges-badge  #badge-image .singlebutton
{
	display: none;
}

.format-topcoll img.activatebadge
{
	border-radius: 50%;
	border: #007cb7 solid 20px;
	//width: 40px;
	//height: 40px;
}

.format-topcoll td img.activatebadge
{
	border: #007cb7 solid 5px;
}

.format-topcoll h2 img.activatebadge
{
	display: none;
}



.format-topcoll .badgeimage a img.activatebadge
{
	border-radius: 0;
	border: none;
	width: 100px;
	height: 100px;
	margin-top: -10px;
	margin-left: -10px;
}






.format-topcoll .badgeimage .badgename
{
	color: #007cb7;
	font-size: 0.9em;
}

.format-topcoll .badgeimage .deactivatedbadge .badgename
{
	color: #aca39a;
}


.format-topcoll #badge-overview,
#badge-details
{
	padding-left: 20px;
}

.format-topcoll #badge-overview>h3,
#badge-details>h3
{
	margin-left: -20px;
	margin-top: 20px;
}

.editing  .course-content .section  .side>a
{
	display: block;
	width: 16px;
	height: 16px;
	margin: 3px auto;
	background: url([[pix:theme|editing/delete]]) no-repeat 0px 0px;
	background-size: 16px  48px;
}

.editing .course-content .section  .side>a>img.icon
{
	display: none !important;
}


.editing  .course-content .section  .side>a.movedown, 
.editing  .course-content .section  .side>a.moveup
{
	background: none;
}

.editing .course-content .section  .side>a.movedown>img.icon, 
.editing .course-content .section  .side>a.moveup>img.icon
{
	display: inline !important;
}

.editing  .course-content .section  .side>a.editing_highlight
{
	background: url([[pix:theme|editing/marker]]) no-repeat 0px 0px;
	background-size: 16px  48px;
}
.editing  .course-content .section  .side>a.editing_showhide
{
	background: url([[pix:theme|editing/hide]]) no-repeat 0px 0px;
	background-size: 16px 48px;
}

.editing .course-content .section.hidden .side>a.editing_showhide
{
	background: url([[pix:theme|editing/show]]) no-repeat 0px 0px;
	background-size: 16px 48px;
}


.editing  .course-content .section.current  .side>a , 
.editing  .course-content .section.current.hidden  .side>a 
{
	background-position: 0px -32px;
}

.editing  .course-content .section  .side>a:hover, 
.editing  .course-content .section.hidden  .side>a:hover
{
	background-position: 0px -32px;
}

.editing  .course-content .section.current  .side>a:hover, 
.editing  .course-content .section.current.hidden  .side>a:hover
{
	background-position: 0px -16px;
}

.editing  .course-content .section  .left.side .moodle-core-dragdrop-draghandle>img
{
	display: none;
}

.editing  .course-content .section  .left.side .moodle-core-dragdrop-draghandle
{
	display: block;
	width: 20px;
	height: 20px;
	margin: 3px auto;
	background: url([[pix:theme|editing/move]]) no-repeat 0px 0px;
	background-size: 20px  60px;
}
.editing  .course-content .section.current  .left.side .moodle-core-dragdrop-draghandle
{
	background-position: 0px -40px;
}

.editing  .course-content .section  .left.side .moodle-core-dragdrop-draghandle:hover
{
	background-position: 0px -40px;
}
.editing  .course-content .section.current  .left.side .moodle-core-dragdrop-draghandle:hover
{
	background-position: 0px -20px;
}


.moodle-dialogue-base .moodle-dialogue-wrap 
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: #D1EFFD;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 20px 0 #666;
	-moz-box-shadow: 5px 5px 20px 0 #666;
	box-shadow: 5px 5px 20px 0 #666;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd, 
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd
{
	padding: 5px 25px 5px 5px;
	background: none;
  box-shadow: none;
  border: 0;
	color: #007cb7;
	font-size: 1.2em;
	font-weight: 800;
	border-bottom-width:1px;
	border-style: solid;
	-webkit-border-image: -webkit-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
	-moz-border-image: -moz-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
	-o-border-image: -o-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
	border-image: linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
	border-image-slice: 1;
}

.moodle-dialogue-base button.yui3-button.closebutton,
.moodle-dialogue-base button.yui3-button.closebutton:hover {
	width: 20px;
  height: 20px;
	background: url([[pix:theme|icoClose]]) no-repeat;
	background-position: center center;
	background-size: 70%;
	border-radius: 0;
	box-shadow: none;
	border: none;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons {
    padding: 3px;
}

.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-content .moodle-dialogue-ft
{
	background-color: transparent;
}



#categoryquestions .checkbox {
    width: 30px;
}

#categoryquestions .qtype {
    width: 35px;
}
#categoryquestions .iconcol
{
	width: 22px;
}



.region-content .questioncategories  img.iconsmall
{
	display: none;
}

.region-content .questioncategories  a>img.iconsmall
{
	display: inline-block;
}
.yui3-skin-sam div#dateselector-calendar-panel  .yui3-calendar-content
{
	background: none;
	background-color: #f5f5f5;
	border-radius: 0px;
	webkit-box-shadow: 0px 0px 20px 0 rgba(100,100,100,0.6);
	-moz-box-shadow: 0px 0px 20px 0 rgba(100,100,100,0.6);
	box-shadow: 0px 0px 20px 0 rgba(100,100,100,0.6);
}
.yui3-skin-sam .yui3-calendarnav-prevmonth {
    border-right-color: #007cb7;
}
.yui3-skin-sam .yui3-calendarnav-prevmonth:hover {
    border-right-color: #00608e;
}
.yui3-skin-sam .yui3-calendarnav-nextmonth
{
	border-left-color: #007cb7;
}
.yui3-skin-sam .yui3-calendarnav-nextmonth:hover
{
	border-left-color: #00608e;
}


div#dateselector-calendar-panel table
{
	font-size: 0.8em;
}
div#dateselector-calendar-panel thead th{
	padding: 4px;
}

#page-admin-user-user_bulk div#fgroup_id_usersgrp fieldset.fgroup
{
	position: relative;
	padding-top: 30px;
}

#page-admin-user-user_bulk div#fgroup_id_usersgrp fieldset.fgroup label.qflabel
{
	position: absolute;
	top: 10px;
	left: 0;
	width: 50%;
}
#page-admin-user-user_bulk div#fgroup_id_usersgrp fieldset.fgroup label:nth-last-of-type(2)
{
	left: auto;
	left: initial;
	right: 0;
}

#page-admin-user-user_bulk div#fgroup_id_usersgrp fieldset.fgroup select
{
	width: 47%;
	margin-right: 2%;
}


.file-picker .fp-list .fp-repo-icon {
    padding: 0;
}


/**********************************************************************************
																	moodecdescription
**********************************************************************************/
body.format-topcoll.path-mod-moodecdescription #region-main
{
	background-color: #f5f5f5;
	padding: 15px;
}

.path-mod-moodecdescription .region-content #mooc h2
{
	font-size: 4vw;
	line-height: 5vw;
	font-weight: 400;
	color: #007cb7;
}



#descriptionCours {
	width: 60%;
	float: left;
	padding: 2% 0;
	text-align: justify;
}
#iframevideo>iframe
{
	max-width: 100%;
	float: left;
	padding: 10px;
}

#texteDescription {
    margin-bottom: 50px;
}

#texteDescription span {
    color: black;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 1em;
    line-height: normal;
}

#inscription, #moocInfo 
{
    width: 35%;
    float: right;
    min-height: 500px;
    padding: 0 0 2% 0;
    margin: 2%;
    text-align: center;
    background-color: #e3e3e3;
}

#moodecDescIcons 
{
    width: 96%;
    text-align: left;
    margin: 10px auto;
    line-height: 35px;
}

#moodecDescIcons > div .iconTitle {
    padding-right: 26px;
    text-align: right;
}

#moodecDescIcons #school .iconTitle {
    background: url([[pix:theme|home/icon_ecole]]) no-repeat right center;
    background-size: 20px 20px;
}

#moodecDescIcons #effort .iconTitle {
    background: url([[pix:theme|home/icon_effort]]) no-repeat right center;
    background-size: 20px 20px;
}

#moodecDescIcons #startdate .iconTitle {
    background:url([[pix:theme|home/icon_debut]]) no-repeat right center;
    background-size: 20px 20px;

}

#moodecDescIcons #enddate .iconTitle {
    background: url([[pix:theme|home/icon_fin]]) no-repeat right center;
    background-size: 20px 20px;

}

#moodecDescIcons #duration .iconTitle {
    background: url([[pix:theme|home/icon_duree]])no-repeat right center;
    background-size: 20px 20px;
}

#moodecDescIcons .iconTitle {
    display: inline-block;
    width: 45%;
    color: #007cb7;
    font-family: 'Oswald', 'Helvetica';
    text-transform: uppercase;
}

#moodecDescIcons .iconDesc {
    display: inline-block;
    padding-left: 3%;
    width: 55%;
}


#moocInfo  #container_professor .userpicture, 
#inscription #container_professor .imgProf {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 30px auto 20px;
}


#infoCourse {
    float: left;
    padding: 2%;
    width: 60%;
    background-color: #e3e3e3;
}

#infoCourse h4
{
	color: #007cb7;
}

.texteMoocBleu {
    color: #666;
    font-size: 1em;
    line-height: 2em;
    margin-top: 15px;
    font-family: 'Oswald', 'Helvetica';
    letter-spacing: 2px;
    text-transform: uppercase;
}
.InfoComm {
    color: #666;
    font-size: 0.9em;
    padding-left: 15px;
}

#moodecDescContent .moocimg
{
	margin: 0;
	max-width: initial;
	max-height: initial;
}


.iframevideomoodec 
{
	text-align: center;
}

.iframevideomoodec  iframe
{
		max-width: 800px;
}





.message  .heading{
	width: 100%;
	margin: 15px 0 5px;
	font-size: 16px;
	text-align: left;
}

.message .contactselector
{
	margin-bottom: 20px;
}


.message .contactselector ul
{
	margin-left: 15px;
}

.message .singlemessage .otheruser {
  display: inline-block;
  width: calc(100% - 150px);
}

.message .singlemessage .otheruser img.userpicture {
    width: 20px;
    height: 20px;
}

.message .messagearea .messagerecent .singlemessage .messagedate
{
	display: inline-block;
  width: 150px;
	float: initial;
	font-size: 14px;
	text-align: right;
	color: #999;
}

.message .singlemessage .themessage
{
	display: block;
  margin: 10px 0px 10px 35px;
}

.message .singlemessage .messagecontext
{
	text-align: right;
}

.message .messagearea {
	margin-top: 15px;
	border: 0;
	border-left-width: 1px;
	border-style: solid;
	-webkit-border-image: -webkit-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
	-moz-border-image: -moz-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
	-o-border-image: -o-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
	border-image: linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
	border-image-slice: 1;
}

.message  .box.user
{
	margin: 5px 0 20px;
}


.message  .box.user .heading
{
	text-align: center;
}


.message  .useractionlinks
{
	visibility: hidden;
}

.message  .useractionlinks span
{
	visibility: visible;
	display: block;
	margin-top: -16px;
}
.message  .useractionlinks span:first-child
{
	margin-top: 0px;
}




.message .messagehistory h4{
	padding: 5px;
  margin: 10px 0;
	border: 0;
	border-bottom-width: 1px;
	border-style: solid;
	-webkit-border-image: -webkit-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
	-moz-border-image: -moz-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
	-o-border-image: -o-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
	border-image: linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
	border-image-slice: 1;
}

.message .messagehistory h4 a:hover
{
	text-decoration: none;
	color: #007cb7;
}

.message .messagearea .messagehistory .right, 
.message .messagearea .messagehistory .left
{
	width: 80%;
	background-color: #F2F2F2;
	border-radius: 5px;
	box-shadow: 0 0 3px #B2B2B2;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	
}
.message .messagearea .messagehistory .right::before,
.message .messagearea .messagehistory .right
{
	background-color: #ddd;
	
}
.message .messagearea .messagehistory .left::before, 
.message .messagearea .messagehistory .left
{
	background-color: #007cb7;
}
.message .messagearea .messagehistory .right::before
{
	box-shadow: 1px -1px 2px 0 rgba( 178, 178, 178, .4 );
  right: -9px;   
}
.message .messagearea .messagehistory .right
{
  margin: 5px 45px 5px 20px; 	
	color: #000;
}
.message .messagearea .messagehistory .left::before
{
	box-shadow: -1px 1px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px; 
}
.message .messagearea .messagehistory .left
{
	margin: 5px 20px 5px 45px;
	color: #fff;
}

.message .messagearea .messagehistory .right::before,
.message .messagearea .messagehistory .left::before
{
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.message .messagearea .messagehistory  .message-meta
{
	position: absolute;
  bottom: 0;
  right: 5px;
	visibility: visible;
}

.message  .right .message-meta .time{
	color: #666;
}

.message  .left .message-meta .time{
	color: #ccc;
}

.message .messagearea .messagehistory .message
{
	visibility: collapse;
}

.message .messagearea .messagehistory .message .text
{
	visibility: visible;
	display: block;
	margin-top: -16px;
	margin-bottom: 10px;
}

.message .messagearea .messagehistory  .right .message-meta
{
	
}

.message .messagearea .messagehistory  .left .message-meta
{
	
}





.block.block_quickmail .unlist>li>.column.icon.c0
{
	width: 15px;
  vertical-align: top;
}

.block.block_quickmail .unlist>li>.column.c1
{
	width: calc(100% - 20px);
}









/**********************************************************************************
                                           responsive
**********************************************************************************/










@media screen and (min-width: 1024px) {
	#inscription, #moocInfo 
	{
			width: 320px;
	}

	#descriptionCours, #infoCourse 
	{
			width: calc(95% - 320px);
	}


}





@media screen and (max-width: 1024px) {
	.breadcrumb-nav ul.breadcrumb li.first
	{
		width: 30px;
	}
	
	.breadcrumb-nav ul.breadcrumb li.first a
	{
		color: transparent;
	}
}

@media screen and (max-width: 1000px) {
	.message .messagearea {
		border: 0;
    border-top-width: 1px;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
    -moz-border-image: -moz-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
    -o-border-image: -o-linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
    border-image: linear-gradient(90deg, rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
    border-image-slice: 1;
	}
}

@media screen and (max-width: 800px) {
	
	.breadcrumb-nav ul.breadcrumb li {
		padding: 0 0 0 18px;
		line-height: 24px;
		height: 22px;
		margin-bottom: 10px;
		background: rgba(0, 124, 183, 0.7) url([[pix:theme|arrowRightWhiteM]]) no-repeat 0px center;
		background-size: auto 24px ;
		letter-spacing: 0px;
	}
	
	
	.breadcrumb-button .singlebutton input[type="submit"] {
		color: transparent;
    width: 22px;
		height: 22px;
		padding: 0;
    background-position: center center;
		background-size: auto 16px;
	}
	
	
	#infoCourse, #moocInfo
	{
		width: 49%;
		margin: 0.5%;
    min-height: initial;
	}

	#descriptionCours
	{
			width: 100%;
	}
	
	
	td img {
		//width: 100%;
	}
	
	td img.smallicon {
		width: auto;
	}
	
	#pageheader-top-right
	{
    width: 70px;
	}
	.usermenu #usertext,  #pageheader-top-right .usermenuonlogged #usertext
	{
		display: none;
	}
	
	#pageHeaderMenu
	{
		height: auto;
		margin-bottom: 15px;
	}
	
	#pageHeaderMenu a#pull {
			display: block;
			position: relative;
			padding-left: 50px;
	}

	#pageHeaderMenu a#pull:before {  
    content:""; 
		background: url([[pix:theme|navIcon]]) no-repeat 0px 0px;
		background-size: 20px 20px;
    width: 20px;  
    height: 20px;  
    display: inline-block;  
    position: absolute;  
    left: 20px;  
    top: 15px;  
  } 
	
	
	#pageHeaderMenu ul#menu {
			display: none;
			height: auto;
			width: 100%;
			margin-left: 0px;
			
	}

	
	#pageHeaderMenu ul#menu li {
    display: block;
    float: none;
    margin: 0px;
    padding-left: 60px;
    width: 100%;
    line-height: 45px;
    font-weight: 500;
    height: 45px;
    min-height: 45px;
	}
	#pageHeaderMenu ul#menu li:hover{
		background-color:#0164a7;
	}
	
	#pageHeaderMenu ul#menu li a {
    display: block;
    width: 100%;
	}
	
	#pageHeaderMenu #menu1 {
		background-color: #212121;
	}
	
	#logo{
		width: 146px;
		height: 55px;
		margin-left: 96px;
		background: url([[pix:theme|logoHESs]]) no-repeat center right;
	}
	
	#logoMoocHeader
	{
		top: 5px;
		background-size: auto 35px;
	}
	
	#pageheader-menu-right {
    top: 0px;
	}
	
	#footerLeft {
    margin-left: 1%;
	}

	#footerRight {
    max-width: 25%;
		padding-right: 0px;
		margin-right: 1%;
	}
	#footerRight h4{
    margin-right: 0px; 
		margin-bottom: 10px; 
	}
	
	#footerRight a.btnRS {
    margin: 3px;
	}
	
	#footerLeft .col {
    margin-right: 15px;
    padding-right: 15px;
	}
	

	
	
	
}

@media screen and (max-width: 600px) {
	.block 
	{
		width: 100%;
	}
	
	.breadcrumb-nav {
    //float: none;
	}
	.breadcrumb-button {
    //float: none;
    //margin: 0px 4px 0px 0px;
	}
	.breadcrumb-button .singlebutton {
    //float: none;
    //margin: 0px;
}
	.breadcrumb-nav ul.breadcrumb li.breadcrumbAnim span
	{
		width: 30px;
	}
	
	.breadcrumb-button .singlebutton input[type="submit"] {
		//color: #fff;
    //width: auto;
		//padding: 0 10px 0 36px;
		//background-position: 5px center;
	}
	
	body
	{
		margin-bottom: 250px;
		min-width: 400px;
	}
	
	
	footer
	{
		height: 250px;
		min-width: 400px;
	}
	
	#footerContenu h4 {
    margin-bottom: 10px;
    color: #f8f8f8;
    text-transform: uppercase;
	}
	
	
	#footerLeft, #footerRight
	{
    float: none;
		width: 100%;
		max-width: 100%;
		padding: 0;
    margin: 0;
		margin-bottom: 20px;
		text-align: left;
	}

	#footerLeft .col {
		width: 48%;
    margin: 0;
    padding: 2% 2% 2% 0!important;
		margin-right: 2%;
	}
	#footerContenu #footerLeft div.colLast {
		margin: 0;
    padding: 2%;
	}
	
	#footerRight a.btnRS
	{
		float: none;
	}
	
	#infoCourse, #moocInfo
	{
		width: 100%;
		margin: 0.5% 0;

	}
}

@media screen and (max-width: 500px) {
	
	
	
}