/*
 * @package     theme_essential
 * @copyright   2014 Gareth J Barnard, David Bezemer
 * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
/* @group Blocks */
.block .icon {
  color: [[setting:themeiconcolor]];
}
.block .moodle-core-dragdrop-draghandle:before {
  color: [[setting:themeiconcolor]];
}
.block .menu a.menu-action {
  color: [[setting:themeurlcolor]];
}
.block .menu a.menu-action:hover {
  color: [[setting:themehovercolor]];
}
.block .header .title h2,
.block h3.main {
  color: [[setting:themetextcolor]];
}
p.tree_item.leaf a > i {
  color: [[setting:themeiconcolor]];
}
p.tree_item.leaf a:hover,
p.tree_item.leaf a:focus {
  color: [[setting:themehovercolor]];
}
p.tree_item.leaf a:hover > i,
p.tree_item.leaf a:focus > i {
  color: inherit;
}
p.tree_item.branch {
  color: [[setting:themeurlcolor]];
}
p.tree_item.branch:before {
  color: [[setting:themeiconcolor]];
}
p.tree_item.branch:hover,
p.tree_item.branch:focus {
  color: [[setting:themehovercolor]];
}
p.tree_item.branch:hover:before,
p.tree_item.branch:focus:before {
  color: inherit;
}
p.tree_item.branch:hover a,
p.tree_item.branch:focus a {
  color: inherit;
}
p.tree_item.branch.emptybranch:before {
  color: [[setting:themeiconcolor]];
}
p.tree_item.branch.emptybranch:hover:before,
p.tree_item.branch.emptybranch:focus:before {
  color: [[setting:themehovercolor]];
}
.collapsed .tree_item.branch:before {
  color: [[setting:themeiconcolor]];
}
/* @group Block Icons */
.block_news_items .header .title h2:before {
  content: "\f0a1";
  font-family: FontAwesome;
}
.block_navigation .header .title h2:before {
  content: "\f0e8";
  font-family: FontAwesome;
}
.block_calendar_upcoming .header .title h2:before,
.block_calendar_month .header .title h2:before {
  content: "\f073";
  font-family: FontAwesome;
}
.block_course_list .header .title h2:before {
  content: "\f108";
  font-family: FontAwesome;
}
.block_completionstatus .header .title h2:before,
.block_selfcompletion .header .title h2:before {
  content: "\f0e4";
  font-family: FontAwesome;
}
.block_blog_menu .header .title h2:before {
  content: "\f02d";
  font-family: FontAwesome;
}
.block_quiz_results .header .title h2:before {
  content: "\f080";
  font-family: FontAwesome;
}
.block_quiz_navblock .header .title h2:before {
  content: "\f126";
  font-family: FontAwesome;
}
.block_glossary_random .header .title h2:before {
  content: "\f0eb";
  font-family: FontAwesome;
}
.block_book_toc .header .title h2:before {
  content: "\f02d";
  font-family: FontAwesome;
}
.block_participants .header .title h2:before,
.block_online_users .header .title h2:before {
  content: "\f0c0";
  font-family: FontAwesome;
}
.block_html .header .title h2:before {
  content: "\f022";
  font-family: FontAwesome;
}
.block_section_links .header .title h2:before {
  content: "\f02e";
  font-family: FontAwesome;
}
.block_activity_modules .header .title h2:before {
  content: "\f12e";
  font-family: FontAwesome;
}
.block_comments .header .title h2:before {
  content: "\f075";
  font-family: FontAwesome;
}
.block_settings .header .title h2:before {
  content: "\f085";
  font-family: FontAwesome;
}
.block_admin_bookmarks .header .title h2:before {
  content: "\f02e";
  font-family: FontAwesome;
}
.block_blog_tags .header .title h2:before,
.block_tags .header .title h2:before {
  content: "\f02c";
  font-family: FontAwesome;
}
.block_private_files .header .title h2:before {
  content: "\f114";
  font-family: FontAwesome;
}
.block_block_mentees .header .title h2:before {
  content: "\f0c0";
  font-family: FontAwesome;
}
.block_messages .header .title h2:before {
  content: "\f0e0";
  font-family: FontAwesome;
}
.block_community .header .title h2:before {
  content: "\f0ac";
  font-family: FontAwesome;
}
.block_recent_activity .header .title h2:before {
  content: "\f017";
  font-family: FontAwesome;
}
.block_search_forums .header .title h2:before {
  content: "\f0e6";
  font-family: FontAwesome;
}
.block_myprofile .header .title h2:before {
  content: "\f007";
  font-family: FontAwesome;
}
.block_adminblock .header .title h2:before {
  content: "\f009";
  font-family: FontAwesome;
}
.block_feedback .header .title h2:before {
  content: "\f087";
  font-family: FontAwesome;
}
.block_flickr .header .title h2:before {
  content: "\f03e";
  font-family: FontAwesome;
}
.block_youtube .header .title h2:before {
  content: "\f145";
  font-family: FontAwesome;
}
.block_course_badges .header .title h2:before {
  content: "\f091";
  font-family: FontAwesome;
}
.block_twitter_search .header .title h2:before {
  content: "\f099";
  font-family: FontAwesome;
}
/* @end */
/* @end */
/* @group Breadcrumb Button */
.breadcrumb-button input[type="submit"] {
  color: [[setting:themenavcolor]];
  background-color: [[setting:themecolor]];
  background-image: none;
}
.breadcrumb-button input[type="submit"]:hover {
  color: [[setting:themecolor]];
  background-color: [[setting:themehovercolor]];
}
.breadcrumb-button i {
  color: inherit;
}
/* @end */
/* @group Breadcrumb */
.breadcrumb-nav {
  /* @group Breadcrumb Style Fancy */
}
.breadcrumb-nav ul.breadcrumb.style1 li {
  color: [[setting:themenavcolor]];
  background-color: [[setting:themecolor]];
}
.breadcrumb-nav ul.breadcrumb.style1 li a {
  color: [[setting:themenavcolor]];
}
.breadcrumb-nav ul.breadcrumb.style1 li a:hover {
  color: [[setting:themecolor]];
}
.breadcrumb-nav ul.breadcrumb.style1 li:after {
  border-left-color: [[setting:themecolor]];
}
.breadcrumb-nav ul.breadcrumb.style1 li:first-of-type a:before {
  color: [[setting:themenavcolor]];
}
.breadcrumb-nav ul.breadcrumb.style1 li:first-of-type:hover a:before {
  color: [[setting:themecolor]];
}
.breadcrumb-nav ul.breadcrumb.style1 li:hover {
  color: [[setting:themecolor]];
  background-color: [[setting:themehovercolor]];
}
.breadcrumb-nav ul.breadcrumb.style1 li:hover a {
  color: [[setting:themecolor]];
}
.breadcrumb-nav ul.breadcrumb.style1 li:hover:after {
  border-left-color: [[setting:themehovercolor]];
}
.breadcrumb-nav ul.breadcrumb.style1 li:hover:after a {
  color: [[setting:themecolor]];
}
.dir-rtl .breadcrumb-nav ul.breadcrumb.style1 li:after {
  border-right-color: [[setting:themecolor]];
}
.dir-rtl .breadcrumb-nav ul.breadcrumb.style1 li:hover:after {
  border-right-color: [[setting:themenavcolor]];
}
/* @end */
/* @group Breadcrumb Style Simple */
ul.breadcrumb.style2 li a {
  color: [[setting:themetextcolor]];
}
ul.breadcrumb.style2 li a:hover {
  color: [[setting:themehovercolor]];
}
/* @end */
/* @end */
/* @group Buttons */
button,
input.form-submit,
input[type="button"],
input[type="submit"],
input[type="reset"],
#notice .singlebutton + .singlebutton input,
.submit.buttons input[name=cancel] {
  color: [[setting:themetextcolor]];
}
button:focus,
input.form-submit:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
#notice .singlebutton + .singlebutton input:focus,
.submit.buttons input[name=cancel]:focus,
button:hover,
input.form-submit:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
#notice .singlebutton + .singlebutton input:hover,
.submit.buttons input[name=cancel]:hover,
button:active,
input.form-submit:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
#notice .singlebutton + .singlebutton input:active,
.submit.buttons input[name=cancel]:active {
  color: inherit;
}
/* @end */
/* @group Carousel */
#essentialCarousel.carousel .carousel-inner .carousel-caption {
  background-color: [[setting:slidecaptionbackgroundcolor]];
}
#essentialCarousel.carousel .carousel-inner .carousel-caption .carousel-caption-inner {
  max-width: [[setting:pagewidth]];
}
#essentialCarousel.carousel .carousel-inner .carousel-caption h4,
#essentialCarousel.carousel .carousel-inner .carousel-caption p {
  color: [[setting:slidecaptiontextcolor]];
}
#essentialCarousel.carousel .carousel-control {
  color: [[setting:slidebuttoncolor]];
}
#essentialCarousel.carousel .carousel-control i {
  color: inherit;
}
#essentialCarousel.carousel .carousel-control:hover,
#essentialCarousel.carousel .carousel-control:focus {
  color: [[setting:slidebuttonhovercolor]];
}
#essentialCarousel.carousel .carousel-control:hover i,
#essentialCarousel.carousel .carousel-control:focus i {
  color: inherit;
}
#essentialCarousel.carousel .carousel-indicators {
  box-shadow: 0px 0px 8px [[setting:slidebuttoncolor]];
}
#essentialCarousel.carousel .carousel-indicators li {
  background-color: [[setting:slidebuttoncolor]];
}
#essentialCarousel.carousel .carousel-indicators .active {
  background-color: [[setting:slidebuttonhovercolor]];
}
/* @end */
/*
 * @package   theme_essential
 * @author    Franc Pombal
 * @modified  Julian Ridden
 * @modified  Gareth J Barnard, David Bezemer
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
/* @group Category Icons */
.categoryicons .course_category_tree .category[data-categoryid]:hover {
  background-color: [[setting:themecolor]];
}
.categoryicons .course_category_tree .category[data-categoryid]:hover > .info > .categoryname a {
  color: [[setting:themenavcolor]];
}
.categoryicons .course_category_tree .category[data-categoryid]:hover > .info > .categoryname a i {
  color: inherit;
}
/* @end */
/* @group Core */
.moodle-actionmenu[data-enhanced].show .menu {
  background-color: #ffffff;
}
.moodle-actionmenu[data-enhanced].show .menu a {
  color: [[setting:themeurlcolor]];
}
.moodle-actionmenu[data-enhanced].show .menu a:hover {
  color: #ffffff;
  background-color: [[setting:themeurlcolor]];
}
.moodle-actionmenu[data-enhanced].show .menu a:hover .fa:before {
  color: #ffffff;
}
/* @end */
/* @group Course */
.listitem-category .icon {
  color: [[setting:themeiconcolor]];
}
/* @group Course Footer */
.section-navigation {
  color: [[setting:themetextcolor]];
}
.nav_guide {
  color: [[setting:themetextcolor]];
}
.nav_icon {
  color: [[setting:themecolor]];
}
.nav_icon:hover {
  color: [[setting:themehovercolor]];
}
/* @end */
/* @end */
/* @group Dock */
body.has_dock #dock {
  background-color: [[setting:themecolor]];
}
body.has_dock #dock .dockedtitle h2 {
  color: [[setting:themetextcolor]];
}
body.has_dock #dock .dockedtitle:hover,
body.has_dock #dock .dockedtitle:focus,
body.has_dock #dock .dockedtitle:active,
body.has_dock #dock .dockedtitle.active,
body.has_dock #dock .dockedtitle.disabled,
body.has_dock #dock .dockedtitle[disabled] {
  background-color: [[setting:themehovercolor]];
}
body.has_dock.essential-colours-alternative1 #dock {
  background-color: [[setting:alternativethemecolor1]];
}
body.has_dock.essential-colours-alternative1 #dock .dockedtitle h2,
body.has_dock.essential-colours-alternative1 #dock .dockeditempanel_hd h2 {
  color: [[setting:alternativethemetextcolor1]];
}
body.has_dock.essential-colours-alternative1 #dock .dockedtitle h2:before,
body.has_dock.essential-colours-alternative1 #dock .dockeditempanel_hd h2:before {
  color: [[setting:alternativethemecolor1]];
}
body.has_dock.essential-colours-alternative1 #dock .dockedtitle:hover,
body.has_dock.essential-colours-alternative1 #dock .dockedtitle:focus,
body.has_dock.essential-colours-alternative1 #dock .dockedtitle:active,
body.has_dock.essential-colours-alternative1 #dock .dockedtitle.active,
body.has_dock.essential-colours-alternative1 #dock .dockedtitle.disabled,
body.has_dock.essential-colours-alternative1 #dock .dockedtitle[disabled] {
  background-color: [[setting:alternativethemehovercolor1]];
}
body.has_dock.essential-colours-alternative2 #dock {
  background-color: [[setting:alternativethemecolor2]];
}
body.has_dock.essential-colours-alternative2 #dock .dockedtitle h2,
body.has_dock.essential-colours-alternative2 #dock .dockeditempanel_hd h2 {
  color: [[setting:alternativethemetextcolor2]];
}
body.has_dock.essential-colours-alternative2 #dock .dockedtitle h2:before,
body.has_dock.essential-colours-alternative2 #dock .dockeditempanel_hd h2:before {
  color: [[setting:alternativethemecolor2]];
}
body.has_dock.essential-colours-alternative2 #dock .dockedtitle:hover,
body.has_dock.essential-colours-alternative2 #dock .dockedtitle:focus,
body.has_dock.essential-colours-alternative2 #dock .dockedtitle:active,
body.has_dock.essential-colours-alternative2 #dock .dockedtitle.active,
body.has_dock.essential-colours-alternative2 #dock .dockedtitle.disabled,
body.has_dock.essential-colours-alternative2 #dock .dockedtitle[disabled] {
  background-color: [[setting:alternativethemehovercolor2]];
}
body.has_dock.essential-colours-alternative3 #dock {
  background-color: [[setting:alternativethemecolor3]];
}
body.has_dock.essential-colours-alternative3 #dock .dockedtitle h2,
body.has_dock.essential-colours-alternative3 #dock .dockeditempanel_hd h2 {
  color: [[setting:alternativethemetextcolor3]];
}
body.has_dock.essential-colours-alternative3 #dock .dockedtitle h2:before,
body.has_dock.essential-colours-alternative3 #dock .dockeditempanel_hd h2:before {
  color: [[setting:alternativethemecolor3]];
}
body.has_dock.essential-colours-alternative3 #dock .dockedtitle:hover,
body.has_dock.essential-colours-alternative3 #dock .dockedtitle:focus,
body.has_dock.essential-colours-alternative3 #dock .dockedtitle:active,
body.has_dock.essential-colours-alternative3 #dock .dockedtitle.active,
body.has_dock.essential-colours-alternative3 #dock .dockedtitle.disabled,
body.has_dock.essential-colours-alternative3 #dock .dockedtitle[disabled] {
  background-color: [[setting:alternativethemehovercolor3]];
}
body.has_dock.essential-colours-alternative4 #dock {
  background-color: [[setting:alternativethemecolor4]];
}
body.has_dock.essential-colours-alternative4 #dock .dockedtitle h2,
body.has_dock.essential-colours-alternative4 #dock .dockeditempanel_hd h2 {
  color: [[setting:alternativethemetextcolor4]];
}
body.has_dock.essential-colours-alternative4 #dock .dockedtitle h2:before,
body.has_dock.essential-colours-alternative4 #dock .dockeditempanel_hd h2:before {
  color: [[setting:alternativethemecolor4]];
}
body.has_dock.essential-colours-alternative4 #dock .dockedtitle:hover,
body.has_dock.essential-colours-alternative4 #dock .dockedtitle:focus,
body.has_dock.essential-colours-alternative4 #dock .dockedtitle:active,
body.has_dock.essential-colours-alternative4 #dock .dockedtitle.active,
body.has_dock.essential-colours-alternative4 #dock .dockedtitle.disabled,
body.has_dock.essential-colours-alternative4 #dock .dockedtitle[disabled] {
  background-color: [[setting:alternativethemehovercolor4]];
}
/* @end */
/* @group Edit Buttons */
.menu a.menu-action > i,
.course-item-actions a > i,
.actions a > i {
  color: [[setting:themeiconcolor]];
}
.menu a.menu-action:hover > i,
.course-item-actions a:hover > i,
.actions a:hover > i {
  color: [[setting:themehovercolor]];
}
.section-modchooser-link > a:before {
  color: [[setting:themeiconcolor]];
}
/* @end */
/* @group Forms */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.form-item .form-description,
.form-defaultinfo,
.form-label .form-shortname {
  color: [[setting:themetextcolor]];
}
#page form .form-buttons #fgroup_id_buttonar,
#page form table#form td.submit #fgroup_id_buttonar,
#page form .form-buttons #fgroup_id_buttonar,
#page form .path-admin .buttons #fgroup_id_buttonar,
#page form #fitem_id_submitbutton #fgroup_id_buttonar,
#page form .fp-content-center form + div #fgroup_id_buttonar,
#page form div.backup-section + form #fgroup_id_buttonar,
#page form #fgroup_id_buttonar #fgroup_id_buttonar,
#page form fieldset:last-of-type.hidden #fgroup_id_buttonar {
  background-color: [[setting:themecolor]];
}
#page form #fitem_id_submitbutton {
  background-color: [[setting:themecolor]];
}
#page form .form-buttons,
#region-main form .form-buttons,
#page form #fgroup_id_buttonar,
#region-main form #fgroup_id_buttonar {
  background-color: [[setting:themecolor]];
  border-top: 1px solid [[setting:themeiconcolor]];
}
/* @end */
/* @group Frontpage */
/* @group Marketing Spots */
#marketing-spots {
  overflow: hidden;
}
#marketing-spots .marketing-spot h5 {
  color: [[setting:themecolor]];
}
/* @end */
/* @end */
/* @group Header */
#page-header {
  color: [[setting:headertextcolor]];
}
#page-header h1#title {
  color: [[setting:headertextcolor]];
}
#page-header h1#smalltitle {
  color: [[setting:headertextcolor]];
}
#page-header h2#subtitle {
  color: [[setting:headertextcolor]];
}
#page-header #headerlogo {
  color: [[setting:themeiconcolor]];
}
#page-header .btn-icon .icon-bar {
  background-color: [[setting:themecolor]];
}
.socials {
  margin: 0px;
}
.socials p {
  color: [[setting:headertextcolor]];
}
/* @end */
/* @group Navbar */
/* @group Custom Menu */
.navbar .navbar-inner .brand {
  color: [[setting:themenavcolor]];
}
.navbar .navbar-inner .btn-navbar .icon-bar {
  background-color: [[setting:themecolor]];
}
.navbar .navbar-inner .dropdown-menu {
  border: 1px solid [[setting:themecolor]];
}
.navbar .navbar-inner .nav > li.dropdown a,
.navbar .navbar-inner .nav > li > a {
  color: [[setting:themenavcolor]];
}
.navbar .navbar-inner .nav > li.dropdown a i,
.navbar .navbar-inner .nav > li > a i {
  color: inherit;
}
.navbar .navbar-inner .nav > li.dropdown a:hover,
.navbar .navbar-inner .nav > li > a:hover {
  color: [[setting:themecolor]];
  background-color: [[setting:themenavcolor]];
}
.navbar .navbar-inner .nav > li.dropdown a:hover i,
.navbar .navbar-inner .nav > li > a:hover i {
  color: inherit;
}
.navbar .navbar-inner .nav > li.dropdown ul.dropdown-menu > li > a {
  color: [[setting:themeurlcolor]];
}
.navbar .navbar-inner .nav > li.dropdown ul.dropdown-menu > li > a:hover {
  color: #ffffff;
  background-color: [[setting:themeurlcolor]];
}
.navbar .navbar-inner .nav > li.dropdown ul.dropdown-menu > li > a:focus,
.navbar .navbar-inner .nav > li.dropdown ul.dropdown-menu > li > a.open {
  color: #ffffff;
  background-color: [[setting:themeurlcolor]];
}
.navbar .navbar-inner .nav > li.dropdown ul.dropdown-menu > li > a:focus i,
.navbar .navbar-inner .nav > li.dropdown ul.dropdown-menu > li > a.open i {
  color: #ffffff;
}
.navbar .navbar-inner .nav > li.dropdown ul.dropdown-menu > li > a:hover .dimmed_text {
  color: #eeeeee;
}
.navbar .navbar-inner .nav > li.dropdown ul.dropdown-menu > li > a i {
  color: [[setting:themeiconcolor]];
}
.navbar .navbar-inner .nav > li.dropdown ul.dropdown-menu > li.dropdown-submenu:hover > a {
  color: #ffffff;
  background-color: [[setting:themeurlcolor]];
}
.navbar .navbar-inner .nav > li.dropdown ul.dropdown-menu > li.dropdown-submenu:hover > a i {
  color: inherit;
}
.navbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle,
.navbar .navbar-inner .nav li.dropdown.active > .dropdown-toggle,
.navbar .navbar-inner .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: [[setting:themehovercolor]];
}
.navbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle i,
.navbar .navbar-inner .nav li.dropdown.active > .dropdown-toggle i,
.navbar .navbar-inner .nav li.dropdown.open.active > .dropdown-toggle i {
  color: inherit;
}
.navbar .navbar-inner .usermenu .dropdown img.userpicture {
  border: 1px solid [[setting:themenavcolor]];
}
.navbar .navbar-inner .usermenu .dropdown ul.dropdown-menu {
  border: 1px solid [[setting:themecolor]];
}
.navbar .navbar-inner .usermenu .dropdown ul.dropdown-menu hr.sep {
  border-bottom: 1px dotted [[setting:themecolor]];
}
.navbar .navbar-inner .messagemenu ul.nav ul.dropdown-menu {
  border: 1px solid [[setting:themecolor]];
}
.navbar .navbar-inner .messagemenu ul.nav ul.dropdown-menu li > a {
  border-top: 1px dotted [[setting:themecolor]];
}
.navbar .navbar-inner .messagemenu ul.nav ul.dropdown-menu li > a:hover .message,
.navbar .navbar-inner .messagemenu ul.nav ul.dropdown-menu li > a:hover .notification {
  color: #ffffff;
  background-color: [[setting:themehovercolor]];
}
.navbar .navbar-inner .messagemenu ul.nav ul.dropdown-menu li > a:hover .message img.userpicture,
.navbar .navbar-inner .messagemenu ul.nav ul.dropdown-menu li > a:hover .notification img.userpicture,
.navbar .navbar-inner .messagemenu ul.nav ul.dropdown-menu li > a:hover .message img.profilepicture,
.navbar .navbar-inner .messagemenu ul.nav ul.dropdown-menu li > a:hover .notification img.profilepicture {
  box-shadow: 0 0 3px [[setting:themenavcolor]];
}
/* @end */
/* @end */
/* @group Print Styling */
@media print {
  .navbar .sep {
    color: [[setting:themecolor]];
  }
}
/* @end */
/* @group Responsive */
@media (max-width: 979px) {
  .navbar .navbar-inner .nav-collapse .nav > li.dropdown ul.dropdown-menu > li > a {
    color: [[setting:themecolor]];
  }
  .navbar .navbar-inner .nav-collapse .nav > li.dropdown ul.dropdown-menu > li > a:hover,
  .navbar .navbar-inner .nav-collapse .nav > li.dropdown ul.dropdown-menu > li > a.open {
    color: [[setting:themenavcolor]];
    background-color: [[setting:themecolor]];
  }
  .navbar .navbar-inner .nav-collapse .nav > li.dropdown ul.dropdown-menu > li > a:hover .fa,
  .navbar .navbar-inner .nav-collapse .nav > li.dropdown ul.dropdown-menu > li > a.open .fa {
    color: inherit;
  }
  .navbar .navbar-inner .nav-collapse .nav li.dropdown ul.dropdown-menu {
    background-color: [[setting:themenavcolor]];
    color: [[setting:themecolor]];
  }
}
/* @end */
/* @group Settings */
/* @group Core */
*,
p {
  font-family: [[setting:bodyfont]];
}
body {
  color: [[setting:themetextcolor]];
  font-family: [[setting:bodyfont]];
  background-image: [[setting:pagebackground]];
  background-attachment: [[setting:backgroundattach]];
  background-repeat: [[setting:backgroundrepeat]];
  background-size: [[setting:backgroundsize]];
}
body i {
  color: [[setting:themeiconcolor]];
}
body i:hover {
  color: [[setting:themehovercolor]];
}
.container-fluid {
  max-width: [[setting:pagewidth]];
}
h1,
h2,
h3,
h4,
h5,
h6,
#adminsettings h3 {
  color: [[setting:themetextcolor]];
}
a,
a:visited {
  color: [[setting:themeurlcolor]];
}
a:hover {
  color: [[setting:themehovercolor]];
}
a:hover:before {
  color: [[setting:themehovercolor]];
}
a:before {
  color: [[setting:themeiconcolor]];
  display: inline-block;
  text-decoration: none;
}
a:before:hover {
  color: [[setting:themehovercolor]];
}
.color {
  color: [[setting:themecolor]];
}
/* @group Custom */
.bor {
  background: url([[pix:theme|bg/dot]]) repeat-x;
}
img.userpicture,
img.profilepicture {
  box-shadow: 0px 0px 3px [[setting:themecolor]];
}
/* @end */
/* @end */
/* @group Header */
#page-header {
  background: url('[[setting:headerbackground]]') repeat;
}
a.logo {
  background-image: [[setting:logo]];
}
h1#title {
  color: [[setting:themetextcolor]];
}
#headerlogo {
  border-right: 1px dotted [[setting:themecolor]];
}
/* @group Social Buttons */
button.website:hover,
button.website:focus {
  background-color: [[setting:themecolor]];
}
/* @end */
/* @end */
/* @group Theme Colours Menu */
a .colours-default {
  color: [[setting:themecolor]] !important;
}
a .colours-alternative1 {
  color: [[setting:alternativethemecolor1]] !important;
}
a .colours-alternative2 {
  color: [[setting:alternativethemecolor2]] !important;
}
a .colours-alternative3 {
  color: [[setting:alternativethemecolor3]] !important;
}
a .colours-alternative4 {
  color: [[setting:alternativethemecolor4]] !important;
}
/* @end */
/* @group Navbar
 */
.navbar,
.navbar-inner {
  background-color: [[setting:themecolor]];
}
/* @end */
/* @group Course
 */
.course-content ul li.section.main {
  background: url([[pix:theme|bg/dot]]) bottom repeat-x;
}
.course-content ul li.section.main.clearfix.current .content {
  box-shadow: 0px 0px 6px 2px [[setting:themecolor]];
  border-radius: 10px;
}
h2.pagetitle {
  background: url([[pix:theme|bg/dot]]) left center repeat-x;
}
.firstword {
  color: [[setting:themetextcolor]] !important;
}
/* @end */
/* @group Forums */
.forumpost .subject {
  color: [[setting:themetextcolor]];
}
/* @end */
/* @group Buttons */
.button a,
.button a:visited {
  background-color: [[setting:themecolor]];
}
a.marketing-button,
a.marketing-button:visited {
  background-color: [[setting:themecolor]];
}
a.marketing-button:hover {
  background-color: [[setting:themehovercolor]];
}
/* @end */
/* @group Blocks */
.block a {
  color: [[setting:themeurlcolor]];
}
.block a:hover {
  color: [[setting:themehovercolor]];
}
.block .header .title h2:before,
.block.block_iconic_html .header .title h2 span.fa:before {
  color: [[setting:themeiconcolor]];
}
.block_rss_client .footer a {
  background-color: [[setting:themecolor]];
}
.block_rss_client .footer a:hover {
  background-color: [[setting:themehovercolor]];
}
.block_login .content .footer a {
  background-color: [[setting:themecolor]];
  font-family: [[setting:bodyfont]];
}
.block_login .content .footer a:hover {
  backgroundcolor: [[setting:themehovercolor]];
}
.block_login .content form input[type="submit"] {
  background-color: [[setting:themecolor]];
  font-family: [[setting:bodyfont]];
}
/* @end */
/* @group Frontpage */
#site-news-forum,
#frontpage-course-list,
#frontpage-category-combo,
#frontpage-category-names {
  background: url([[pix:theme|bg/dot]]) left top repeat-x;
}
#page-site-index h2.headingblock:before {
  color: [[setting:themetextcolor]];
}
/* @end */
/* @group Home News Boxes */
.service i {
  color: [[setting:themecolor]];
}
/* @end */
/* @group Footer */
#page-footer {
  background-color: [[setting:footercolor]];
  color: [[setting:footertextcolor]];
  border-top: 2px solid [[setting:themecolor]];
  border-bottom: 3px solid [[setting:themecolor]];
}
#page-footer a,
#page-footer a > i {
  color: [[setting:footerurlcolor]];
}
#page-footer a:hover,
#page-footer a:hover > i {
  color: [[setting:footerhovercolor]];
}
#page-footer .footnote {
  color: [[setting:footertextcolor]];
}
#page-footer .footnote a,
#page-footer .footnote a:visited {
  color: [[setting:footerurlcolor]] !important;
}
#page-footer .footnote a:hover {
  color: [[setting:footerhovercolor]] !important;
}
#page-footer hr {
  border-top: 1px solid [[setting:footersepcolor]];
}
#page-footer h4 {
  border-bottom: 1px solid [[setting:footersepcolor]];
  color: [[setting:footerheadingcolor]];
}
#page-footer .tree_item.branch:before {
  color: [[setting:themeiconcolor]];
}
#page-footer .block_html ul li:before,
#greyboxright ul li:before {
  background-color: [[setting:themecolor]];
}
/* @group Footer Block Formatting */
#page-footer .block .header {
  border-bottom: 1px solid [[setting:footersepcolor]];
}
#page-footer .block .header .title h2 {
  color: [[setting:footerheadingcolor]];
}
#page-footer .block .header .title h2:before {
  color: [[setting:themecolor]];
}
#page-footer .block_login input[type="submit"] {
  background-color: [[setting:themecolor]];
}
#page-footer .block_login input[type="submit"]:hover {
  background-color: [[setting:themehovercolor]];
}
#page-footer .block_rss_client .content a {
  color: [[setting:themeurlcolor]];
}
/* @end */
/* @end */
/* @group Marketing Spots */
#marketing-image1 {
  background-image: [[setting:marketing1image]];
  background-repeat: no-repeat;
}
#marketing-image2 {
  background-image: [[setting:marketing2image]];
  background-repeat: no-repeat;
}
#marketing-image3 {
  background-image: [[setting:marketing3image]];
  background-repeat: no-repeat;
}
.marketing-image {
  height: [[setting:marketingheight]];
}
/* @end */
/* @group Profile Image */
.socials img:hover {
  box-shadow: 0px 0px 10px 0px [[setting:themecolor]];
}
/* @end */
/* @group Tabs */
.nav-tabs > li > a {
  color: [[setting:themenavcolor]];
  background-color: [[setting:themecolor]];
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: [[setting:themecolor]];
  background-color: [[setting:themenavcolor]];
}
.nav-tabs > li.active > a {
  color: [[setting:themetextcolor]];
  background-color: #fff;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: inherit;
  background-color: inherit;
}
@media (max-width: 979px) {
  .nav-collapse {
    background-color: [[setting:themecolor]];
    border: 1px solid [[setting:themecolor]];
  }
  .nav-collapse .nav > li a:hover,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .nav > li a:focus,
  .nav-collapse .dropdown-menu a:focus {
    color: [[setting:themecolor]];
    background-color: [[setting:themenavcolor]];
  }
}
/* @end */
/* @group Performance Information */
.performanceinfo {
  border-color: [[setting:themeiconcolor]];
}
.performanceinfo var {
  background-color: [[setting:themecolor]];
  color: [[setting:themenavcolor]];
}
.performanceinfo h2 {
  color: [[setting:themetextcolor]];
  border-bottom-color: [[setting:themeiconcolor]];
}
.performanceinfo h2:before {
  color: [[setting:themeiconcolor]];
}
.performanceinfo span {
  color: [[setting:themetextcolor]];
}
.performanceinfo #cache:before,
.performanceinfo #load:before,
.performanceinfo #memory:before,
.performanceinfo #peakmemory:before,
.performanceinfo #session:before,
.performanceinfo #included:before,
.performanceinfo #dbqueries:before,
.performanceinfo #dbtime:before {
  color: [[setting:themenavcolor]];
}
/* @end */
/* @group Quiz */
#page-mod-quiz-edit .questionbankwindow.block div.header {
  background-color: [[setting:themecolor]];
  border: 1px solid [[setting:themeiconcolor]];
}
#page-mod-quiz-edit .questionbankwindow.block div.header div.title h2 {
  color: [[setting:themenavcolor]];
}
#page-mod-quiz-edit .questionbankwindow.block div.header div.title h2 a#showbankcmd,
#page-mod-quiz-edit .questionbankwindow.block div.header div.title h2 a#hidebankcmd {
  color: [[setting:themenavcolor]];
}
#page-mod-quiz-edit .questionbankwindow.block div.header div.title h2 a#showbankcmd:hover,
#page-mod-quiz-edit .questionbankwindow.block div.header div.title h2 a#hidebankcmd:hover {
  color: [[setting:themenavcolor]];
}
#page-mod-quiz-edit .questionbankwindow.block div.header div.title h2:before {
  color: [[setting:themenavcolor]];
}
/* @end */
/* @group Gradebook */
table#user-grades th.item,
table#user-grades th.categoryitem,
table#user-grades th.courseitem {
  border-bottom-color: [[setting:themecolor]];
}
.path-grade-report-grader table#fixed_column th {
  border-right-color: [[setting:themecolor]];
}
.path-grade-report-grader .grade_icons img {
  background-color: #fff;
  padding: 3px;
  border-radius: 3px;
}
/* @end */
/* @group Back To Top */
.back-to-top a {
  color: [[setting:themecolor]] !important;
}
.back-to-top a:hover {
  color: [[setting:themehovercolor]] !important;
}
/* @end */
/* @group Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.back-to-top,
.socials p,
#profileheading,
#socialheading,
.forumpost .subject,
.block_login label {
  font-family: [[setting:headingfont]];
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-family: inherit;
}
/* @end */
/* @group Editicons */
.actions a {
  color: [[setting:themeurlcolor]];
}
.actions a:hover,
.actions a:focus,
.actions a:active {
  color: [[setting:themehovercolor]];
}
.actions .moodle-actionmenu[data-enhanced].show .menu a {
  color: [[setting:themeurlcolor]];
}
.actions .moodle-actionmenu[data-enhanced].show .menu a:hover,
.actions .moodle-actionmenu[data-enhanced].show .menu a:focus,
.actions .moodle-actionmenu[data-enhanced].show .menu a:active {
  color: [[setting:themehovercolor]];
}
.actions .moodle-actionmenu[data-enhanced].show .menu a:hover {
  color: [[setting:themenavcolor]];
  background-color: [[setting:themecolor]];
}
.actions .moodle-actionmenu[data-enhanced].show .menu a:hover .fa:before {
  color: [[setting:themenavcolor]];
}
/* @end */
/* @group Chat */
#chat-input-area table.generaltable td.cell {
  background-color: [[setting:themecolor]] !important;
}
/* @end */
/* @end */
/* @group Custom */
/* @Group Scrollbar */
body {
  scrollbar-face-color: [[setting:themecolor]];
  scrollbar-highlight-color: [[setting:themenavcolor]];
  scrollbar-3dlight-color: [[setting:themenavcolor]];
  scrollbar-darkshadow-color: [[setting:themecolor]];
  scrollbar-track-color: [[setting:themenavcolor]];
  scrollbar-arrow-color: [[setting:themetextcolor]];
}
::-webkit-scrollbar {
  background-color: [[setting:themenavcolor]];
}
::-webkit-scrollbar-track {
  background-color: [[setting:themenavcolor]];
}
::-webkit-scrollbar-track-piece {
  background-color: [[setting:themenavcolor]];
}
::-webkit-scrollbar-thumb {
  background-color: [[setting:themecolor]];
  border: 0px;
}
::-webkit-scrollbar-corner {
  background-color: [[setting:themecolor]];
}
/* @end Scrollbar */
/* @end Custom */
