#page-blocks-quickmail-admin_email div.region-content table.generaltable {
   margin: 0 auto 30px auto;
   width: 70%;
}

#page-Quickmail div.region-content table.generaltable, #page-Quickmail div.region-content div.generalbox {
   margin-left: 20px;
   margin-right: 20px;
}




#page-Quickmail .emailtable {
    background-color: inherit;
}

#page-Quickmail .emailtable .r1 .c0, .emailtable .r1 .c2 {
    width: 275px;
}

#page-Quickmail .object_labels {
    margin-right: 20px;
    font-weight: bold;
}

#page-Quickmail .emailtable .cell {
    border: none;
}

#page-Quickmail .emailtable .r0 .cell {
    padding: .5em .5em .3em .5em;
}

#page-Quickmail .emailtable .r1 .c1 {
    text-align: center;
    vertical-align: middle;
}

#page-Quickmail .emailtable .r1 .c2 div {
    padding: 2px 0;
}

#page-Quickmail .emailtable .r1 .c2, .emailtable .r0 .c1 {
    text-align: right;
}

#page-Quickmail .mform fieldset.hidden>div {
   clear:both;
   float:none;
   position:center;
   overflow:hidden;
   //min-width:900px;
   width:100%;
   text-align:left;
   margin:auto;
}

.mform #add_button, .mform #remove_button, .mform #add_all,.mform #remove_all {
   width: 100%;

}

#page-Quickmail .mform input#id_subject {
  width: 75%;
}

.mform .selectorsLeft, 
.mform .selectorsRight,
.mform .selectorsCenter
{
	display: inline-block;
}

.mform .selectorsLeft, 
.mform .selectorsRight
{
	width: 42%;
	margin: 0;
	max-height: 500px;
}
.mform .selectorsCenter
{
	width: 16%;
	padding: 0 1%;
	text-align: center;
}

.mform .selectorsCenter input[type="button"]
{
	margin: 5px 0;
	font-size: 13px;
  height: auto;
  white-space: normal;
	padding: 4px 20px;
}

.mform #add_button
{
	background: #007cb7 url([[pix:block_quickmail|arrowbtnLeftWhite]]) no-repeat;
	background-position-x: left;
	background-position-y: center;
	background-size: 18px auto;
}

.mform #add_all
{
	background: #007cb7 url([[pix:block_quickmail|arrowbtnLeftWhite2]]) no-repeat;
	background-position-x: left;
	background-position-y: center;
	background-size: 18px auto;
}

.mform #remove_button
{
	background: #007cb7 url([[pix:block_quickmail|arrowbtnRightWhite]]) no-repeat;
	background-position-x: right;
	background-position-y: center;
	background-size: 18px auto;
}
.mform #remove_all
{
	background: #007cb7 url([[pix:block_quickmail|arrowbtnRightWhite2]]) no-repeat;
	background-position-x: right;
	background-position-y: center;
	background-size: 18px auto;
}


#page-Quickmail .fdate_time_selector select{
	margin-right: 2px;
}

@media screen and (max-width: 800px)
{
	.mform .selectorsCenter input[type="button"]
	{
		min-width: 30px;
		text-indent: -9999px;
    background-position-x: center!important;
	}
}
