.block_moodecprogress .content {
    text-align: center;
}

.block_moodecprogress table {
    margin: 0 auto;
    padding: 0;
}

.moodecprogressBarProgressTable td
{
	padding: 0;
	border: none;
}

.block_moodecprogress .moodecprogressBarProgressTable {
    width: 100%;
    margin: 0 0 5px 0;
    height: 25px;
    overflow: hidden;
}

.block_moodecprogress .moodecprogressBarProgressTable.noNow {
    height: 19px;
}

.block_moodecprogress .moodecprogressBarCell {
    height: 19px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    background-color: none;
    cursor: pointer;
    border-left: solid 1px #e3e3e3;
}

.block_moodecprogress .moodecprogressBarCell#first {
    border-radius: 0;
    border-left: none;
}

.block_moodecprogress .moodecprogressBarCell#last {
    border-radius: 0;
}

.block_moodecprogress .moodecprogressBarCell img {
    width: 100%;
    height: 15px;
    margin: 1px 0 0 0;
    padding: 0;
}

.block_moodecprogress .moodecprogressBarCell .smallicon {
    width: 85%;
    height: 85%;
    max-width: 15px;
    height: auto;
    max-height: 15px;
    vertical-align: text-bottom;
}

.block_moodecprogress .moodecprogressEventInfo {

    text-align: left;
    white-space: pre;
    overflow: hidden;
    padding: 0;
    margin: 5px auto;
}

#page-blocks-moodecprogress-overview .block_moodecprogress .moodecprogressEventInfo {
    width: 285px;
		max-width: 285px;
}

.block_moodecprogress .moodecprogressEventInfo img {
    vertical-align: middle;
}

.block_moodecprogress .moduleIcon {
    margin-right: 5px;
}

.block_moodecprogress .moodecprogressBarHeader {
    font-size: 90%;
    margin: 0;
    padding: 0;
}

.block_moodecprogress h3 {
    margin-bottom: 0;
}

.block_moodecprogress .expectedBy {
    //margin: 5px auto;
}

.moodecprogressConfigBox {
    border-bottom: 1px dashed #cccccc;
    padding: 5px;
    margin: 0 0 5px 0 !important;
}

.moodecprogressConfigModuleTitle {
    font-weight: bold;
}

.moodecprogressConfigModuleTitle img {
    vertical-align: middle;
}

#page-blocks-moodecprogress-overview .groupselector {
    text-align: center;
}

#page-blocks-moodecprogress-overview .moodecprogressoverviewmenus {
    text-align: center;
    margin-bottom: 5px;
}

#page-blocks-moodecprogress-overview .moodecprogressoverviewmenus form,
#page-blocks-moodecprogress-overview .moodecprogressoverviewmenus select,
#page-blocks-moodecprogress-overview .moodecprogressoverviewmenus div {
    display: inline;
}

#page-blocks-moodecprogress-overview .moodecprogressoverviewmenus select {
    margin-left: 2px;
}

.block_moodecprogress .overviewButton {
    margin: 10px;
}

#page-blocks-moodecprogress-overview .buttons {
    margin-top: 20px;
    text-align: center;
}

#page-blocks-moodecprogress-overview .buttons label {
    display: inline;
    margin: 0 5px 0 10px;
}

#checkAllNone
{
	float: left;
	margin-left: 7px;
}

select#formactionid
{
	margin: 0px 5px 0px 0px;
	
}


.progressBarCells
{

}

.progressBarCellsPos
{

	color: #007cb7;
	
}

.progressBarCellsCase
{

	padding: 0 15px;
}
.progressBarCells.noNow .progressBarCellsCase
{
	padding: 0;
}

.progressBarCells .moodecprogressBarCell
{
	display: inline-block;
  margin: 2px 0 0px 0;
	position: relative;
	min-width: 14px;
	vertical-align: bottom;
}

.progressBarCells .moodecprogressBarCell.hasNow
{
  margin: 26px 0 0px 0;
}
.progressBarCells.noNow .moodecprogressBarCell
{
	display: inline-block;
  margin: 2px 0;
	
}


.moodecprogressBarCell .progressBarPosSymbole
{
	position: absolute;
	background: transparent url([[pix:block_moodecprogress|now]]) no-repeat;
	background-position-y: bottom;
	background-size: 14px auto;
	height: 22px;
	top: -22px;
	min-width: 14px;
    
}


.block_moodecprogress .moodecprogressEventInfo
{
	min-height: 70px;
	margin-top: 15px;
	padding: 0 15px;
	position: relative;
}

.block_moodecprogress .moodecprogressEventInfo.noNow
{
	padding: 0;
}

.block_moodecprogress .moodecprogressEventInfo .mpei_icon
{
	position: absolute;
	left: 15px;
	top: 0;
}

.block_moodecprogress .moodecprogressEventInfo.noNow .mpei_icon
{
	left: 0;
}

.block_moodecprogress .moodecprogressEventInfo .mpei_content
{
	position: relative;
	padding-left: 40px;
}

.block_moodecprogress .moodecprogressEventInfo .mpei_content .mpei_content_title
{
	margin: 0 0 10px 0;
	padding-left: 20px;
}

.block_moodecprogress .mpei_content_title img.moduleIcon
{
	margin-left: -20px;
}

.block_moodecprogress  img.smallicon
{
	width: 32px;
	height: 32px;
}